@use '../common/colors' as *;
@use '../vis/variables' as *;
@use '../common/mixins';

// content
.content {
  @include mixins.baseFlexBlock();
  padding-block: 2rem;

  & > section:last-child {
    padding-block-end: 2rem;
  }

  scroll-behavior: smooth;

  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr
    clamp(30rem, calc(100% - 2rem), 65rem)
    minmax(400px, 1fr);

  & > :where(h1, h2, h3, h4, section, p, ul, ol, blockquote, nav[role="toc"]) {
    grid-column: 2 / span 1;
    padding-inline: 1rem;
  }

  nav[role="toc"],
  .info-box {
    position: sticky;
    top: 0;
    left: 0;
    grid-column: 3 / span 1;
    margin-inline: 0 auto;
    height: 1vh;  // to ensure stickiness
  }

  @media (max-width: 1500px) {
    grid-template-columns: 1fr
      clamp(30rem, calc(100% - 2rem), 65rem)
      1fr;

    nav[role="toc"],
    .info-box {
      position: static;
      top: unset;
      left: unset;
      margin: unset;
      grid-column: 2 / span 1;
      height: initial;
    }

    .info-box {
      margin: auto;
    }
  }
}

// headings
h1, h2, h3, h4, h5 {
  padding: revert;
  margin: revert;
}

blockquote {
  margin-inline-start: 0.2em;
  border-inline-start: 0.2em solid $clr-gray;
  padding-inline: 1em;
}

// item-specific
section.item {
  p, ul, ol, blockquote {
    padding-inline-start: 8rem;

    @media print {
      padding-inline-start: 4cm;
    }
  }

  ul, ol {
    margin-inline-start: 1.5rem;

    @media print {
      margin-inline-start: 1cm;
    }
  }
}
