**/node_modules/
**/__pycache__/
/devdata/
/Dockerfile
/dhimmis/geodb_editor/static/
/dhimmis/prototype/static/
/dhimmis/docs/assets/database_schema.pdf.br
/dhimmis/docs/static/
/dhimmis/root/static/
/dhimmis/login/static/
/dhimmis/postgres_rest_api/static/
/dhimmis/annotator/static/
/dhimmis/annotator2/static/
/dhimmis/reporting/static/
/dhimmis/uri/static/
/dhimmis/docs/templates/docs/changelog.txt
/pyenv/
/pytest.log
