**/node_modules/
**/__pycache__/
/devdata/
/Dockerfile
/damast/geodb_editor/static/
/damast/vis/static/
/damast/docs/assets/database_schema.pdf.br
/damast/docs/static/
/damast/root/static/
/damast/login/static/
/damast/postgres_rest_api/static/
/damast/annotator/static/
/damast/annotator2/static/
/damast/reporting/static/
/damast/uri/static/
/damast/questionnaire/static/
/damast/docs/templates/docs/changelog.txt
/damast/docs/templates/docs/license.txt
/damast/reporting/templates/reporting/license.txt
/pyenv/
/pytest.log
