{% set footnote_lut = dict() %}
{% set footnotes = namespace(i=1) %}
{%- from 'reporting/fragments/macros.html' import create_evidence_linklist with context -%}
{%- from 'reporting/fragments/evidence.html' import create_evidence with context -%}
{%- from 'reporting/fragments/place.html' import create_place with context -%}
{%- from 'reporting/fragments/religion.html' import create_religion with context -%}
{%- from 'reporting/fragments/person.html' import create_person with context -%}
{%- from 'reporting/fragments/timeline.html' import create_timeline with context -%}
{%- from 'reporting/fragments/metadata.html' import creation_metadata, filter_description with context -%}

<nav role="toc">
  <h1>Table of Contents</h1>
  <ul>
    <li><a href="#filters">Query Description</a></li>
    <li><a href="#evidences">Evidences</a></li>
    <li><a href="#places">Places</a></li>
    <li><a href="#religions">Religions</a></li>
    {%- if persons|length -%}
    <li><a href="#persons">Persons</a></li>
    {%- endif -%}
    <li><a href="#timeline">Timeline</a></li>
    <li><a href="#sources">Sources</a></li>
  </ul>
</nav>

<section id="filters">
  <h1>Query Description</h1>

  {{ creation_metadata(metadata) }}

  {{ filter_description(filter_desc) }}

  <p>
    This report contains:
    <strong>{{ evidences | length }}</strong> distinct evidences,
    <strong>{{ places | length }}</strong> distinct places,
    <strong>{{ religions | length }}</strong> distinct religions,
    {%- if persons|length -%}
    <strong>{{ persons | length }}</strong> distinct persons,
    {%- endif -%}
    based on <strong>{{ sources | length }}</strong> distinct sources.
  </p>
</section>

<section id="evidences">
  <h1>Evidences</h1>

  {% for evidence in evidences %}
    {{ create_evidence(evidence) }}
  {% endfor %}
</section>

<section id="places">
  <h1>Places</h1>

  <figure class="place-map">
    {{ place_map | safe }}

    <figcaption>
      Made with <a href="https://www.naturalearthdata.com/">Natural Earth</a>.
      <a href="{{ map_url }}" target="_blank">[PDF]</a>
    </figcaption>
  </figure>

  {% for place in places %}
    {{ create_place(place) }}
  {% endfor %}
</section>

<section id="religions">
  <h1>Religions</h1>

  {% for religion in religions %}
    {{ create_religion(religion) }}
  {% endfor %}
</section>

{%- if persons|length -%}
<section id="persons">
  <h1>Persons</h1>

  {% for person in persons %}
    {{ create_person(person) }}
  {% endfor %}
</section>
{%- endif -%}

<section id="timeline">
  <h1>Timeline</h1>

  {{ create_timeline(time_data) }}
</section>

{% if sources %}
<section id="sources">
  <h1>Sources</h1>

  <ul class="source-list">
    {% for i, source in sources %}
    <li id="source{{source.id}}" class="source">
      <span class="source__short" >
        {{ source.short }}
      </span>
      <p class="source__name">
        {{ source.name }}
        <span class="source__type">{{ source.source_type }}</span>
      </p>
      <p class="source__name">
        {{ create_evidence_linklist(source_evidence[source.id], before='', middle=' based on this source: ', after='') }}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

