{%- from 'reporting/fragments/macros.html' import download_filter_link, rerun_report_link, visualization_with_filter_link with context -%}
{% extends "base.html" %}

{% block title %}Report List{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('reporting.file', path='report-list.css') }}">
{% endblock %}

{% block content %}
{%- include "reporting/fragments/list_navigation.html" with context -%}

<section class="report-table">
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>UUID</th>
        <th>S.Ver.</th>
        <th>Status</th>
        <th># Ev.</th>
        <th>HTML</th>
        <th>PDF</th>
        <th>Map</th>
        <th>{#- Open visualization with filter (no title) -#}</th>
        <th>{#- Download filter JSON (no title) -#}</th>
        <th>{#- Re-run report now (no title) -#}</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reports %}
      <tr>
        <td>{{ r.user }}</td>
        <td><code>{{ r.uuid }}</code></td>
        <td><code>{{ r.server_version }}</code></td>
        <td>
          {%- if r.completed is none -%}
          Started at <time datetime="{{ r.started }}">{{ r.started_fmt }}</time>.
          {%- else -%}
          Completed at <time datetime="{{ r.completed }}">{{ r.completed_fmt }}</time>
          (<em><time datetime="{{ r.duration }}">{{ r.duration_fmt | safe }}</time></em>).
          {%- endif -%}
          {%- if r.report_state == 'failed' -%}
          <span class="error-message"> (failed)</span>
          {%- endif -%}
        </td>
        <td>{{ r.evidence_count }} ({{ r.original_evidence_count }})</td>
        <td>
          {%- if r.content is not none -%}
            <a href="{{ url_for('reporting.get_report', report_id=r.uuid) }}">
              <i class="fa fa-book fa--pad-right"></i>
              {{ r.content | bytesize | safe }}
            </a>
          {%- else -%}
            <span class="no-value">&mdash;</span>
          {%- endif -%}
        </td>
        <td>
          {%- if r.pdf_report is not none -%}
            <a href="{{ url_for('reporting.get_pdf_report', report_id=r.uuid) }}" target="_blank">
              <i class="fa fa-file-pdf-o fa--pad-right"></i>
              {{ r.pdf_report | bytesize | safe }}
            </a>
          {%- else -%}
            <span class="no-value">&mdash;</span>
          {%- endif -%}
        </td>
        <td>
          {%- if r.pdf_map is not none -%}
            <a href="{{ url_for('reporting.get_map', report_id=r.uuid) }}" target="_blank">
              <i class="fa fa-file-pdf-o fa--pad-right"></i>
              {{ r.pdf_map | bytesize | safe }}
            </a>
          {%- else -%}
            <span class="no-value">&mdash;</span>
          {%- endif -%}
        </td>
        <td title="Open visualization with these filters">{{ visualization_with_filter_link(r.uuid, true) }}</td>
        <td title="Download filter JSON">{{ download_filter_link(r.uuid, true) }}</td>
        <td title="Re-run report now">{{ rerun_report_link(r.uuid, true) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{%- include "reporting/fragments/list_navigation.html" with context -%}
{% endblock %}
