[Unit]
Description=Flask application for Damast Prototype (test server)
Wants=pgadmin4.service nginx.service
After=network-online.target docker.service postgresql-10.service

[Service]
Type=oneshot
RemainAfterExit=true
Restart=no
WorkingDirectory=/www-testing
ExecStart=/bin/sh run_server.sh
ExecStop=/bin/docker stop damast-testing

[Install]
WantedBy=multi-user.target

