[Unit]
Description=Flask application for Dhimmis Prototype
Wants=network-online.target pgadmin4.service docker.service nginx.service
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
Restart=no
WorkingDirectory=/www
ExecStart=/bin/sh run_server.sh
ExecStop=/bin/docker stop dhimmis

[Install]
WantedBy=multi-user.target

