{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('root-app.file', path='style.css') }}">
{% endblock %}
{% block content %}
<div class="language-selector">
  <i class="fa fa-lg fa-fw fa-globe"></i>
  <a href="?"
     {% if language != 'de' -%}disabled{%- endif %}
     title="View page in English / Auf Englisch lesen"
     aria-labelledby="English/Englisch"
     >EN</a>
  /
  <a href="?lang=de"
     {% if language == 'de' -%}disabled{%- endif %}
     title="View page in German / Auf Deutsch lesen"
     aria-labelledby="German/Deutsch"
     >DE</a>
</div>

<div class="infobox--temporary">
  <h3>What is happening here?</h3>

  <p>
    This page will soon become publically accessible, and function as a project page.
    The rest of the pages, such as the visualization, will stay behind authentication for now.
  </p>

  <p>
    Sharing what we're doing with the rest of the internet is something I want to prepare carefully.
    For now, this page is only accessible with a login.
    Please let me know if you want any changes or additions to the text shown here!
    And of course, this box will not be part of the final page.
  </p>

  <span class="signature">Max</span>
</div>

<h1>
  Dhimmis and Muslims
  <span class="subtitle">Analysing Multi-Religious Spaces in the Medieval Muslim World</span>
</h1>

<p>
{%- if language == 'de' -%}
<em>&bdquo;Dhimmis and Muslims &mdash; Analysing Multi-Religious Spaces in the Medieval Muslim World&ldquo;</em> ist ein gemeinsames Projekt des Lehrstuhls für Mittelalterliche Geschichte II der Goethe-Universität in Frankfurt und dem Institut für Visualisierung und Interaktive Systeme, das von der VolkswagenStiftung als Teil des <em>&bdquo;Mixed Methods&ldquo;</em>-Programms gefördert wird.
{%- else -%}
The project <em>&ldquo;Dhimmis and Muslims &mdash; Analysing Multi-Religious Spaces in the Medieval Muslim World&rdquo;</em> is a collaboration between the Institute for Medieval History II of the Goethe University in Frankfurt and the Institute of Visualization and Interactive Systems.
It is funded by the Volkswagen Foundation as part of the <em>&ldquo;Mixed Methods&rdquo;</em> program.
{%- endif -%}
</p>

{%- if language == 'de' -%}
<p>Zielsetzung des Projekts ist die Entwicklung eines Visualisierungsansatzes, der zu neuen Erkenntnissen über multireligiöses Zusammenleben unter Muslimischer Ägide im Nahen und Mittleren Osten während des Mittelalters führen soll.
Insbesondere sollen Informationen über multireligiöse Städte und Siedlungen erforscht, über eine Datenbank mittels interaktiver Visualisierung zugänglich gemacht werden.
Außerdem wird ein web-basierter, auf interaktiv verknüpften Ansichten beruhender Ansatz für die räumlich-zeitliche Analyse und den Vergleich von Informationen aus unterschiedlichen Quellen geschaffen.
</p>

<p>
Dadurch werden klassische historiographischer Methoden der Heuristik und der qualitativen Quellenanalyse mittels eines interaktiven, visuellen Ansatzes neu überdacht und wiederbelebt.
Gleichzeitig befördert das Projekt die Entwicklung von Methoden der Visuellen Analytik und Informationsvisualisierung, einschließlich interaktiver Text-Mining-Ansätze, visueller Repräsentation von Unsicherheiten und analytischer Provenienzinformation.
Damit liefert das Projekt Beiträge für die Geschichts- und die Visualisierungsforschung.
</p>
{%- else -%}
<p>
The objective of this joint project is to develop a novel visualization approach in order to gain new insights on the multi-religious landscapes of the Middle East under Muslim rule during the Middle Ages (7th to 14th century).
In particular, information on multi-religious communities are researched and made available in a database accessible through interactive visualization as well as through a pilot web-based geo-temporal multi-view system to analyze and compare information from multiple sources.
Thus, we rethink and revive traditional historiographical methods of heuristics, qualitative source analysis and narratives by embedding them into a new visual analytics approach.
The project boosts at the same time methods of visual analytics and information visualization as, e.g., how to interactively improve text mining, to visually represent uncertainty and analytic provenance information.
The project contributes to both disciplines, historiography and visualization research.
</p>
{%- endif -%}

{%- if language == 'de' -%}
<h2>Details</h2>
{%- else -%}
<h2>Details</h2>
{%- endif -%}

<p>
{%- if language == 'de' -%}
Die Frage, wie religiöse Vielfalt in unseren Gesellschaften ermöglicht werden kann, ist heute ein viel diskutiertes und politisch relevantes Thema.
Zugleich sind religiöse Minderheiten in vielen Regionen des Nahen Ostens einer tödlichen Bedrohung ausgesetzt.
Tägliche Gewalt, Bürgerkrieg und religiöse Säuberungen drohen, die letzten Reste multireligiöser Vergangenheit auszulöschen.
Der Konflikt zwischen Sunniten und Schiiten führt in Städten wie Bagdad zu einem beschleunigten Prozess der topographischen Trennung.
Diese Entwicklung geht mit der Zerstörung schriftlicher und archäologischer Quellen einher.
{%- else -%}
Today, the question of how to organize religious diversity in our societies is a much discussed and politically relevant topic.
At the same time religious minorities in many regions of the Middle East are facing a deadly threat.
Every-day violence, civil war and religious cleansing threatens to wipe out the last remainders of the multi-religious past.
The conflict between Sunnis and Shiites causes a quickening process of topographical separation in cities like Baghdad.
This development goes along with the destruction of written and archaeological sources.
{%- endif -%}
</p>

<p>
{%- if language == 'de' -%}
Heute, und nur heute, entsteht im Nahen Osten eine Situation der Monoreligiosität.
Während des Mittelalters wurden jedoch bestimmte Gruppen von Nicht-Muslimen (insbesondere Juden, Christen oder Zoroastrier) toleriert, die ihrerseits einen niedrigeren Rechtsstatus (den so genannten Dhimmi-Status) akzeptieren mussten.
Diese rechtliche Konstruktion und der politische Pragmatismus führten zu einer großen religiösen Vielfalt in der mittelalterlichen muslimischen Welt.
So lebten in den vielen Städten der muslimischen Welt die verschiedenen muslimischen Strömungen (z.B. Sunniten, Schiiten) sowie verschiedene Kirchen des östlichen Christentums (Melkiten, Syrisch-Orthodoxe oder Ostkirche) und jüdische Traditionen (Karaiten, Rabbaniten) nebeneinander.
Oftmals gab es drei oder sogar vier christliche Bischöfe in einer Stadt.
Zusammen prägten sie das Gefüge des alltäglichen Lebens und der Kultur in der islamischen Welt.
Diesen Grad an religiöser Vielfalt findet man nicht in den mittelalterlichen Städten der römischen, byzantinischen und kaukasischen Welt, die von christlicher Herrschaft geprägt waren (Weltecke, 2013).
{%- else -%}
Today, and only today, a mono-religious situation emerges in the Middle East.
During the Medieval centuries, however, specific groups of Non-Muslims (especially Jews, Christians or Zoroastrians) were tolerated and had in turn to accept a lower legal status (the so-called Dhimmi-status).
This legal construction and political pragmatism led to a great religious diversity in the Medieval Muslim world.
Thus, in the many cities of the Muslim world the divers Muslim strands (e.g., Sunnis, Shiites) as well as different churches of Eastern Christianity (Melkite, Syriac orthodox or Church of the East) and Jewish traditions (Karaites, Rabbanites) were living side by side.
Often three or even four Christian bishops resided in one city.
Together they formed the fabric of every-day life and culture in the Islamicate world.
This grade of religious diversity is not found in the medieval cities of the Latin, Byzantine and Caucasian worlds, which were dominated by Christian rule (Weltecke, 2013).
{%- endif -%}
</p>

<p>
{%- if language == 'de' -%}
Die diachrone und synchrone Komplexität dieses multireligiösen Zusammenlebens ist jedoch noch wenig erforscht.
Grundlegende Kenntnisse über die genaue Verteilung und sogar die bloße Existenz religiöser Gruppen an vielen Orten fehlen noch immer.
Bislang basieren historische Erzählungen noch immer eher auf Eindrücken aus singulären Quellen und traditionellen Ansichten als auf empirischen Daten.
Unser Ansatz für die zeitliche und geographische Visualisierung ermöglicht es dem Wissenschaftler, diese Zwänge zu umgehen und fundierte Hypothesen über das Ausmaß multireligiösen Lebens in Asien und Nordafrika zu entwickeln.
Darüber hinaus ermöglichen die visuelle Analyse und interaktiv zugängliche, strukturierte Datenbanken es Historikern, multireligiöse Situationen im Hinblick auf wichtige Kategorien wie Segregation oder Integration zu qualifizieren, die in den traditionellen Quellen nicht thematisiert werden.
Der Umfang und die unterschiedliche Vertrauenswürdigkeit der verfügbaren Quellen legen einen solchen neuen computergestützten Ansatz nahe.
Das Projekt entwickelt interaktive Visualisierungsmethoden für das automatisch gestützte Text-Mining, zur Unterstützung des Analyseprozesses gewonnener Informationen, für die Bestimmung ihrer Konfidenz und deren visuellen Vergleich, Aggregation und Korrelation im räumlich-zeitlichen Kontext.
{%- else -%}
However, the diachronic and synchronic complexity of these multi-religious populations is still understudied.
Basic knowledge about the exact distribution and even the sheer existence of religious groups in many places is still lacking.
So far, historical narratives are still based on impressions of singular sources and traditional views rather than empirical data.
Our approach for temporal and geographical visualization allows the scholar to circumvent these constraints and develop grounded hypotheses on the scale of multi-religious life in Asia and North Africa.
In addition, visual analysis and interactively accessible, structured databases enable historians to qualify multi-religious situations with regard to important categories like segregation or integration, which are no topic of the traditional sources.
The size and the bias of the available sources call for such a new computer-aided approach.
The project develops interactive visualization methods for semi-automatic text mining, the process of analyzing the gained information, for determining its certainty and to aggregate, correlate and compare them visually in geo-temporal contexts.
{%- endif -%}
</p>


{%- if language == 'de' -%}
<h2>Projektpartner</h2>

<p>
Das Projekt <em>&bdquo;Dhimmis and Muslims &mdash; Analysing Multi-Religious Spaces in the Medieval Muslim World&ldquo;</em> wird von der VolkswagenStiftung als Teil des <em>&bdquo;Mixed Methods&ldquo;</em>-Programms gefördert.
<a href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=93252">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Hier
</a> geht es zur Projektseite bei der VolkswagenStiftung.
</p>

<p>
Auf Seiten des Instituts für Geschichtswissenschaften der Humboldt-Universität zu Berlin ist
<a href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/mittelalterliche-geschichte-ii/personen/prof-dr-dorothea-weltecke">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Prof. Dr. Dorothea Weltecke
</a>
(<a href="https://www.geschichte.uni-frankfurt.de/66156354/Dorothea_Weltecke"><i class="fa fa-fw fa-sm fa-external-link"></i> vormals</a> am Lehrstuhl für Mittelalterliche Geschichte II der Goethe-Universität Frankfurt/Main) involviert.
Auf Seiten des
<a href="https://www.geschichte.uni-frankfurt.de/87681539/Dhimmis_and_Muslims">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Lehrstuhls für Mittelalterliche Geschichte II
</a>
an der Goethe-Universität Frankfurt/Main ist
<a href="https://www.geschichte.uni-frankfurt.de/66162272/Ralph_Barczok">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Dr. Ralph Barczok
</a>
an dem Projekt beteiligt.
Auf Seiten des
<a href="https://www.vis.uni-stuttgart.de/projekte/dhimmis-and-muslims/">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
Instituts für Visualisierung und Interaktive Systeme
</a>
der Universität Stuttgart sind
<a href="https://www.vis.uni-stuttgart.de/institut/team/Koch-00006/">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Dr. Steffen Koch
</a>
und
<a href="https://www.vis.uni-stuttgart.de/institut/team/Franke-00003/">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Max Franke, M.Sc.
</a>
beteiligt.
Prof. Dr. Weltecke und Dr. Koch sind wissenschaftliche Projektleiter.
</p>

{%- else -%}
<h2>Project Partners</h2>

<p>
The <em>&ldquo;Dhimmis and Muslims &mdash; Analysing Multi-Religious Spaces in the Medieval Muslim World&rdquo;</em> project is funded by the Volkswagen Foundation as part of the <em>&ldquo;Mixed Methods&rdquo;</em> program.
The project page on the Volkswagen Foundation website is available
<a href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=93252">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  here.
</a>
</p>

<p>
<a href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/mittelalterliche-geschichte-ii/personen/prof-dr-dorothea-weltecke">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Prof. Dr. Dorothea Weltecke
</a>
is involved in the project for the Historical Institute at the Humboldt University in Berlin
(<a href="https://www.geschichte.uni-frankfurt.de/66156354/Dorothea_Weltecke"><i class="fa fa-fw fa-sm fa-external-link"></i> formerly</a> with the Institute for Medieval History II at the Goethe University in Frankfurt/Main).
<a href="https://www.geschichte.uni-frankfurt.de/66162272/Ralph_Barczok">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Dr. Ralph Barczok
</a>
is involved in the project for the
<a href="https://www.geschichte.uni-frankfurt.de/87681539/Dhimmis_and_Muslims">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Institute for Medieval History II
</a>
at the Goethe University in Frankfurt/Main.
<a href="https://www.vis.uni-stuttgart.de/institut/team/Koch-00006/">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Dr. Steffen Koch
</a>
and
<a href="https://www.vis.uni-stuttgart.de/institut/team/Franke-00003/">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Max Franke, M.Sc.
</a>
are involved in the project for the
<a href="https://www.vis.uni-stuttgart.de/projekte/dhimmis-and-muslims/">
  <i class="fa fa-fw fa-sm fa-external-link"></i>
  Institute for Visualization and Interactive Systems
</a>
at the University of Stuttgart.
Prof. Dr. Weltecke and Dr. Koch act as principal investigators for the project.
</p>
{%- endif -%}


{%- if language == 'de' -%}
<h2>Veröffentlichungen</h2>
{%- else -%}
<h2>Publications</h2>
{%- endif -%}
<ul class="publications">
  <li>
    <span class="authors">
      Franke, Max;
      Barczok, Ralph;
      Koch, Steffen;
      and Weltecke, Dorothea:
    </span>
    <span class="title">
      Confidence as a First-class Attribute in Digital Humanities Data.
    </span>
    In:
    <span class="conference">
      Proceedings of the 4th VIS4DH Workshop, VIS 2019, Vancouver, Canada, October 20&ndash;25, 2019,
    </span>
    <span class="publisher">IEEE</span>
    <span class="year">(2019)</span>.

    <a href="https://vis4dh.dbvis.de/2019/papers/2019/VIS4DH2019_paper_1.pdf" target="_blank">
      <i class="fa fa-fw fa-sm fa-file-pdf-o"></i>
      Link
    </a>
  </li>
  <li>
    <span class="authors">
      Franke, Max;
      John, Markus;
      Knabben, Moritz;
      Keck, Jana;
      Blascheck, Tanja;
      and Koch, Steffen:
    </span>
    <span class="title">
      LilyPads: Exploring the Spatiotemporal Dissemination of Historical Newspaper Articles.
    </span>
    In:
    <span class="conference">
      Proceedings of the 15th International Conference on Computer Vision, Imaging and Computer Graphics Theory and Applications &mdash; Volume 3: IVAPP,
      Valetta, Malta, February 27&ndash;29, 2020
    </span>
    <span class="pages">
      (pp. 17&ndash;28).
    </span>
    <span class="publisher">SciTePress,</span>
    <span class="year">2020</span>.

    <a href="https://scitepress.org/PublicationsDetail.aspx?ID=%2fRCT509B2z8%3d" target="_blank">
      <i class="fa fa-fw fa-sm fa-external-link"></i>
      Link
    </a>
  </li>
  <li>
    <span class="authors">
      Franke, Max;
      Martin, Henry;
      Koch, Steffen;
      and Kurzhals, Kuno:
    </span>
    <span class="title">
      Visual Analysis of Spatio-temporal Phenomena with 1D Projections.
    </span>
    In:
    <span class="conference">
      Computer Graphics Forum 40(3)
    </span>
    <span class="pages">
      (pp. 335&ndash;347).
    </span>
    <span class="publisher">CGF</span>
    <span class="year">(2021)</span>.

    <a href="https://doi.org/10.1111/cgf.14311" target="_blank">
      <i class="fa fa-fw fa-sm fa-external-link"></i>
      Link
    </a>
  </li>
</ul>

<div class="logos">
  <a class="logo logo--larger" href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/mittelalterliche-geschichte-ii/personen/prof-dr-dorothea-weltecke">
    <img src="{{ url_for('root-app.static_public', filename='huberlin-logo-white.svg') }}" alt="Logo Humboldt University Berlin">
  </a>
  <a class="logo" href="https://www.geschichte.uni-frankfurt.de/87681539/dhimmis_and_muslims">
    <img src="https://www.geschichte.uni-frankfurt.de/assets/ci/head_logo-3f4b9591169c7a3095f77eb21e4d00649f1ed7bdc00ace2e4eb2c9b5285e07ea.svg" alt="Logo Goethe University">
  </a>
  <a class="logo" href="https://www.vis.uni-stuttgart.de/projekte/dhimmis-and-muslims/">
    <img src="https://www.vis.uni-stuttgart.de/system/modules/de.stuttgart.uni.v3.basics/resources/img/svg/logo-inverted-de.svg" alt="Logo University of Stuttgart">
  </a>
  <a class="logo" href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=93252">
    <img class="white" src="https://www.volkswagenstiftung.de/profiles/vwst/theme/volkswagen/images/logo-white.svg" alt="Logo VolkswagenStiftung">
  </a>
</div>

{% endblock %}
