{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{# <link rel="stylesheet" href="{{ url_for('root-app.file', path='style.css') }}"> #}
<link rel="stylesheet" href="{{ url_for('override.static', filename='home.css') }}">
{% endblock %}
{% block content %}
<article>
  <section id="main-title" class="title-section">
    <h1><span class="small-caps">Damast</span></h1>
    <h2><span class="avoidwrap">A Research System</span> <span class="avoidwrap">to Analyze Multi-Religious Constellations</span> <span class="avoidwrap">in the Islamicate World</span></h2>

    <div class="illustration">
      <figure class="illustration">
        <a href="{{ url_for('override.static', filename='illustrations/illustration-map1.png') }}">
          <img
            src="{{ url_for('override.static', filename='illustrations/illustration-map1.png') }}"
            aria-describedby="fig-map-caption"
            alt="Partial screenshot from the map"
            title="Partial screenshot from the map"/>
          </a>
        <figcaption id="fig-map-caption">Partial screenshot of the map</figcaption>
      </figure>
    </div>

    <p class="main-navigation">
          <a href="#about">About</a> |
          <a href="#data">Data Used</a> |
          <a href="#features">Features</a>
    </p>

    <p>
      <span class="small-caps">Damast</span> provides an <strong>interactive visualization</strong> to gain new insights into the multi‑religious constellations of the Middle East from the 7th to the 14th century.
      More than 8300 pieces of evidence from different religious communities from more than 440 places have been examined and are now accessible as a <strong>geo-temporal multi-view research system.</strong>
    </p>
</section>

  <section>
    <p>
      During the Medieval centuries, Muslim-dominated societies tolerated specific groups of Non-Muslims (especially Jews and Christians).
      In the new world that slowly emerged after the Arab conquests, Muslims accepted these groups on the basis of the idea of a contract of surrender that offered military protection in exchange for loyalty and a lower status, the so-called <i>dhimmi</i> status.
      <strong>This social system provided the framework for pragmatic cooperation and for religious diversity in the Medieval Islamicate world, albeit on unequal terms.</strong>
      Thus, in the many cities of the Islamicate world, diverse Muslim strands as well as different churches of Eastern Christianity and Jewish traditions were living side by side.
      Together, these religious groups formed the intricate fabric of everyday life and culture resembling the tissue of damask that displays different dominant colors depending on the perspective of the viewer.
      Damask (in German <i>Damast</i>), thus, is a symbol of this shared world and is our symbol of this research system.
    </p>

    <p>
      <strong>The diachronic and synchronic complexity of this fabric is still understudied.</strong>
      Basic knowledge about the exact distribution and even the very existence of religious groups in many places is still lacking.
      Also, there is no synthesis of the wealth of existing research data on communities, on historical change or on geographical places.
    </p>

    <p>
      <strong><span class="small-caps">Damast</span> is the first synthesis of pertinent and approved research data and offers the integrated analysis of different religious traditions and their coexistence.</strong>
      Thus, traditional historiographical methods of heuristics and qualitative source analysis are being enhanced by embedding them into a new approach with visual analytics.
      At the same time, <span class="small-caps">Damast</span> boosted methods of visual analytics and information visualization.
    </p>
  </section>
</article>

<article id="about">
  <section>
    <h2>About</h2>

    <p class="go-to-top"><a href="#main-title"></a></p>

    <p>
      <span class="small-caps">Damast</span> offers the visualization software developed and the data collected by the team members of the project <em>Dhimmis and Muslims – Analysing Multi-Religious Spaces in the Medieval Muslim World.</em>
    </p>

    <p>
      The team consisted of researchers from the Institute of History at Goethe University Frankfurt (PI: Dorothea Weltecke, since October 2021: Chair for European History of the Middle Ages at Humboldt-Universität zu Berlin), and the Institute of Visualization and Interactive Systems at University of Stuttgart (PI: Steffen Koch).
    </p>

    <p>
      The collaborative project was funded by the Volkswagen Foundation as part of the <i><a href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=93252">Mixed Methods</a></i> program from 2016 until 2021.
      From October 2020, the project was also partially integrated in the Centre of Advanced Studies (<i>Kollegforschungsgruppe</i>) <a href="https://www.geschichte.uni-frankfurt.de/92594738/Polycentricity_and_Plurality_of_Premodern_Christianities__POLY"><q>Polycentricity and Plurality of Premodern Christianities</q> (POLY) at Goethe University Frankfurt</a>, funded by the Deutsche Forschungsgemeinschaft (DFG).
    </p>

    <p>
      You can <strong>get in touch</strong> by sending an email to <a href="mailto:damast.geschichte@hu-berlin.de">damast.geschichte [at] hu-berlin.de</a>.
    </p>

    <div class="logos">
      <a class="logo logo--larger" href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/personen/zis/weltecke-dorothea">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Huberlin-logo.svg" alt="Logo Humboldt University Berlin">
      </a>
      <a class="logo" href="https://www.vis.uni-stuttgart.de/projekte/dhimmis-and-muslims/">
        <img src="https://www.vis.uni-stuttgart.de/system/modules/de.stuttgart.uni.v3.basics/resources/img/svg/logo-de.svg" alt="Logo University of Stuttgart">
      </a>
      <a class="logo logo--md" href="https://www.geschichte.uni-frankfurt.de/87681539/dhimmis_and_muslims">
        <img src="https://upload.wikimedia.org/wikipedia/de/f/f0/Goethe-Logo.svg" alt="Logo Goethe University">
      </a>
    </div>
    <div class="logos">
      <a class="logo" href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=93252">
        <img class="white" src="https://www.volkswagenstiftung.de/profiles/vwst/theme/volkswagen/images/logo.svg" alt="Logo VolkswagenStiftung">
      </a>
      <a class="logo" href="https://www.dfg.de/">
        <img class="white" src="https://www.geschichte.uni-frankfurt.de/100952108/dfg_logo_schriftzug_blau_foerderung_en.jpg" alt="LogoDFG">
      </a>
    </div>

    <hr />
  </section>

  <section id="scholars">
    <h3>Scholars Involved</h3>

    <details>
      <summary></summary>

      <h4>Principial Investigators</h4>

      <p>
        <strong><a href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/personen/zis/weltecke-dorothea">Prof. Dr. Dorothea Weltecke</a></strong> &mdash; Chair for European History of the Middle Ages, Department of History, Humboldt-Universität zu Berlin (until September 2021: Chair for Medieval History II, Goethe University Frankfurt)
      </p>

      <p>
        <strong><a href="https://www.vis.uni-stuttgart.de/institut/team/Koch-00026/">Dr. Steffen Koch</a></strong> &mdash; Research Associate, Institute for Visualization and Interactive Systems (VIS), Research Group Graphical Interactive Systems
      </p>

      <h4>Researchers</h4>

      <p>
        <strong><a href="https://www.geschichte.uni-frankfurt.de/f7/ralph-barczok-66162272">Dr. Ralph Barczok</a></strong> &mdash; Former researcher at the Institute for History, Goethe University in Frankfurt/Main, Centre of Advanced Studies (<i>Kollegforschungsgruppe</i>) POLY
      </p>

      <p>
        <strong><a href="https://www.vis.uni-stuttgart.de/en/institute/team/Franke/">Max Franke, M.Sc.</a></strong> &mdash; Postgraduate, Institute for Visualization and Interactive Systems (VIS), Research Group Graphical Interactive Systems
      </p>

      <p>
      <strong><a href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/personen/zis/jaeckel-florian">Dr. des. Florian Jäckel</a></strong> &mdash; Researcher at the Department of History, Humboldt-Universität zu Berlin, at the Chair for European History of the Middle Ages
      </p>

      <p>
      <strong><a href="https://www.geschichte.uni-frankfurt.de/83779788/Dr__Bernd_Andreas_Vest">Dr. Bernd A. Vest</a></strong> &mdash; Researcher at the Institute of History, Goethe University in Frankfurt/Main, Centre of Advanced Studies (<i>Kollegforschungsgruppe</i>) POLY
      </p>
    </details>
  </section>

  <section id="publications">
    <h3>Publications</h3>

    <details>
      <summary></summary>

      <p class="bibliography-item">
        Weltecke, Dorothea, Ralph Barczok, and Bernd A. Vest:
        <i><span class="small-caps">Damast</span>.
        Konzeptionelle Prinzipien und technische Methoden eines digitalen Projekts zur geotemporalen Visualisierung religiöser Pluralität.</i>
        In preparation.
      </p>

      <p class="bibliography-item">
        Franke, Max, Ralph Barczok, Steffen Koch, and Dorothea Weltecke.
        <q>Confidence as a First-class Attribute in Digital Humanities Data.</q>
        In: <i>Proceedings of the 4th VIS4DH Workshop</i>, VIS 2019, Vancouver. October 20–25, 2019, IEEE (2019).
        <a href="https://vis4dh.dbvis.de/2019/papers/2019/VIS4DH2019_paper_1.pdf">https://vis4dh.dbvis.de/2019/papers/2019/VIS4DH2019_paper_1.pdf</a>.
      </p>
    </details>
  </section>

  <section id="how-to-cite">
    <h3>How to Cite</h3>

    <details>
      <summary></summary>

      <p>
        <strong>Reference to <span class="small-caps">Damast</span> and the underlying data will be consistent over time and citable via the respective permanent links.</strong>
      </p>

      <p>
        If you want to refer to <span class="small-caps">Damast</span> as such, we recommend to use the following bibliographical information:
      </p>

      <p class="bibliography-item">
        Weltecke, Dorothea, Steffen Koch, Ralph Barczok, Max Franke, Florian Jäckel, and Bernd A. Vest, eds.
        <i><span class="small-caps">Damast</span> – A Research System to Analyze Multi-Religious Constellations in the Islamicate World.</i>
        April 2022.
        Accessed {{ today }}. https://damast.geschichte.hu-berlin.de, data deposited at DaRUS, <a href="https://doi.org/10.18419/darus-2318">https://doi.org/10.18419/darus-2318</a>.
      </p>

      <p>
        For <strong>specific references</strong> to <a href="#reports">reports</a> or <a href="#place-uris">place URIs</a>, appropriate information on how to cite, including a permanent link, is provided individually in the respective document.
      </p>

      <p class="tiny">
        The Damask cloth used as an illustration on this page (originally in red, here altered to blue) is part of the collection of <i>Staatliches Museum für Ägyptische Kunst in Munich</i> (inv. no. AS 3268).
        The photograph was taken by Alexandra D. Pleşa and originally presented in her article <q>Religious Belief in Burial: Funerary Dress and Practice at the Late Antique and Early Islamic Cemeteries at Matmar and Mostagedda, Egypt (Late Fourth&ndash;Early Ninth Centuries CE)</q> (<a href="https://doi.org/10.3998/ars.13441566.0047.002">https://doi.org/10.3998/ars.13441566.0047.002</a>).
        We thank both the museum and Alexandra D. Pleşa for the rights to use the photograph.
      </p>

    </details>
  </section>

  <section id="sourcecode">
    <h3>Source Code and Data Repository</h3>

    <details>
      <summary></summary>

      <p>
        The <strong>source code</strong> of the visualization is freely available on GitHub:
        <a href="https://github.com/UniStuttgart-VISUS/damast ">https://github.com/UniStuttgart-VISUS/damast</a>
      </p>

      <p>
        The <strong>data underlying the visualization</strong> has been deposited on DaRUS (<em>Data Repository der Universität Stuttgart</em>):
        <a href="https://doi.org/10.18419/darus-2318">https://doi.org/10.18419/darus-2318</a>
      </p>
    </details>
  </section>
</article>

<article id="data">
  <section >
    <h2>Data Used</h2>

    <p class="go-to-top"><a href="#main-title"></a></p>

    <figure class="illustration">
      <a href="{{ url_for('override.static', filename='illustrations/illustration-data.png') }}">
        <img
          src="{{ url_for('override.static', filename='illustrations/illustration-data.png') }}"
          alt="Partial screenshot of the data model"
          aria-describedby="fig-data-caption"
          title="Partial screenshot of the data model"/>
        </a>
      <figcaption id="fig-data-caption">
        Partial screenshot of the data model
      </figcaption>
    </figure>

    <p>
      In the context of <span class="small-caps">Damast</span>, we have evaluated and recorded over 8300 pieces of evidence for stable and institutionalized religious communities.
      In what follows, a brief overview of the data visualized in <span class="small-caps">Damast</span> is provided.
      More details about our procedure and choices will be published as
    </p>

    <p class="bibliography-item">
      Weltecke, Dorothea; Barczok, Ralph; Vest, Bernd A.:
      <i><span class="small-caps">Damast</span>. Konzeptionelle Prinzipien und technische Methoden eines digitalen Projekts zur geotemporalen Visualisierung religiöser Pluralität.</i>
      In preparation.
    </p>

    <p>
      The data has been deposited on DaRUS:
      <a href="https://doi.org/10.18419/darus-2318">https://doi.org/10.18419/darus-2318</a>
    </p>

    <hr />
  </section>

  <section id="sources">
    <h3>Sources</h3>

    <details>
      <summary></summary>

      <p>
      The database of <span class="small-caps">Damast</span> provides data mainly from approved <strong>works of reference, which were each compared, evaluated and corrected by the team of researchers.</strong>
      The following works are included:
      </p>

      <p class="bibliography-item">
        AtKG &mdash; Jedin, Hubert, and Jochen Martin, eds. <i>Atlas zur Kirchengeschichte: Die Christlichen Kirchen in Geschichte und Gegenwart</i>. Freiburg: Herder, 1987.
      </p>

      <p class="bibliography-item">
        CoptEnc &mdash; Atiya, Aziz S., ed. <i>The Coptic Encyclopedia</i>. 8 vols. New York: Macmillan, 1991. https://ccdl.claremont.edu/digital/collection/cce.
      </p>

      <p class="bibliography-item">
        Crown &mdash; Crown, Alan David, ed. <i>The Samaritans</i>. Tübingen: Mohr, 1989.
      </p>

      <p class="bibliography-item">
        DHGE &mdash; Aubert, Roger, and Luc Courtois, eds. <i>Dictionnaire d’histoire et de géographie ecclésiastiques</i>. Paris: Letouzey et Ané, 1912–.
      </p>

      <p class="bibliography-item">
        EI &mdash; Houtsma, Martijn Th., Thomas W. Arnold, René Basset, and Richard Hartmann, eds. <i>Encyclopaedia of Islam, First Edition</i>. Leiden: Brill, 1913–1936. https://referenceworks.brillonline.com/browse/encyclopaedia-of-islam-1.
      </p>

      <p class="bibliography-item">
        EI² &mdash; Bearman, Peri J., Thierry Bianquis, Clifford E. Bosworth, Emeri J. van Donzel, and Wolfhart P. Heinrichs, eds. <i>Encyclopaedia of Islam, Second Edition</i>. Leiden: Brill, 1960–2004. https://referenceworks.brillonline.com/browse/encyclopaedia-of-islam-2.
      </p>

      <p class="bibliography-item">
        EI³ &mdash; Fleet, Kate, Gudrun Krämer, Denis Matringe, John Nawas, and Everett Rowson, eds. <i>Encyclopaedia of Islam, THREE</i>. Leiden, 2007–. https://referenceworks.brillonline.com/browse/encyclopaedia-of-islam-3.
      </p>

      <p class="bibliography-item">
        EIr &mdash; Yarshater, Ehsan, ed. <i>Encyclopaedia Iranica</i>. New York: Encyclopaedia Iranica Foundation, 1982–. https://www.iranicaonline.org/.
      </p>

      <p class="bibliography-item">
        EJ &mdash; Berenbaum, Michael, and Fred Skolnik, eds. <i>Encyclopaedia Judaica</i>. 2nd ed. 22 vols. Detroit: Macmillan, 2007.
      </p>

      <p class="bibliography-item">
        EJIW &mdash; Stillman, Norman A., ed. <i>Encyclopedia of Jews in the Islamic World</i>. 5 vols. Leiden: Brill, 2010.
      </p>

      <p class="bibliography-item">
        Hamilton &mdash; Hamilton, Bernard. <i>The Latin Church in the Crusader States: The Secular Church</i>. London: Variorum Publications, 1980.
      </p>

      <p class="bibliography-item">
        Hromklay 1179 &mdash; Tékéyan, Pascal. <i>Controverses christologiques en Arméno-Cilicie dans la seconde moitié du XIIe siècle (1165–1198)</i>. Orientalia Christiana Analecta 124. Rome: Pontificium Institutum Orientalium Studiorum, 1939.
      </p>

      <p class="bibliography-item">
        OrChrN &mdash; Fiey, Jean Maurice. <i>Pour un Oriens Christianus novus: Répertoire des diocèses Syriaques orientaux et occidentaux</i>. Beiruter Texte und Studien 49. Stuttgart: Steiner, 1993.
      </p>

      <p class="bibliography-item">
        PMBZ &mdash; Lilie, Ralph-Johannes, Claudia Ludwig, Beate Zielke, and Thomas Pratsch. <i>Prosopographie der mittelbyzantinischen Zeit</i>. Edited by Berlin-Brandenburgische Akademie der Wissenschaften, 2013. https://doi.org/10.1515/pmbz.
      </p>

      <p class="bibliography-item">
        Richter-Bernburg &mdash; Richter-Bernburg, Lutz. <q>St. John of Acre – Nablus – Damascus: The Samaritan Minority Under Crusaders and Muslims.</q> In <i>Die Folgen der Kreuzzüge für die orientalische Religionsgemeinschaften</i>. Edited by Walter Beltz, 117–130. Hallesche Beiträge zur Orientwissenschaft 22. Halle, 1996.
      </p>

      <p class="bibliography-item">
        Schick &mdash; Schick, Robert. <i>The Christian Communities of Palestine from Byzantine to Islamic Rule: A Historical and Archaeological Study</i>. Studies in Late Antiquity and Early Islam 2. Princeton, NJ: Darwin Press, 1995.
      </p>

      <p class="bibliography-item">
        TIB2 &mdash; Hild, Friedrich, and Marcell Restle. <i>Kappadokien (Kappadokia, Charsianon, Sebasteia und Lykandos)</i>. Tabula Imperii Byzantini 2. Wien: Verlag der Österreichischen Akademie der Wissenschaften, 1981.
      </p>

      <p class="bibliography-item">
        TIB5 &mdash; Hild, Friedrich, and Hansgerd Hellenkemper. <i>Kilikien und Isaurien</i>. 2 vols. Tabula Imperii Byzantini 5. Wien: Verlag der Österreichischen Akademie der Wissenschaften, 1990.
      </p>

      <p class="bibliography-item">
        TIB15 &mdash; Todt, Klaus-Peter, and Bernd A. Vest. <i>Syria (Syria Prōtē, Syria Deutera, Syria Euphratēsia)</i>. 3 vols. Tabula Imperii Byzantini 15. Wien: Verlag der Österreichischen Akademie der Wissenschaften, 2014.
      </p>

      <p class="bibliography-item">
        Timm &mdash; Timm, Stefan. <i>Das christlich-koptische Ägypten in arabischer Zeit: Eine Sammlung christlicher Stätten in Ägypten in arabischer Zeit, unter Ausschluß von Alexandria, Kairo, des Apa-Mena-Klosters (Dēr Abū Mina), der Skētis (Wādi n-Naṭrūn) und der Sinai-Region</i>. 7 vols. Beihefte zum Tübinger Atlas des Vorderen Orients 41. Wiesbaden: Reichert, 1984.
      </p>

      <p class="bibliography-item">
        Vest &mdash; Vest, Bernd A. <i>Geschichte der Stadt Melitene und der umliegenden Gebiete: Vom Vorabend der arabischen bis zum Abschluß der türkischen Eroberung (um 600 – 1124)</i>. 3 vols. Byzanz, Islam und Christlicher Orient 1. Hamburg: Kovač, 2007.
      </p>

      <p>
        Note that due to the data represented so far in works of reference our geographical location and our dating is less comprehensive for Jewish and Samaritan communities.
        A next stage would be to include more data from detailed research.
      </p>

      <p>
        Additionally, we have included the following <strong>medieval sources</strong> to represent Jews, Christians and Muslims respectively:
      </p>

      <p class="source-header">
        Benjamin of Tudela’s <i>Itinerary</i>
      </p>

      <p class="bibliography-item">
        Benjamin eng / Benjamin heb &mdash; Benjamin of Tudela. <i>The Itinerary of Benjamin of Tudela</i>. Critical text, translation and commentary by Marcus Nathan Adler. New York: Feldheim, 1907.
      </p>

      <p class="source-header">
        al-Muqaddasī’s <i>Best Divisions for Knowledge of the Regions</i>
      </p>

      <p class="bibliography-item">
        Muqaddasi ara &mdash; al-Muqaddasī, Muḥammad b. Aḥmad. <i>Aḥsan at-taqāsīm fī maʿrifat al-aqālīm</i>. Edited by Michael J. de Goeje. 2nd ed. Bibliotheca Geographorum Arabicorum 3. Leiden: Brill, 1906. Parallel title: <i>Descriptio imperii Moslemici auctore </i>[...] <i>al-Moqaddasi</i>.
      </p>

      <p class="bibliography-item">
        Muqaddasi eng &mdash; al-Muqaddasī, Muḥammad b. Aḥmad. <i>The Best Divisions for Knowledge of the Regions. A Translation of </i>Aḥsan al-Taqāsīm fī Maʿrifat al-Aqālīm. Translated by Basil A. Collins. Great Books of Islamic Civilisation. Reading, UK: Garnet, 1994.
      </p>

      <p class="source-header">
        Lists of Bishops
      </p>

      <p class="bibliography-item">
        Sis 1307 lat &mdash; Balgy, Alexander. <i>Historia doctrinae catholicae inter Armenos unionisque eorum cum Ecclesia Romana in Concilio Florentino</i>. Vienna: Typis Congregationis Mechitharisticae, 1878, 303–311. https://archive.org/details/HistoriaDoctrinaeCatholicaeInterArme.
      </p>

      <p class="bibliography-item">
        Sis 1307 arm &mdash; Palčean, Ałekʿsandr V. <i>Patmutʿiwn katʿołikē vardapetutʿean i Hays ew miutʿean nocʿa ənd Hṙomeakan ekełecʿwocʿ i Pʿlorentean siwnhodosi</i>. Wien: Typis Congregationis Mechitharisticae, 1878, 274–281. https://archive.org/details/PalcheanPatmutiwnKatoghikeVardapetutean.
      </p>

      <p class="bibliography-item">
        Adana 1316 lat &mdash; Balgy, Alexander. <i>Historia doctrinae catholicae inter Armenos unionisque eorum cum Ecclesia Romana in Concilio Florentino</i>. Vienna: Typis Congregationis Mechitharisticae, 1878, 333. https://archive.org/details/HistoriaDoctrinaeCatholicaeInterArme.
      </p>

      <p class="bibliography-item">
        Adana 1316 arm &mdash; Palčean, Ałekʿsandr V. <i>Patmutʿiwn katʿołikē vardapetutʿean i Hays ew miutʿean nocʿa ənd Hṙomeakan ekełecʿwocʿ i Pʿlorentean siwnhodosi</i>. Wien: Typis Congregationis Mechitharisticae, 1878, 197–198. https://archive.org/details/PalcheanPatmutiwnKatoghikeVardapetutean.
      </p>

      <p class="bibliography-item">
        Sis 1342 lat &mdash; Tăutu, Aloysius L., ed. <i>Acta Benedicti XII (1334–1342). E regestis Vaticanis aliisque fontibus collegit</i>. Fontes, Series III 8. Rome: Typis Polyglottis Vaticanis, 1958, 160–161.
      </p>

      <p class="bibliography-item">
        Munier &mdash; Munier, Henri. <i>Recueil des listes épiscopales de l’église Copte</i>. Cairo: Société d’archéologie copte, 1943.
      </p>

      <p class="bibliography-item">
        Smbat 1199 fra &mdash; Smbat Sparapet. <i>La chronique attribuée au connétable Smbat. Introduction, traduction et notes par Gérard Dédéyan.</i> Documents relatifs à l'histoire des croisades publiés par l'Académie des inscriptions et belles-lettres 13. Paris: Geuthner, 1980.
      </p>

      <p class="bibliography-item">
        Benedictus PP. XII &mdash; Tăutu, Aloysius L., ed. <i>Acta Benedicti XII (1334–1342). E regestis Vaticanis aliisque fontibus collegit</i>. Fontes, Series III 8. Rome: Typis Polyglottis Vaticanis, 1958.
      </p>
    </details>
  </section>

  <section id="scope">
    <h3>Scope of Time and Space</h3>

    <details>
      <summary></summary>

      <p>
        <span class="small-caps">Damast</span> visualizes data <strong>from the 7th to the 14th century of the Islamicate world</strong> mainly in the area of the former Roman and Sasanian empires.
      </p>
    </details>
  </section>

  <section id="choice-of-places">
    <h3>Multi-religious Cities and Towns</h3>

    <details>
      <summary></summary>

      <p>
        <strong>We identified 440 cities with administrative and religious importance that we examined with respect to stable and institutionalised Muslim and Non-Muslim communities.</strong>
        We selected the cities according to the following criteria:
      </p>

      <ul>
        <li>
          Sees of patriarchs, bishops, and other high officials of the different churches
        </li>
        <li>
          Schools, institutions, and scholars in the case of Judaism
        </li>
        <li>
          Cities recorded by al-Muqaddasī as metropolis (<i>miṣr</i>) or as capital of a province (<i>kūra</i>) or of a district (<i>nāḥiya</i>)
        </li>
      </ul>

      <p>
        In addition to these factors, stability and institutionalization of religious communities were estimated on the existence of places of prayer and study, for example:
        temples, mosques, churches, synagogues, schools, etc.
      </p>
    </details>
  </section>

  <section id="religious-groups">
    <h3>Religious Groups</h3>

    <details>
      <summary></summary>

      <p>
        Our data concentrate on a section of the complex and fluid religious reality.
        <strong><span class="small-caps">Damast</span> offers a condensed presentation of the various religious communities of the Islamicate world.</strong>
        The tree model simplifies living relations and scholarly differentiation but provides the means for comparative analysis of communities and also allows new insights into their environment.
        Stable and institutionalized communities of the following strands are included:
      </p>

      <ul>
        <li>Christianity &mdash; CHR</li>
        <ul>
          <li>Church of the East (<q>Nestorians</q>) &mdash; COE</li>
          <li>Melkites (Greek/Rūm Orthodox) &mdash; MELK</li>
          <li>Latin &mdash; LAT</li>
          <li>Maronites &mdash; MARO</li>
          <li>Georgians &mdash; GEO</li>
          <li>Copts &mdash; COPT</li>
          <li>Syriac Orthodox (<q>Jacobites</q>) &mdash; SYR</li>
          <li>Armenians &mdash; ARM</li>
        </ul>
        <li>Islam &mdash; ISL</li>
        <ul>
          <li>Shiites &mdash; SHIA</li>
          <li>Sunnis &mdash; SUN</li>
          <li>Kharijites &mdash; CHAR</li>
        </ul>
        <li>Judaism &mdash; JEW</li>
        <ul>
          <li>Rabbanites &mdash; RAB</li>
          <li>Karaites &mdash; KAR</li>
          <li>Samaritans &mdash; SAM</li>
        </ul>
        <li>Other &mdash; OTH</li>
        <ul>
          <li>Zoroastrianism &mdash; ZOR</li>
          <li>Buddhism &mdash; BUD</li>
          <li>Manichaeism &mdash; MAN</li>
          <li>Paganism &mdash; PAG</li>
          <li>Hinduism &mdash; HIN</li>
          <li>Yazidism &mdash; YAZ</li>
        </ul>
      </ul>

      <p>
        Note that unless a clear distinction of different groups is possible, we classified them with the generic term such as <q>Judaism,</q> <q>Christianity,</q> <q>Islam,</q> and <q>Other.</q>
        At the same time, the generic term aggregates all the different strands.
        While this may seem problematic in parts (e.g. for Samaritans), this compromise seemed the best solution at present for the purpose of the visual analysis of the data.
      </p>
    </details>
  </section>

  <section id="tags">
    <h3>Tags</h3>

    <details>
      <summary></summary>

      <p>
      In addition to religious affiliation, time, and place, <span class="small-caps">Damast</span> implements <em>tags</em> to <strong>enhance the data and to enable more specific filtering</strong> of the database and visualization.
      </p>

      <p>
      For instance, we have tagged evidences as Bishopric or Metropolitan residence, which enables the user to distinguish between cities with either bishops or metropolitans and other places with a Christian presence.
      </p>
    </details>
  </section>

  <section id="confidence">
    <h3>Confidence</h3>

    <details>
      <summary></summary>

      <p>
      <strong><span class="small-caps">Damast</span> includes complex information of different certainty and offers more transparency than published and digital works of reference so far.</strong>
      The team of researchers compared and reviewed every piece of evidence in both the research literature and, in specific cases, also  medieval sources.
      They then evaluated all data by different levels of confidence.
      Also, traditional assumptions corrected by them and ambiguous information stored for later inspection thus become discernible, can be filtered, and do not produce misleading visual reports.
      </p>

      <p>
      <strong>Five levels of confidence</strong> were used:
      </p>

      <ul>
        <li>certain</li>
        <li>probable</li>
        <li>contested</li>
        <li>uncertain</li>
        <li>false</li>
      </ul>

      <p>
        The following <strong>aspects of information</strong> were each attributed with a specific level of confidence:
      </p>

      <ul>
        <li>Location &mdash; Is the place in the database at the provided location (i.e., geo-coordinates)?</li>
        <li>Place attribution &mdash; Was the religious group present at this place, rather than at another one, for example, one with a similar name?</li>
        <li>Time span &mdash; Was the religious group present during this time span?</li>
        <li>Religion &mdash; Was this religious group present, rather than another one?</li>
        <li>Source &mdash; Is the information provided by the source credible?</li>
      </ul>

      <p>
        During the collection of data, another aspect, the <em>confidence of interpretation</em>  (Do we interpret the information correctly?) was very useful for the internal workflow.
        While the confidence of interpretation is still visible for technical reasons, it is of no relevance to the user.
      </p>
    </details>
  </section>
</article>

<article id="features">
  <section>
    <h2>Features</h2>

    <p class="go-to-top"><a href="#main-title"></a></p>

    <figure class="illustration">
      <a href="{{ url_for('override.static', filename='illustrations/illustration-vis.png') }}">
        <img
          src="{{ url_for('override.static', filename='illustrations/illustration-vis.png') }}"
          alt="Partial Screenshot of the Visualization"
          aria-describedby="fig-vis-caption"
          title="Partial Screenshot of the Visualization"/>
        </a>
      <figcaption id="fig-vis-caption">Partial screenshot of the visualization</figcaption>
    </figure>

    <p>
      <strong><span class="small-caps">Damast</span> offers a complex visualization with different <em>views</em></strong> to interactively filter and to inspect the data.
      As additional features, <span class="small-caps">Damast</span> can generate <em>reports</em> based on the current result of your research and provide collected information for each city and town in the database on so-called <em>place URI pages.</em>
    </p>

    <p>
      Many of the controls of the visualization of <span class="small-caps">Damast</span> should be <strong>intuitive and easily understood</strong> through trial and error.
      <strong>Hovering with the mouse</strong> over a specific element will generally display a tooltip providing additional information.
      More specific and advanced aspects are best understood by reading the <strong>info texts.</strong>
      These can be accessed when clicking on the question mark symbol in the upper right corner of the respective view.
      <strong>Extensive documentation</strong> including the info texts as well as a introduction to the general principles of the visualization can be found <a href="documentation">here</a>.
    </p>

    <p>
      Only a brief overview is presented, in what follows.
      In addition, we plan to provide video tutorials.
    </p>

    <hr />
  </section>

  <section id="visualization-overview">
    <h3>Visualization</h3>

    <details>
      <summary></summary>

      <p>
        <strong>The object of <span class="small-caps">Damast</span> is to visualize the religious constellations and their historical change in specific cities and towns of the Islamicate world</strong> as provided by the data described above.
        (Note: No visualization of data in a given city does not mean that a community was not present, but only that we had no data on the basis of the heuristic and sources we used.)
        These different aspects and levels of information are connected into one <strong><em>multi-coordinated view,</em></strong> allowing for a very fine-grained analysis.
        The multi-coordinated view thus contains several connected <em>views</em> presenting a geographical visualization (<em>map</em>), a timeline, lists of religious groups, sources, places, and tags.
      </p>

      <p>
        <strong>Several interactive means are at the disposal for analysis.</strong>
        The user can filter data of interest to be visualized in a particular view for inspection.
        As the views are coordinated, the other views&mdash;map, timeline or lists&mdash;change accordingly.
        Additionally, the user can temporarily <strong>brush and link</strong> individual aspects, which highlights related data across all views.
      </p>

      <p>
        <strong>The <em>map</em> or the geographical visualization allows a variety of settings.</strong>
        For example, the user can choose between inspecting filtered data only or inspecting the filtered data in the context of all data which are then marked with less saturated colors.
        Other features, such as the generation of <a href="reports">reports</a>, are provided in the settings as well.
      </p>
    </details>
  </section>

  <section id="place-uris">
    <h3>Place URI Pages</h3>

    <details>
      <summary></summary>

      <p>
        To provide <strong>all the information collected regarding the religious constellations of a specific place</strong>, <span class="small-caps">Damast</span> offers a so-called <em>place URI page</em> for each place in the database.
        These can be accessed via the view <em>Location List</em> or through <i class="fa fa-map-marker"></i> <em>Places</em> in the top menu.
      </p>

      <p>
      A place URI page contains:
      </p>

      <ul>
        <li>A box with an overview at the right side, including an interactive minimap, showing the position of the place, its main toponym and its geo-coordinates</li>
        <li>A brief general description</li>
        <li><em>Names</em> &mdash; a list of the different toponyms of a town in different languages including Latin transcription</li>
        <li><em>See Also</em> &mdash; a list of external online references</li>
        <li><em>Religions</em> &mdash; a list of all religious groups with their time of presence according to the respective sources</li>
        <li><em>Sources</em> &mdash; a list of these sources</li>
      </ul>
    </details>
  </section>

  <section id="reports">
    <h3>Reports</h3>

    <details>
      <summary></summary>

      <p>
        In order to <strong>document, share, and reference the results</strong> when using <span class="small-caps">Damast</span>, reports can be generated.
        This is done either via the <em>Settings</em> pane or through <i class="fa fa-file-text"></i> <em>Docs</em> &gt; <em>Create report from database</em> in the top menu.
      </p>

      <p>
        A report contains:
      </p>

      <ul>
        <li>A description of all the filters applied (<q>Query Description</q>)</li>
        <li>A note on how to cite the report</li>
        <li>Separate lists of all pieces of evidence, places, and religions based on the filters</li>
        <li>A representation of the timeline based on the filters</li>
        <li>A list of all sources underlying the evidence</li>
      </ul>

      <p>
        After generation, the report is presented as a <strong>static webpage with a permanent link.</strong>
        Each report has a <em>Universally Unique Identifier</em> (UUID), which is also part of this permanent link.
      </p>

      <p style="text-align: center;">
        <strong>Note that the UUID or permanent link needs to be recorded by the user to access the report later!</strong>
      </p>

      <p>
        From the report’s webpage, several other features are available, such as a <strong><em>PDF file</em> for offline use or sharing</strong> and a <em>JSON</em> file that contains the filters and can later be used to recreate the report.
        Data underlying the report can be shown in the visualization;
        filters can thus be adapted and, for example, <strong>a new, slightly altered report can be generated</strong>, based on the original one.
      </p>
    </details>
  </section>
</article>
{% endblock %}
