{# vim: set filetype=htmldjango #}

{%- macro likert_scale_helpful(id, text) -%}
<fieldset>
  <legend>
    How important and helpful do you consider the {{ text }} to be?
  </legend>
  <div class="likert-scale">
    <label for="{{ id }}-helpful-1">Not at all</label>
    <input type="radio" id="{{ id }}-helpful-1" name="{{ id }}.helpful" value="1-not at all" title="not at all">
    <input type="radio" id="{{ id }}-helpful-2" name="{{ id }}.helpful" value="2-not really" title="not really">
    <input type="radio" id="{{ id }}-helpful-3" name="{{ id }}.helpful" value="3-unsure" title="unsure">
    <input type="radio" id="{{ id }}-helpful-4" name="{{ id }}.helpful" value="4-helpful" title="helpful">
    <input type="radio" id="{{ id }}-helpful-5" name="{{ id }}.helpful" value="5-very helpful" title="very helpful">
    <label for="{{ id }}-helpful-5">Very much</label>
  </div>
</fieldset>
{%- endmacro -%}

{%- macro time_used(id, text) -%}
<fieldset>
  <legend>
    How much time did you approximately spend using the {{ text }}?
  </legend>
  <div class="vertical-radio-options">
    <input type="radio" id="{{ id }}-time-1" name="{{ id }}.time" value="0" title="none at all">
    <label for="{{ id }}-time-1">none at all</label>
    <input type="radio" id="{{ id }}-time-2" name="{{ id }}.time" value="<5min" title="less than 5min">
    <label for="{{ id }}-time-2">less than 5min</label>
    <input type="radio" id="{{ id }}-time-3" name="{{ id }}.time" value="<20min" title="less than 20min">
    <label for="{{ id }}-time-3">between 5min and 20min</label>
    <input type="radio" id="{{ id }}-time-4" name="{{ id }}.time" value=">20min" title="more than 20min">
    <label for="{{ id }}-time-4">20min or more</label>
  </div>
</fieldset>
{%- endmacro -%}

{%- macro additional_comment(id, text) -%}
<label for="{{ id }}-comment">Do you have any more comments regarding the {{ text }}?</label>
<textarea id="{{ id }}-comment" name="{{ id }}.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
{%- endmacro -%}

{%- macro checkbox_used(id, text, verb='it') -%}
<fieldset>
  <legend>
    Did you use the {{ text }}?
  </legend>
  <input type="checkbox" name="{{ id }}.used" title="yes" id="{{ id }}-used">
  <label for="{{ id }}-used">Yes, I used {{ verb }}.</label>
</fieldset>
{%- endmacro -%}
