{# vim: set filetype=htmldjango #}
{% extends "base.html" %}
{% block title %}Questionnaire{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('questionnaire.file', path='style.css') }}">
<script type="module" src="{{ url_for('questionnaire.file', path='questionnaire.js') }}"></script>
{% endblock %}
{% block content %}
  <h1>Questionnaire</h1>

  <p>
    Thank you for taking the time to provide us with feedback!
    This feedback will be used to improve <span class="small-caps">Damast,</span> to extend <span class="small-caps">Damast</span> to new fields of research and data sets, and in scientific publications regarding <span class="small-caps">Damast.</span>
    Providing feedback is completely optional, and your feedback would only be published in anonymized form.
    You can leave this page at any time if you change your mind.
    Once you click on the submit button in the bottom right of the page, your feedback will be sent to the server.
  </p>

  <form
    action="{{ url_for('questionnaire.post_feedback') }}"
    method="POST"
    enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="version" value="{{ version }}">
    <input type="hidden" name="time" value="{{ timestamp }}">
    <input type="hidden" name="usage-time" value="">

    <section>
    <h2>General Feedback</h2>

    <label for="general-feedback">
      Please put general feedback you want to provide, as well as suggestions, here:
    </label>
    <textarea id="general-feedback" required name="general-feedback" cols="60" rows="8" placeholder="Enter general feedback or suggestions (required)"></textarea>

    <fieldset>
      <legend>
        Would you recommend <span class="small-caps">Damast</span> to your colleagues and peers?
      </legend>
      <div class="likert-scale">
        <label for="recommendation1">Definitely not</label>
        <input type="radio" id="recommendation1" name="recommendation" value="1-definitely not" title="definitely not">
        <input type="radio" id="recommendation2" name="recommendation" value="2-probably not" title="probably not">
        <input type="radio" id="recommendation3" name="recommendation" value="3-unsure" title="unsure">
        <input type="radio" id="recommendation4" name="recommendation" value="4-probably" title="probably">
        <input type="radio" id="recommendation5" name="recommendation" value="5-definitely" title="definitely">
        <label for="recommendation5">Definitely</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        How intuitive and useable do you think the interface of <span class="small-caps">Damast</span> is?
      </legend>
      <div class="likert-scale">
        <label for="intuitive1">Very unintuitive</label>
        <input type="radio" id="intuitive1" name="intuitive" value="1-very unintuitive" title="very unintuitive">
        <input type="radio" id="intuitive2" name="intuitive" value="2-not intuitive" title="not intuitive">
        <input type="radio" id="intuitive3" name="intuitive" value="3-unsure" title="unsure">
        <input type="radio" id="intuitive4" name="intuitive" value="4-intuitive" title="intuitive">
        <input type="radio" id="intuitive5" name="intuitive" value="5-very intuitive" title="very intuitive">
        <label for="intuitive5">Very intuitive</label>
      </div>
    </fieldset>

    <label for="most-interesting">
      What, in your opinion, is the most interesting or exciting aspect or component of <span class="small-caps">Damast</span>?
    </label>
    <textarea rows="1" id="most-interesting" name="most-interesting" placeholder="Name the most interesting aspect (optional)"></textarea>

    <label for="most-confusing">
      What aspect or component of <span class="small-caps">Damast</span>, if any, did you find most confusing or hard to use?
    </label>
    <textarea rows="1" id="most-confusing" name="most-confusing" placeholder="Name the most confusing aspect (optional)"></textarea>
    </section>

    <section>
    <h2>Visualization Feedback</h2>

    <p>
      Please provide feedback for the individual views and features of the visualization.
      Each view and feature is briefly presented and explained.
      If you had not previously explored or used the feature, you may specify so.
    </p>

    <article>
    <h3>Map and List of Places</h3>

    <div class="intro">
      <div>
        <p>
          The map (left) and list of places (right) show the geographical context of religious groups.
          They let you see which religious groups existed in which cities, and allow to filter and search for place names.
        </p>
      </div>
      <figure>
        <img src="{{ url_for('questionnaire.file', path='map-location-list.png') }}" alt="map and location list">
        <figcaption>The map and the list of places.</figcaption>
      </figure>
    </div>


    <fieldset>
      <legend>
        How important and helpful do you consider the map and list of places to be?
      </legend>
      <div class="likert-scale">
        <label for="map-helpful-1">Not at all</label>
        <input type="radio" id="map-helpful-1" name="map.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="iap-helpful-2" name="map.helpful" value="2-not really" title="not really">
        <input type="radio" id="iap-helpful-3" name="map.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="iap-helpful-4" name="map.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="iap-helpful-5" name="map.helpful" value="5-very helpful" title="very helpful">
        <label for="map-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        How much time did you approximately spend using the map and list of places?
      </legend>
      <div class="vertical-radio-options">
        <input type="radio" id="map-time-1" name="map.time" value="0" title="none at all">
        <label for="map-time-1">none at all</label>
        <input type="radio" id="map-time-2" name="map.time" value="<5min" title="less than 5min">
        <label for="map-time-2">less than five minutes</label>
        <input type="radio" id="map-time-3" name="map.time" value="<15min" title="less than 15min">
        <label for="map-time-3">less than fifteen minutes</label>
        <input type="radio" id="map-time-4" name="map.time" value="<1h" title="less than 1h">
        <label for="map-time-4">less than one hour</label>
        <input type="radio" id="map-time-5" name="map.time" value=">1h" title="more than 1h">
        <label for="map-time-5">more than one hour</label>
      </div>
    </fieldset>

    <label for="map-comment">Do you have any more comments regarding the map and list of places?</label>
    <textarea id="map-comment" name="map.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    <article>
      <h3>Timeline</h3>

    <div class="intro">
      <div>
        <p>
          The timeline shows the presence of religious groups at different times.
          Each religious group is represented as a row, which is colored if we have evidence of that religious group at that time.
          The timeline can also be used to specify a filter criterion for data shown, by selecting a rectangular area.
        </p>
      </div>
      <figure>
        <img src="{{ url_for('questionnaire.file', path='timeline.png') }}" alt="timeline">
        <figcaption>The timeline.</figcaption>
      </figure>
    </div>

    <fieldset>
      <legend>
        How important and helpful do you consider the timeline to be?
      </legend>
      <div class="likert-scale">
        <label for="timeline-helpful-1">Not at all</label>
        <input type="radio" id="timeline-helpful-1" name="timeline.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="iap-helpful-2" name="timeline.helpful" value="2-not really" title="not really">
        <input type="radio" id="iap-helpful-3" name="timeline.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="iap-helpful-4" name="timeline.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="iap-helpful-5" name="timeline.helpful" value="5-very helpful" title="very helpful">
        <label for="timeline-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        How much time did you approximately spend using the timeline?
      </legend>
      <div class="vertical-radio-options">
        <input type="radio" id="timeline-time-1" name="timeline.time" value="0" title="none at all">
        <label for="timeline-time-1">none at all</label>
        <input type="radio" id="timeline-time-2" name="timeline.time" value="<5min" title="less than 5min">
        <label for="timeline-time-2">less than five minutes</label>
        <input type="radio" id="timeline-time-3" name="timeline.time" value="<15min" title="less than 15min">
        <label for="timeline-time-3">less than fifteen minutes</label>
        <input type="radio" id="timeline-time-4" name="timeline.time" value="<1h" title="less than 1h">
        <label for="timeline-time-4">less than one hour</label>
        <input type="radio" id="timeline-time-5" name="timeline.time" value=">1h" title="more than 1h">
        <label for="timeline-time-5">more than one hour</label>
      </div>
    </fieldset>

    <label for="timeline-comment">Do you have any more comments regarding the timeline?</label>
    <textarea id="timeline-comment" name="timeline.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    <article>
      <h3>Religion hierarchy</h3>

    <div class="intro" style="--width:300px">
      <div>
        <p>
          The religion hierarchy shows the different religious groups.
          The groups are shown hierarchically under their respective main religion.
          Checkboxes behind each religious group can be used to filter the dataset for specific religious groups.
        </p>
      </div>
      <figure>
        <img src="{{ url_for('questionnaire.file', path='religion-hierarchy.png') }}" alt="religion hierarchy">
        <figcaption>The religion hierarchy.</figcaption>
      </figure>
    </div>

    <fieldset>
      <legend>
        How important and helpful do you consider the religion hierarchy to be?
      </legend>
      <div class="likert-scale">
        <label for="religion-helpful-1">Not at all</label>
        <input type="radio" id="religion-helpful-1" name="religion.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="iap-helpful-2" name="religion.helpful" value="2-not really" title="not really">
        <input type="radio" id="iap-helpful-3" name="religion.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="iap-helpful-4" name="religion.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="iap-helpful-5" name="religion.helpful" value="5-very helpful" title="very helpful">
        <label for="religion-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        How much time did you approximately spend using the religion hierarchy?
      </legend>
      <div class="vertical-radio-options">
        <input type="radio" id="religion-time-1" name="religion.time" value="0" title="none at all">
        <label for="religion-time-1">none at all</label>
        <input type="radio" id="religion-time-2" name="religion.time" value="<5min" title="less than 5min">
        <label for="religion-time-2">less than five minutes</label>
        <input type="radio" id="religion-time-3" name="religion.time" value="<15min" title="less than 15min">
        <label for="religion-time-3">less than fifteen minutes</label>
        <input type="radio" id="religion-time-4" name="religion.time" value="<1h" title="less than 1h">
        <label for="religion-time-4">less than one hour</label>
        <input type="radio" id="religion-time-5" name="religion.time" value=">1h" title="more than 1h">
        <label for="religion-time-5">more than one hour</label>
      </div>
    </fieldset>

    <label for="religion-comment">Do you have any more comments regarding the religion hierarchy?</label>
    <textarea id="religion-comment" name="religion.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    <article>
      <h3>Confidence view</h3>

    <p>
      TODO
      Dolor veniam maxime velit alias maiores? Quis laudantium dolorum eius fuga culpa? Tenetur consequuntur nihil excepturi possimus ipsam, repellendus Recusandae.
    </p>

    <fieldset>
      <legend>
        How important and helpful do you consider the confidence view to be?
      </legend>
      <div class="likert-scale">
        <label for="confidence-helpful-1">Not at all</label>
        <input type="radio" id="confidence-helpful-1" name="confidence.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="iap-helpful-2" name="confidence.helpful" value="2-not really" title="not really">
        <input type="radio" id="iap-helpful-3" name="confidence.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="iap-helpful-4" name="confidence.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="iap-helpful-5" name="confidence.helpful" value="5-very helpful" title="very helpful">
        <label for="confidence-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        How much time did you approximately spend using the confidence view?
      </legend>
      <div class="vertical-radio-options">
        <input type="radio" id="confidence-time-1" name="confidence.time" value="0" title="none at all">
        <label for="confidence-time-1">none at all</label>
        <input type="radio" id="confidence-time-2" name="confidence.time" value="<5min" title="less than 5min">
        <label for="confidence-time-2">less than five minutes</label>
        <input type="radio" id="confidence-time-3" name="confidence.time" value="<15min" title="less than 15min">
        <label for="confidence-time-3">less than fifteen minutes</label>
        <input type="radio" id="confidence-time-4" name="confidence.time" value="<1h" title="less than 1h">
        <label for="confidence-time-4">less than one hour</label>
        <input type="radio" id="confidence-time-5" name="confidence.time" value=">1h" title="more than 1h">
        <label for="confidence-time-5">more than one hour</label>
      </div>
    </fieldset>

    <label for="confidence-comment">Do you have any more comments regarding the confidence view?</label>
    <textarea id="confidence-comment" name="confidence.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    <article>
      <h3>Highlighting</h3>

    <p>
      TODO
      Dolor veniam maxime velit alias maiores? Quis laudantium dolorum eius fuga culpa? Tenetur consequuntur nihil excepturi possimus ipsam, repellendus Recusandae.
    </p>

    <fieldset>
      <legend>
        How important and helpful do you consider the highlighting feature to be?
      </legend>
      <div class="likert-scale">
        <label for="highlighting-helpful-1">Not at all</label>
        <input type="radio" id="highlighting-helpful-1" name="highlighting.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="highlighting-helpful-2" name="highlighting.helpful" value="2-not really" title="not really">
        <input type="radio" id="highlighting-helpful-3" name="highlighting.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="highlighting-helpful-4" name="highlighting.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="highlighting-helpful-5" name="highlighting.helpful" value="5-very helpful" title="very helpful">
        <label for="highlighting-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Did you use the highlighting feature?
      </legend>
      <input type="checkbox" name="highlighting.used" title="yes" id="highlighting-used">
      <label for="highlighting-used">Yes, I used it.</label>
    </fieldset>

    <label for="highlighting-comment">Do you have any more comments regarding the highlighting feature?</label>
    <textarea id="highlighting-comment" name="highlighting.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    <article>
      <h3>Filtering</h3>

    <p>
      TODO
      Dolor veniam maxime velit alias maiores? Quis laudantium dolorum eius fuga culpa? Tenetur consequuntur nihil excepturi possimus ipsam, repellendus Recusandae.
    </p>

    <fieldset>
      <legend>
        How important and helpful do you consider the filtering feature to be?
      </legend>
      <div class="likert-scale">
        <label for="filtering-helpful-1">Not at all</label>
        <input type="radio" id="filtering-helpful-1" name="filtering.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="filtering-helpful-2" name="filtering.helpful" value="2-not really" title="not really">
        <input type="radio" id="filtering-helpful-3" name="filtering.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="filtering-helpful-4" name="filtering.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="filtering-helpful-5" name="filtering.helpful" value="5-very helpful" title="very helpful">
        <label for="filtering-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Did you use the filtering feature?
      </legend>
      <input type="checkbox" name="filtering.used" title="yes" id="filtering-used">
      <label for="filtering-used">Yes, I used it.</label>
    </fieldset>

    <label for="filtering-comment">Do you have any more comments regarding the filtering feature?</label>
    <textarea id="filtering-comment" name="filtering.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    <article>
      <h3>Tooltips</h3>

    <p>
      TODO
      Dolor veniam maxime velit alias maiores? Quis laudantium dolorum eius fuga culpa? Tenetur consequuntur nihil excepturi possimus ipsam, repellendus Recusandae.
    </p>

    <fieldset>
      <legend>
        How important and helpful do you consider the tooltips to be?
      </legend>
      <div class="likert-scale">
        <label for="tooltips-helpful-1">Not at all</label>
        <input type="radio" id="tooltips-helpful-1" name="tooltips.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="tooltips-helpful-2" name="tooltips.helpful" value="2-not really" title="not really">
        <input type="radio" id="tooltips-helpful-3" name="tooltips.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="tooltips-helpful-4" name="tooltips.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="tooltips-helpful-5" name="tooltips.helpful" value="5-very helpful" title="very helpful">
        <label for="tooltips-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Did you use the tooltips?
      </legend>
      <input type="checkbox" name="tooltips.used" title="yes" id="tooltips-used">
      <label for="tooltips-used">Yes, I used it.</label>
    </fieldset>

    <label for="tooltips-comment">Do you have any more comments regarding the tooltips?</label>
    <textarea id="tooltips-comment" name="tooltips.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    <article>
      <h3>Reports and interlinked pages</h3>

    <p>
      TODO
      Dolor veniam maxime velit alias maiores? Quis laudantium dolorum eius fuga culpa? Tenetur consequuntur nihil excepturi possimus ipsam, repellendus Recusandae.
    </p>

    <fieldset>
      <legend>
        How important and helpful do you consider the reports to be?
      </legend>
      <div class="likert-scale">
        <label for="reports-helpful-1">Not at all</label>
        <input type="radio" id="reports-helpful-1" name="reports.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="reports-helpful-2" name="reports.helpful" value="2-not really" title="not really">
        <input type="radio" id="reports-helpful-3" name="reports.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="reports-helpful-4" name="reports.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="reports-helpful-5" name="reports.helpful" value="5-very helpful" title="very helpful">
        <label for="reports-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Did you use the reporting functionality?
      </legend>
      <input type="checkbox" name="reports.used" title="yes" id="reports-used">
      <label for="reports-used">Yes, I used it.</label>
    </fieldset>

    <fieldset>
      <legend>
        How important and helpful do you consider the linking between pages and reports?
      </legend>
      <div class="likert-scale">
        <label for="linking-helpful-1">Not at all</label>
        <input type="radio" id="linking-helpful-1" name="linking.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="linking-helpful-2" name="linking.helpful" value="2-not really" title="not really">
        <input type="radio" id="linking-helpful-3" name="linking.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="linking-helpful-4" name="linking.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="linking-helpful-5" name="linking.helpful" value="5-very helpful" title="very helpful">
        <label for="linking-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Did you use the links?
      </legend>
      <input type="checkbox" name="linking.used" title="yes" id="linking-used">
      <label for="linking-used">Yes, I used them.</label>
    </fieldset>

    <label for="reports-linking-comment">Do you have any more comments regarding the tooltips or the links?</label>
    <textarea id="reports-linking-comment" name="reports-linking.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    <article>
      <h3>Confidence mode</h3>

    <p>
      TODO
      Dolor veniam maxime velit alias maiores? Quis laudantium dolorum eius fuga culpa? Tenetur consequuntur nihil excepturi possimus ipsam, repellendus Recusandae.
    </p>

    <fieldset>
      <legend>
        How important and helpful do you consider the confidence mode to be?
      </legend>
      <div class="likert-scale">
        <label for="confidence-mode-helpful-1">Not at all</label>
        <input type="radio" id="confidence-mode-helpful-1" name="confidence-mode.helpful" value="1-not at all" title="not at all">
        <input type="radio" id="confidence-mode-helpful-2" name="confidence-mode.helpful" value="2-not really" title="not really">
        <input type="radio" id="confidence-mode-helpful-3" name="confidence-mode.helpful" value="3-unsure" title="unsure">
        <input type="radio" id="confidence-mode-helpful-4" name="confidence-mode.helpful" value="4-helpful" title="helpful">
        <input type="radio" id="confidence-mode-helpful-5" name="confidence-mode.helpful" value="5-very helpful" title="very helpful">
        <label for="confidence-mode-helpful-5">Very important and helpful</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Did you use the confidence mode?
      </legend>
      <input type="checkbox" name="confidence-mode.used" title="yes" id="confidence-mode-used">
      <label for="confidence-mode-used">Yes, I used it.</label>
    </fieldset>

    <label for="confidence-mode-comment">Do you have any more comments regarding the confidence mode?</label>
    <textarea id="confidence-mode-comment" name="confidence-mode.comment" rows="1" placeholder="Additional comment (optional)"></textarea>
    </article>

    </section>

    <section>
    <h2>Other Feedback</h2>

    <label for="anecdotes">
      What did you use <span class="small-caps">Damast</span> for today?
      How did you interact with the interface, and with what goal in mind?
      Were you able to find anything interesting to you, and if so, what?
    </label>
    <textarea id="anecdotes" name="anecdotes" cols="60" rows="8" placeholder="Describe your use and findings (optional)"></textarea>

    <label for="other-domains">
      Could you see <span class="small-caps">Damast</span> being used for a different domain, or different data?
      If so, what would that be?
      Do you know of any tools that currently support this domain or data analysis?
    </label>
    <textarea id="other-domains" name="other-domains" cols="60" rows="8" placeholder="Describe other suggested uses (optional)"></textarea>

    <label for="e-mail">
      If you want, you can leave an e-mail address.
      In that case, we might notify you if your suggestions become part of <span class="small-caps">Damast.</span>
      We will handle your e-mail address confidentially, and not use it for any other purposes.
    </label>
    <input type="email" id="e-mail" name="e-mail" placeholder="E-mail address (optional)"></input>
    </section>

    <section>
    <div class="horizontal-flex-buttons">
      <button class="button button--large button--red" type="reset">
        <i class="fa fa-fw fa-eraser"></i>
        Clear form
      </button>
      <button class="button button--large button--green" type="submit">
        <i class="fa fa-fw fa-envelope"></i>
        Submit feedback
      </button>
    </div>
    </section>
  </form>
{% endblock %}
