<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="software-version" content="{{ version }}">
    <meta name="server-environment" content="{{ environment }}">
    <meta name="cookie-path" content="{{ cookie_path }}">
    <link rel="icon" href="{{ url_for('root-app.static_public', filename='favicon.png' if not testing else 'favicon-testing.png') }}" type="image/png">

    <link type="text/css" rel="stylesheet" href="{{ url_for('vis.file', path='leaflet.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('vis.file', path='leaflet-geoman.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('vis.file', path='goldenlayout-base.css') }}" />

    <link rel="stylesheet" href="{{ url_for('vis.file', path='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('root-app.static_public', filename='font-awesome/css/font-awesome.min.css') }}">
    <script src="{{ url_for('root-app.static_public', filename='flash.js') }}" type="module"></script>
    <script src="{{ url_for('root-app.static_public', filename='cookies.js') }}" type="module"></script>
    <script src="{{ url_for('vis.file', path='bundle.js') }}" defer></script>

    <title>Visualization - Damast</title>
  </head>
  <body>
    {% include 'vis/defs.svg' %}
    {%- from 'consent_popup.html' import consent_popup with context -%}
    {{ consent_popup() }}
    <header class="section navbar">
    {%- from 'header_links.html' import link_list -%}
    {{ link_list(user, extra=[
      (True, 'root-app.cookie_preferences', 'Cookie Preferences', 'sliders'),
      (True, 'root-app.impressum', 'Impressum', 'question-circle'),
      (True, 'root-app.datenschutz', 'Datenschutz', 'shield')
    ]) }}
      <nav class="extra" aria-label="Copyright and GitHub link">
        <ul class="link-list">
          <li>&copy; 2019&ndash;2022 Max Franke and contributors.</li>
          <li>
            <a href="https://github.com/UniStuttgart-VISUS/damast">
              <i class="fa fa-fw fa-github"></i>
              GitHub</a>.
          </li>
          <li>
            <a href="{{ url_for('docs.license.root') }}">
              <i class="fa fa-fw fa-gavel"></i>
              License</a>.
          </li>
        </ul>
      </nav>
      <span id="vis-history-buttons" class="history-buttons" style="display:flex;gap:1em">
        <button
            class="button button--small"
            id="vis-history-back"
            title="Undo last interaction"
            disabled>
          <i class="fa fa-fw fa-lg fa-undo"></i>
        </button>
        <button
            class="button button--small"
            id="vis-history-forward"
            title="Redo last undone interaction"
            disabled>
          <i class="fa fa-fw fa-lg fa-repeat"></i>
        </button>
        <button
            class="button button--small"
            id="vis-history-show-graph"
            title="Open interaction tree">
          <i class="fa fa-fw fa-lg fa-list"></i>
        </button>
      </span>
      <span id="messages" class="messages"></span>
      {%- from 'user_bar.html' import user_bar -%}
      {{ user_bar(user, button_class='button--small') }}
    </header>
    {%- from 'messages.html' import flash_messages with context -%}
    {{ flash_messages() }}
    <div id="goldenlayout-root" class="container"></div>
{%- if testing -%}
  <div class="environment-label" role="note" aria-label="Testing server label">Testing</div>
{%- endif -%}
  </body>
</html>

