<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('vis.file', path='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('root-app.static_public', filename='font-awesome/css/font-awesome.min.css') }}">
</head>
<body class="modal-standalone-body modal__foreground content">
  {%- if content -%}
    {% include content %}
  {%- else -%}
    <i class="fa fa-3x fa-fw fa-pulse fa-spinner"></i>
  {%- endif -%}
</body>
</html>
