@use '../common/colors' as *;
@use 'variables' as *;
@use 'filters' as filters;

.confidence__header {
  display: grid;
  grid-template-columns: auto repeat(4, max-content) auto;

  & > button:last-of-type {
    margin-left: auto;
  }
}

.source__header {
  display: grid;
  grid-template-columns: repeat(3, max-content) auto auto;

  & > :nth-last-child(2),
  & > :nth-last-child(1) {
    margin-left: auto;
  }
}

.hierarchy__header {
  display: grid;
  grid-template-columns: auto max-content auto auto;

  // put sort switch and apply button separate
  & > :nth-last-child(2),
  & > :nth-last-child(1) {
    margin-left: auto;
  }

  & > :first-child {
    margin-right: auto;
  }
}

.tags__header {
  display: grid;
  grid-template-columns: repeat(2, max-content) auto;

  & > button:last-of-type {
    margin-left: auto;
  }
}

.timeline__controls,
.hierarchy__controls {
  position: relative;
  padding: 2px 5px;
  border-radius: 2px;
  background: $clr-bg;
  margin: 0px 0.5rem;
}

.timeline__controls--narrow {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px 5px;
}

.confidence__controls {
  margin-right: 2px;
}

.button-checkbox {
  input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    pointer-events: none;

    & + label {
      font-size: x-small;
      color: $clr-fg;
      background: $clr-bg;

      padding: 0.8ex 1.6ex 0.8ex calc(0.8ex + 1.6em + 2px);
      margin-inline: 0.5ex;
      border-radius: 0.8ex;

      position: relative;
      box-sizing: border-box;
      user-select: none;

      &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        top: calc(0.05em + 0.8ex);
        left: calc(0.2em + 0.8ex);

        border: 1px solid;
        border-radius: 0.3ex;
        background: $clr-bg-root;
      }
    }

    &:checked + label {
      color: $clr-accent;
      background: $clr-bg-root;

      &::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        background: $clr-accent;
        border-radius: 0.1ex;

        top: calc(0.05em + 0.8ex + 0.2em + 1px);
        left: calc(0.2em + 0.8ex + 0.2em + 1px);
      }
    }
  }
}
