@use '../common/colors' as *;

header {
  font-size: 0.7rem;

  button.link {
    font-size: inherit;
  }

  .history-buttons,
  nav.user-management {
    margin-left: auto;
  }

  .header__extra-buttons,
  .messages {
    margin-left: 2em;
  }

  .messages {
    min-width: 10ch;
    margin-right: auto;
  }
}

div.messages {
  top: 2rem;
}
