<p>
The timeline shows the distribution of the different religious denominations&mdash;or evidence of different levels of confidence&mdash;over the studied time period.
Depending on the <em>timeline mode</em> set in the settings pane, the timeline is displayed either in a qualitative way, or in a quantitative way.
In the qualitative mode, a Gantt chart is shown, indicating the presence or absence of each religion for each year, regardless of the number of evidences.
In the qualitative mode, the data is visualized as a stacked area graph, where the width of each area represents the number of evidences for that religion in that year.
</p>

<h2>Interacting with the Timeline</h2>

<p>
By clicking and dragging, a time range can be selected.
This is indicated by a rectangle, and the area outside that rectangle is darkened.
This time range serves as a time filter for the data in the entire visualization.
Clicking anywhere in the graph resets the filter.
</p>

<p>
In <em>all data</em> mode, filtered-out parts of the data are indicated by desaturated areas.
The time filter does itself not influence the timeline for efficiency reasons.
In <em>only active</em> mode, filtered-out data is hidden from the visualization, and <em>linking</em> only shows the timeline of the currently hovered component.
</p>

<h2>Overview</h2>

<p>
The lower graph shows an overview of the currently visualized data.
This overview does not change during <em>brushing</em> or zooming, and serves as a minimap for the large, upper graph.
By dragging over a section of the overview, the visible area in the upper graph can be selected.
This is then indicated by a selection rectangle.
If the upper graph is <em>range-filtered,</em> the range is indicated as a thick bar below the minimap.
</p>
