<p>
Data with missing temporal information is visualized here, because that data is missing from the timeline.
The tuples are grouped by main religion.
</p>

<p>
Missing data is normal if data entry is a work in progress, but it can severly affect confidence in the visualization if not properly communicated.
We have therefore chosen to make missing geographical locations and time information explicit in separate views of this interface.
This allows for directed search towards data in need of improvement.
</p>

