{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('login.login_css', _method='GET') }}">
{% endblock %}
{% block content %}
  <div class="login-form">
    <p class="logged-in-as">
      Change password for user <span class="user-name">{{ user.name }}</span>:
    </p>
    <form action="{{ url_for('login.change_password_post', _method='POST', next=url_for('login.change_password', _method='GET')) }}" method="POST" enctype="application/x-www-form-urlencoded">
      <label for="password">Old password:</label>
      <input type="password" name="password" autofocus required>
      <label for="password">New password:</label>
      <input type="password" name="new-password" required>
      <input type="submit" name="_submit" class="submit">
      <button class="submit-button button button--blue button--large" for="_submit">
        <i class="fa fa-pencil fa--pad-right"></i>
        Change
      </button>
    </form>
  </div>
{% endblock %}
