{% extends "base.html" %}
{% set footnote_lut = dict() %}
{% set footnotes = namespace(i=1) %}

{% block title %}{{ place.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="{{ url_for('uri.file', path='leaflet.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('uri.file', path='uri.css') }}">
  <script src="{{ url_for('uri.file', path='map.js') }}" defer></script>
{% endblock %}

{% block content %}

<h1>{{ place.name }}</h1>

<section class="info-box">
  {% if place.geoloc %}
  <div class="map" data-lat="{{ place.geoloc.lat }}" data-lng="{{ place.geoloc.lng }}"></div>
  {% else %}
  <div class="map map--none">No Location</div>
  {% endif %}
  <table>
    <tr>
      <td>Name:</td>
      <td>{{ place.name }}</td>
    </tr>
    <tr>
      <td>URI:</td>
      {% set uri = url_root + 'place/' + place.id|string %}
      <td><a href="{{ uri }}">{{ uri }}</a></td>
    </tr>
    <tr>
      <td>Place type:</td>
      <td>{{ place_type.type }}</td>
    </tr>
    <tr>
      <td>Geolocation:</td>
      <td>
        {% if place.geoloc %}
        {{ place.geoloc_str | safe }}
        {% else %}
        <em>unknown</em>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Confidence of location</td>
      <td>{{ place.confidence or 'unknown' }}</td>
    </tr>
  </table>
</section>

{% if place.comment %}
<p class="place-comment">{{ place.comment }}</p>
{% endif %}

<section class="alternative-names">
  <h2>Names</h2>

  <ul>
    {% for name in alternative_names %}
    <li>
      <strong>{{ name.name }}</strong>
      {% if name.transcription %}
      <em>({{ name.transcription }})</em>
      {% endif %}
      {% if name.language != 'Undefined' %}
      in
      <em>{{ name.language }}</em>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>

<section class="see-also">
  <h2>See Also</h2>

  {% if external_uris|length %}
    <ul>
      {% for e in external_uris %}
      <li>
        at <em>{{ e.name }}:</em>
        <a href="{{ e.uri }}">{{ e.uri }}</a>
        {%- if e.comment -%}
        <br>
        Comment:
        <em><q>{{ e.comment }}</q></em>
        {%- endif -%}
      </li>
      {% endfor %}
    </ul>
  {% else %}
  <p>This place is not linked to any external URIs.</p>
  {% endif %}
</section>

<section class="religions">
  <h2>Religions</h2>

  <a class="under-header-link" href="{{ url_for('uri.place.get_place_evidence_list', place_id=place.id) }}">
    <i class="fa fa-external-link"></i>
    List all pieces of evidence for {{ place.name }}.
  </a>

  <ul>
    {% for e in by_religion %}
    <li>
      <strong>{{ e.religion.name }}:</strong>
      <ul>
        {% for t in e.time_spans %}
        <li>
          {%- if t[0] is none -%}
          without any time information
          {%- else -%}
          from <em>{{ t[0].start }}</em> to <em>{{ t[0].end }}</em>
          {%- endif -%}
          {%- if t[1] -%}
          {%- for sid in t[1] -%}
          {%- if sid in footnote_lut -%}
          {%- set footnote_nr = footnote_lut.get(sid) -%}
          {%- else -%}
          {%- set footnote_nr = footnotes.i -%}
          {%- set footnotes.i = footnotes.i + 1 -%}
          {%- set _dummy = footnote_lut.update({ sid: footnote_nr }) -%}
          {%- endif -%}
          <sup><a class="footnote footnote-source" href="#source-{{ sid }}">[{{ footnote_nr }}]</a></sup>
          {%- endfor -%}
          {%- endif -%}
        </li>
        {% endfor %}
      </ul>
    </li>
    {%endfor%}
  </ul>
</section>

{% if persons | length %}
<section class="persons">
  <h2>Persons</h2>

  <ul>
    {% for p in persons %}
    <li>
      <strong>{{ p.name }}</strong>
      {% if p.time_range %}
      <em>({{ p.time_range }})</em>
      {% endif %}

      <ul>
        {% for t in p.times %}
        <li>
          {{ t.timestr | safe }}
          {%- if t.source_ids -%}
          {%- for sid in t.source_ids -%}
          {%- if sid in footnote_lut -%}
          {%- set footnote_nr = footnote_lut.get(sid) -%}
          {%- else -%}
          {%- set footnote_nr = footnotes.i -%}
          {%- set footnotes.i = footnotes.i + 1 -%}
          {%- set _dummy = footnote_lut.update({ sid: footnote_nr }) -%}
          {%- endif -%}
          <sup><a class="footnote footnote-source" href="#source-{{ sid }}">[{{ footnote_nr }}]</a></sup>
          {%- endfor -%}
          {%- endif -%}
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<section class="sources">
  <h2>Sources</h2>

  <ol>
    {% for sid, fnr in footnote_lut.items() %}
    <li class="source" id="source-{{ sid }}" data-footnote-number="[{{ fnr }}]">
      {{ sources[sid].name }}
      {%- if source_pages[sid] -%}
      <em>: {{ source_pages[sid] }}.</em>
      {%- else -%}.{% endif %}
      <em>({{ sources[sid].source_type }})</em>
    </li>
    {% endfor %}
  </ol>
</section>

<section class="cite" id="cite">
  <h2>How to Cite</h2>

  <p>
    Barczok, Ralph, and Bernd A. Vest.
    <q>{{ place.name }}.</q>
    In: <em>Damast &mdash; A Research System to Analyze Multi-Religious Constellations in the Islamicate World,</em>
    edited by Dorothea Weltecke, Steffen Koch, Ralph Barczok, Max Franke, Florian Jäckel, and Bernd A. Vest.
    <time date="2022-04">April 2022</time>.
    Accessed <time datetime="{{ now }}">{{ now_fmt }}</time>.
    <a href="{{ uri }}">{{ uri }}</a>, data deposited at DaRUS, <a href="https://doi.org/10.18419/darus-2318">https://doi.org/10.18419/darus-2318</a>.
  </p>
</section>

{% endblock %}
