{% extends "base.html" %}
{% set footnote_lut = dict() %}
{% set footnotes = namespace(i=1) %}
{%- from 'reporting/fragments/macros.html' import create_evidence_linklist with context -%}
{%- from 'reporting/fragments/evidence.html' import create_evidence with context -%}
{%- from 'reporting/fragments/religion.html' import create_religion with context -%}
{%- from 'reporting/fragments/person.html' import create_person with context -%}
{%- from 'reporting/fragments/timeline.html' import create_timeline with context -%}

{% block title %}{{ place.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('reporting.file', path='report.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('uri.file', path='uri.css') }}">
  <script src="{{ url_for('uri.file', path='map.js') }}" defer></script>
{% endblock %}

{% block content %}

<a class="back-link" href="{{ url_for('uri.place.get_place', place_id=place.id) }}">
  <i class="fa fa-arrow-left"></i>
  Back to overview
</a>

<h1>{{ place.name }}</h1>
<h2 class="subtitle">List of Pieces of Evidence</h2>

{% for evidence in evidences %}
  {{ create_evidence(evidence, create_place_links=false) }}
{% endfor %}

<section id="religions">
  <h2>Religions</h2>

  {% for religion in religions %}
    {{ create_religion(religion) }}
  {% endfor %}
</section>

{%- if persons|length -%}
<section id="persons">
  <h2>Persons</h2>

  {% for person in persons %}
    {{ create_person(person) }}
  {% endfor %}
</section>
{%- endif -%}

<section id="timeline">
  <h2>Timeline</h2>

  {{ create_timeline(time_data) }}
</section>

{% if sources %}
<section id="sources">
  <h2>Sources</h2>

  <ul class="source-list">
    {% for i, source in sources %}
    <li id="source{{source.id}}" class="source">
      <span class="source__short" >
        {{ source.short }}
      </span>
      <p class="source__name">
        {{ source.name }}
        <span class="source__type">{{ source.source_type }}</span>
      </p>
      <p class="source__name">
        {{ create_evidence_linklist(source_evidence[source.id], before='', middle=' based on this source: ', after='') }}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}


{#
<section id="cite">
  <h2>How to Cite</h2>

  <p>We suggest to cite this report in the following way:</p>
  <blockquote>
    Damast report <code>{{ report_id }}</code>,
    based on data by Ralph Barczok and Bernd A. Vest, and the visualization of
    <em>Damast &mdash; A Research System to Analyze Multi-Religious Constellations in the Islamicate World,</em>
    edited by Dorothea Weltecke, Steffen Koch, Ralph Barczok, Max Franke, Florian Jäckel, and Bernd A. Vest.
    <time date="2022-04">April 2022</time>.
    Created <time datetime="{{ metadata.current_time_machine }}">{{ metadata.current_time_short }}</time>.
    <a href="{{ report_url }}">{{ report_url }}</a>, data deposited at DaRUS: <a href="https://doi.org/10.18419/darus-2318">https://doi.org/10.18419/darus-2318</a>.
  </blockquote>
</section>
#}

{% endblock %}
