<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="software-version" content="{{ version }}">
  <meta name="server-environment" content="{{ environment }}">
  <meta name="cookie-path" content="{{ cookie_path }}">

  {% block head %}
  <link rel="stylesheet" href="{{ url_for('root-app.static_public', filename='base.css') }}">
  <link rel="stylesheet" href="{{ url_for('root-app.static_public', filename='font-awesome/css/font-awesome.min.css') }}">
  <link rel="icon" href="{{ url_for('root-app.static_public', filename='favicon.png' if not testing else 'favicon-testing.png') }}" type="image/png">
  <script src="{{ url_for('root-app.static_public', filename='flash.js') }}" type="module"></script>
  <script src="{{ url_for('root-app.static_public', filename='cookies.js') }}" type="module"></script>
  <title>{% block title %}{% endblock %} - Damast</title>
  {% endblock %}
</head>
<body>
  <header class="header">
    {% block header %}
    {%- from 'header_links.html' import link_list -%}
    {{ link_list(user) }}
    {%- from 'user_bar.html' import user_bar with context -%}
    {{ user_bar(user) }}
    {% endblock %}
  </header>
  {%- from 'messages.html' import flash_messages with context -%}
  {{ flash_messages() }}
  {%- block consent -%}
  {%- from 'consent_popup.html' import consent_popup with context -%}
  {{ consent_popup() }}
  {%- endblock -%}
  <main class="content">
    {% block content %}

    {% endblock %}
  </main>
  <footer class="footer">
    {% block footer %}
    <span class="footer__text" aria-label="Copyright and GitHub link">
      &copy; 2019&ndash;2024 Max Franke and contributors.
      <a href="https://github.com/UniStuttgart-VISUS/damast">
        <i class="fa fa-fw fa-github"></i>
        GitHub</a>.
      <a href="{{ url_for('docs.license.root') }}">
        <i class="fa fa-fw fa-gavel"></i>
        License</a>.
    </span>
    {% include "dsgvo_links.html" %}
    {% endblock %}
  </footer>
{%- if testing -%}
  <div class="environment-label" role="note" aria-label="Testing server label">Testing</div>
{%- endif -%}
</body>
</html>
