{% extends "base.html" %}
{% block title %}Datenschutzerklärung{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('root-app.static_public', filename='dsgvo.css', _method='GET') }}">
{% endblock %}
{% block content %}
      <h1 class="title">Datenschutzerklärung</h1>
      <h2>Grundlegendes</h2>
      <p>
      Diese Datenschutzerklärung soll die Nutzer dieser Website über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber <a href="./impressum.html">Max Franke, Universität Stuttgart</a> informieren. Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften. Da durch neue Technologien und die ständige Weiterentwicklung dieser Webseite Änderungen an dieser Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen sich die Datenschutzerklärung in regelmäßigen Abständen wieder durchzulesen. Definitionen der verwendeten Begriffe (z.B. "personenbezogene Daten" oder "Verarbeitung") finden Sie in Art. 4 DSGVO.
      </p>

      <h2>Zugriffsdaten</h2>
      <p>
      Wir, der Websitebetreiber bzw. Seitenprovider, erheben aufgrund unseres berechtigten Interesses (s. Art. 6 Abs. 1 lit. f. DSGVO) Daten über Zugriffe auf die Website und speichern diese als "Server-Logfiles" auf dem Server der Website ab. Folgende Daten werden so protokolliert:
      </p>
      <ul>
        <li>Besuchte Website</li>
        <li>Uhrzeit zum Zeitpunkt des Zugriffes</li>
        <li>Menge der gesendeten Daten in Byte</li>
        <li>Quelle/Verweis, von welchem Sie auf die Seite gelangten (sog. Referrer)</li>
        <li>Verwendeter Browser</li>
        <li>Verwendetes Betriebssystem</li>
        <li>Verwendete IP-Adresse</li>
        <li>Name des benutzten Logins</li>
      </ul>
      <p>
      Die Server-Logfiles werden für maximal 10 Tage gespeichert und anschließend gelöscht. Die Speicherung der Daten erfolgt aus Sicherheitsgründen, um z.B. Missbrauchsfälle aufklären zu können. Zudem können die Logfiles genutzt werden, um Fehler in der Serverkonfiguration zu erkennen.
      </p>

      <h2>Cookies</h2>
      <p>
      Um den Inhalt der Website sehen zu können, müssen Sie sich anmelden.
      Damit Sie die Zugangsdaten nicht bei jedem Seitenwechsel neu eingeben müssen, verwendet diese Website Cookies, um Ihre Session zu speichern.
      Bei Cookies handelt es sich um kleine Dateien, welche auf Ihrem Endgerät gespeichert werden. Ihr Browser greift auf diese Dateien zu.
      </p>
      <p>
      Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen.
      Außerdem können Sie auf dieser Webseite unter
      <a href="{{ url_for('root-app.cookie_preferences') }}">
        <i class="fa fa-link"></i>
        Cookie Preferences
      </a>
      Ihre Cookie-Präferenzen angeben und ändern.
      <span class="emph">Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende Einstellungen vornehmen!</span>
      </p>

      <h2>SSL-Verschlüsselung</h2>
      <p>
      Um Ihre übermittelten Daten bestmöglich zu schützen nutzen die Websitebetreiber eine SSL-Verschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix <span class="code">https://</span> im Seitenlink in der Adresszeile Ihres Browsers. Unverschlüsselte Seite sind durch <span class="code">http://</span> gekennzeichnet. Sämtliche Daten, welche Sie an diese Website übermitteln&mdash;etwa bei Anfragen oder Logins&mdash;können dank SSL-Verschlüsselung nicht von Dritten gelesen werden.
      </p>

      <h2>Umgang mit Kontaktdaten</h2>
      <p>
      Nehmen Sie mit uns als Websitebetreiber durch die <a href="./impressum.html#mail">angebotenen Kontaktmöglichkeiten</a> Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.
      </p>

      <h2>Rechte des Nutzers</h2>

      <p>
      Sie haben als Nutzer das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche personenbezogenen Daten über Sie gespeichert wurden.
      Sie haben außerdem das Recht auf Berichtigung falscher Daten und auf die Verarbeitungseinschränkung oder Löschung Ihrer personenbezogenen Daten.
      Falls zutreffend, können Sie auch Ihr Recht auf Datenportabilität geltend machen.
      Sollten Sie annehmen, dass Ihre Daten unrechtmäßig verarbeitet wurden, können Sie eine Beschwerde bei der zuständigen Aufsichtsbehörde einreichen.
      </p>

      <h3>Löschung von Daten</h3>
      <p>
      Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten (z.B. Vorratsdatenspeicherung) kollidiert, haben Sie ein Anrecht auf Löschung Ihrer Daten.
      Von uns gespeicherte Daten werden, sollten sie für ihre Zweckbestimmung nicht mehr vonnöten sein und es keine gesetzlichen Aufbewahrungsfristen geben, gelöscht.
      Falls eine Löschung nicht durchgeführt werden kann, da die Daten für zulässige gesetzliche Zwecke erforderlich sind, erfolgt eine Einschränkung der Datenverarbeitung.
      In diesem Fall werden die Daten gesperrt und nicht für andere Zwecke verarbeitet.
      </p>

      <h3>Widerspruchsrecht</h3>
      <p>
      Nutzer dieser Webseite können von ihrem Widerspruchsrecht Gebrauch machen und der Verarbeitung ihrer personenbezogenen Daten zu jeder Zeit widersprechen.
      Wenn Sie eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Ihrer Person gespeicherten personenbezogenen Daten wünschen oder Fragen bzgl. der Erhebung, Verarbeitung oder Verwendung Ihrer personenbezogenen Daten haben oder erteilte Einwilligungen widerrufen möchten, wenden Sie sich bitte an folgende E-Mail-Adresse:
      <a href="mailto:Max.Franke@vis.uni-stuttgart.de">Max.Franke@vis.uni-stuttgart.de</a>.
      </p>

      <h3>Recht auf Datenübertragbarkeit</h3>
      <p>
      Sie haben nach Art. 20 Abs. 1 DSGVO das Recht, alle auf Sie bezogenen, von uns gespeicherten Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten.
      Sie haben weiterhin das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung unsererseits zu übermitteln.
      </p>
{% endblock %}
