{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('root-app.file', path='style.css') }}">
{% endblock %}
{% block content %}

<section class="background-image"
         aria-hidden="true"
         style="background-image:url({{ url_for('root-app.file', path='root-background.jpg') }})"></section>

<section class="text_section">

  <div class="title_section text_subsection">

    <h1 id="main_title">DAMAST</h1>

    <h2>A Research System to Analyse Multi-Religious Constellations in the Islamicate World</h2>

    <figure class="illustration">
      <img
          src="illustration_map.jpg"
          alt="Partial screenshot from the map"
          title="Partial screenshot from the map"/>
    </figure>

    <p id="main_navigation">
    <a href="#about">About</a> |
    <a href="#data">Data Used</a> |
    <a href="#features">Features</a>
    </p>

    <p>
    DAMAST provides an <strong>interactive visualization</strong> to gain new insights on the multi-religious landscapes of the Middle East under Muslim rule during the Middle Ages (7th
    to 14th century).
    More than 8300 evidences of the presence of different religious communities at more than 442 places have been examined and recorded and are now accessible as a <strong>web-based geo-temporal multi-view system.</strong>
    </p>

  </div>

  <div class="text_subsection">

    <p>
    Although today&mdash;and today for the first time&mdash;, a mono-religious situation emerges in the Middle East, during the Medieval centuries, specific groups of Non-Muslims (especially Jews, Christians, and Zoroastrians) were tolerated and had in turn to accept a lower legal status, the so-called Dhimmi status.
    <strong>This led to great religious diversity in the Medieval Muslim world.</strong>Thus, in the many cities of the Muslim world, the divers Muslim strands as well as different churches of Eastern Christianity and Jewish traditions were living side by side.
    Often, three or even four Christian bishops resided in one city.
    Together, these religious groups formed the fabric of every-day life and culture in the Islamicate world.
    This grade of religious diversity is not found in the medieval cities of the Latin, Byzantine and Caucasian worlds, which were dominated by Christian rule.
    </p>

    <p>
    <strong>However, the diachronic and synchronic complexity of these multi-religious populations is still understudied.</strong>
    Basic knowledge about the exact distribution and even the sheer existence of religious groups in many places is still lacking.
    So far, historical narratives are still based on impressions of singular sources and traditional views rather than empirical data.
    </p>

    <p>
    <strong>Information from multiple sources can now be analyzed and compared, something not possible using texts, tables or static maps</strong>. Thus, traditional historiographical methods of heuristics and qualitative source analysis
    have been rethought and revived by embedding them into a new approach of visual analytics. At the same time, the project boosted methods of visual analytics and information visualization as, e.g., how to visually represent uncertainty
    and analytic provenance information. The project thus contributes to both disciplines, historiography and visualization research.
    </p>

  </div>
</section>

<section class="background_image"></section>

<section class="text_section">

  <div id="about" class="text_subsection">

    <h2>About</h2>

    <p class="go_to_top"><a href="#main_title"></a></p>

    <p>
    DAMAST offers the visualization software created and the data collected in the project <strong><i>Dhimmis and Muslims — Analysing Multi-Religious Spaces in the Medieval Muslim World</i></strong>, in short: DhiMu. DhiMu was carried out from 2016 until 2021 as a collaboration between the Institute for Medieval History II of Goethe University Frankfurt, led by Dorothea Weltecke (since October 2021: Professor for European History of the Middle Ages at Humboldt-Universität zu Berlin), and the Institute of Visualization and Interactive Systems of the University of Stuttgart.
    It was funded by the Volkswagen Foundation as part of the <i><a href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=93252">Mixed Methods</a></i> program.
    Starting in October 2020, the project was also partially integrated in the Kollegforschungsgruppe “Polycentricity and Plurality of Premodern Christianity” (POLY) at Goethe University Frankfurt, funded by the DFG.
    </p>

    <p>
    You can <strong>get in touch</strong> writing an e-mail to <a href="mailto:contact@damast.hu-berlin.de">contact@damast.hu-berlin.de</a>.
    </p>

    <div class=logos>
      <img src="logo_hu.svg" />
      <img src="logo_vis.png" />
      <img src="logo_goethe.svg" />
      <img src="logo_vw.png" />
    </div>

    <hr class="divisionline" />
  </div>

  <div id="scholars" class="text_subsection">

    <h3>Scholars Involved</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <h4>Principial Investigators</h4>

      <p>
      <strong><a href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/personen/zis/weltecke-dorothea">Prof. Dr. Dorothea Weltecke</a></strong> &mdash; Professor for European History of the Middle Ages, Historical Institute,
      Humboldt-Universität zu Berlin (formerly with the Institute for Medieval History II at Goethe University Frankfurt)
      </p>

      <p>
      <strong><a href="https://www.vis.uni-stuttgart.de/institut/team/Koch-00026/">Dr. Steffen Koch</a></strong> &mdash; Research Associate, Institute for Visualization and Interactive Systems (VIS), Research Group Graphical Interactive Systems
      </p>

      <h4>Researchers</h4>

      <p>
      <strong><a href="https://www.geschichte.uni-frankfurt.de/f7/ralph-barczok-66162272">Dr. Ralph Barczok</a></strong> &mdash; Researcher at the Institute for Medieval History II, Goethe University in Frankfurt/Main
      </p>

      <p>
      <strong><a href="https://www.vis.uni-stuttgart.de/en/institute/team/Franke/">Max Franke, M.Sc.</a></strong> &mdash; Ph.D. Student, Institute for Visualization and Interactive Systems (VIS), Research Group Graphical Interactive Systems
      </p>

      <p>
      <strong><a href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/personen/zis/jaeckel-florian">Dr. des. Florian Jäckel</a></strong> &mdash; Researcher at the professorship for European History of the Middle Ages, Historical Institute, Humboldt-Universität zu Berlin
      </p>

      <p>
      <strong><a href="https://www.geschichte.uni-frankfurt.de/83779788/Dr__Bernd_Andreas_Vest">Dr. Bernd A. Vest</a></strong> &mdash; Researcher at the Institute for Medieval History II, Goethe University in Frankfurt/Main
      </p>

    </details>
  </div>

  <div id="publications" class="text_subsection">

    <h3>Publications</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      The following works have been published in the context of DAMAST:
      </p>

      <p class="bibliography_item tobedone">
      Weltecke, Dorothea; Barczok, Ralph; Vest, Bernd A.: ### (forthcoming).
      </p>

      <p class="bibliography_item">
      Franke, Max, Ralph Barczok, Steffen Koch, and Dorothea Weltecke. <q>Confidence as a First-class Attribute in Digital Humanities Data.</q> In: <i>Proceedings of the 4th VIS4DH Workshop</i>, VIS 2019, Vancouver. October 20–25, 2019, IEEE (2019). <a href="https://vis4dh.dbvis.de/2019/papers/2019/VIS4DH2019_paper_1.pdf">https://vis4dh.dbvis.de/2019/papers/2019/VIS4DH2019_paper_1.pdf</a>.
      </p>

    </details>
  </div>

  <div id="how-to-cite" class="text_subsection">

    <h3>How to Cite</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      The data underlying the visualization and reports will not be expanded or substantially revised;
      only obvious errors will be corrected.
      Thus, <strong>reference to DAMAST will be consistent over time and citable via the respective permalinks.</strong>
      </p>

      <p>
      If you want to refer to DAMAST as such, we recommend to use the following bibliographical information:
      </p>

      <p class="bibliography_item tobedone">
      Weltecke, Dorothea, Steffen Koch, Ralph Barczok, Max Franke, Florian Jäckel, and Bernd A. Vest, eds. <i>DAMAST – A Research System to Analyze Multi-Religious Constellations in the Islamicate World.</i> April 2022. Accessed <code>#dynamic_date as, e.g., April 6, 2016]#</code>. https://damast.hu-berlin.de, data deposited at DaRUS, https://doi.org/10.18419/darus-2318.
      </p>

      <p>
      For <strong>specific references</strong>, such as <a href="#reports">reports</a> or <a href="#place_uris">place URIs</a>, appropriate information on how to cite, including a permanent link, is provided individually.
      </p>

    </details>
  </div>

  <div id="sourcecode" class="text_subsection">

    <h3>Source Code and Data Repository</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      The <strong>source code</strong> of the visualization is freely available on GitHub:
      <a href="https://github.com/UniStuttgart-VISUS/damast ">https://github.com/UniStuttgart-VISUS/damast </a>
      </p>

      <p>
      The <strong>data underlying the visualization</strong> has been deposited on DaRUS (<em>Data Repository der Universität Stuttgart:</em>
      <a href="https://doi.org/10.18419/darus-2318">https://doi.org/10.18419/darus-2318</a>
      </p>

    </details>
  </div>
</section>

<section class="background_image"></section>

<section id="data" class="text_section">

  <div class="text_subsection">

    <h2>Data Used</h2>

    <p class="go_to_top"><a href="#main_title"></a></p>

    <figure class="illustration">
      <img
          src="illustration_data.jpg"
          alt="Partial screenshot of the data model"
          title="Partial screenshot of the data model"/>
      <figcaption>
        <p>Partial screenshot of the data model</p>
      </figcaption>
    </figure>

    <p>
    In what follows, an overview of the data collected and underlying the visualization is given. More details and extensive arguments for our procedure and choices are published as <span class="tobedone">###</span>. The data has been
    deposited on DaRUS (<a href="https://doi.org/10.18419/darus-2318">https://doi.org/10.18419/darus-2318</a>).
    </p>

    <hr class="divisionline" />

  </div>

  <div class="text_subsection">

    <h3 id="sources">Sources</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      DAMAST uses <strong>well established data collections in secondary sources</strong>. Information from the following works of reference was included:
      </p>

      <ul>
        <li>
          Fiey's Oriens Christianus Novus
        </li>
        <li>
          Dictionnaire d’histoire et de géographie ecclésiastiques
        </li>
        <li>
          Encyclopaedia of Islam (Third, Second, and First Edition)
        </li>
        <li>
          Encyclopedia of Iran
        </li>
        <li>
          Encyclopedia Judaica
        </li>
        <li>
          Encyclopedia of Jews in the Islamic World
        </li>
        <li>
          Timm's Das christlich-koptische Ägypten in arabischer Zeit
        </li>
        <li>
          Prosopographie der mittelbyzantinischen Zeit
        </li>
        <li>
          Tabula Imperii Byzantini
        </li>
        <li>
          Vest's Melitene
        </li>
        <li>
          Coptic Encyclopedia
        </li>
      </ul>

      <p>
      Additionally, one <strong>primary source</strong> from each of the three main religions was included:
      </p>

      <ul>
        <li>Al-Muqaddasī's Aḥsan al-taqāsīm (“The Best of Divisions”)</li>
        <li>Benjamin of Tudela's Sefer ha-Masa'ot (“The Book of Travels”)</li>
        <li>The Lists of Armenian Bishoprics ###</li>
      </ul>

    </details>
  </div>

  <div class="text_subsection">

    <h3 id="scope">Scope of Time and Space</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      DAMAST visualizes evidence <em>from the 7th to the 14th century</em> in the <em>area of the former Roman and Sassanian empires</em>.
      </p>

    </details>
  </div>

  <div class="text_subsection">

    <h3 id="choice_of_places">Choice of Places</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      Places included in the data were chosen with regard to their <strong>importance for the respective religious community:</strong>
      </p>

      <ul>
        <li>
          buildings used for religious purposes: temples, mosques, churches, synagogues, etc.
        </li>
        <li>
          sees of patriarchs, bishops, and other high officials in the church hierarchy in the case of Christianity
        </li>
        <li>
          <span class="tobedone">###</span> in the case of Judaism
        </li>
        <li>
          cities recorded by al-Muqaddasī (metropolis: <i>miṣr</i>, capital of a province: <i>kūra</i>, or of a district: <i>nāḥiya</i>
        </li>
      </ul>

      <p>
      Often, the exact location of a settlement has changed over time or is not exactly clear. One way DAMAST handles this problem is to assign a specific <em>level of confidence</em> to the localization (cf. the section on <a href="#confidence">confidence</a>          below).
      </p>

    </details>
  </div>

  <div class="text_subsection">

    <h3 id="religious_groups">Religious Groups</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      The following religious groups are treated by DAMAST:
      </p>

      <ul style="columns: 2;">
        <li>Christianity</li>
        <ul>
          <li>Church of the East (<q>Nestorians</q>)</li>
          <li>Melkites (Rūm)</li>
          <li>Latin</li>
          <li>Maronites</li>
          <li>Georgians</li>
          <li>Copts</li>
          <li>Syriac Orthodox</li>
          <li>Armenians</li>
        </ul>
        <li>Islam</li>
        <ul>
          <li>Shiites</li>
          <li>Sunnis</li>
          <li>Kharijites</li>
        </ul>
        <li>Judaism</li>
        <ul>
          <li>Rabbanites</li>
          <li>Karaites</li>
          <li>Samaritans</li>
        </ul>
        <li>Other</li>
        <ul>
          <li>Zoroastrianism</li>
          <li>Buddhism</li>
          <li>Manichaeism</li>
          <li>Pagans</li>
          <li>Hindus</li>
          <li>Yazidis</li>
          <br/>
          <br/>
        </ul>
      </ul>

      <p>
      If it is not clear from a given source what group is meant, the general religious affiliation (e.g., Christianity) was recorded instead.
      </p>

    </details>
  </div>

  <div class="text_subsection">

    <h3 id="tags">Tags</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      In addition to religious affiliation, time, and place, DAMAST implements tags to <strong>enhance the data and to enable more specific filtering</strong> of the database and visualization.
      </p>

      <p>
      For instance, an evidence could be tagged as <q>bishopric</q> or <q>metropolitan residence</q>, enabling to visualize only places that are metropolitan sees rather than all Christian presence.
      </p>

    </details>
  </div>

  <div class="text_subsection">

    <h3 id="confidence">Confidence</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      DAMAST <strong>includes ambiguous information without distorting the visualization</strong> by attributing data with levels of confidence. (No attribution of confidence would either lead to the <em>exclusion of data</em> or
      to <em>presenting uncertain information as seemingly equally certain.</em>)
      </p>

      <p>
      <strong>Five levels of confidence</strong> were used:
      </p>

      <ul>
        <li> certain</li>
        <li> probable</li>
        <li> contested</li>
        <li> uncertain</li>
        <li> false</li>
        </p>
      </ul>

      <p>
      The following <strong>aspects of information</strong> were each attributed with a specific level of confidence:
      </p>

      <ul>
        <li>Location – Is the place in the database at the provided location (i.e., geo-coordinates)?</li>
        <li>Place attribution – Was the religious group present at this place, rather than another one, e.g., one with a similar name?</li>
        <li>Time span – Was the religious group present during this time span?</li>
        <li>Religion – Was it this religious group, rather than another one?</li>
        <li>Source – Is the information provided by the source credible?</li>
        <li>Interpretation – Do we interpret the information correctly?</li>
      </ul>

    </details>
  </div>
</section>

<section class="background_image"></section>

<section class="text_section">

  <div class="text_subsection">

    <h2 id="features">Features</h2>

    <p class="go_to_top"><a href="#main_title"></a></p>

    <figure class="illustration">
      <img
          src="illustration_visualization.jpg"
          alt="Partial Screenshot of the Visualization"
          title="Partial Screenshot of the Visualization"/>
      <figcaption><p>Partial screenshot of the visualization</p></figcaption>
    </figure>

    <p>
    DAMAST offers several features, such as the <strong>visualization</strong> with its different views to filter and interactively display the data, the possibility to <strong>generate reports</strong> based on the current result of your research, and the <strong>collected information for each place</strong> in the database on so-called <em>place URI pages.</em>
    </p>

    <p>
    Many of the controls of the visualization of DAMAST should be <strong>intuitive and easily understood</strong> through trial and error.
    <strong>Hovering with the mouse</strong> over a specific element will generally display a tooltip providing additional information.
    More specific and advanced aspects are best understood by reading the <strong>info texts</strong>.
    These can be accessed when clicking on the question mark symbol in the upper right corner of the respective view.
    <strong>An extensive documentation</strong> including the info texts as well as a introduction to the general principles of the visualization can be found <a href="documentation">here</a>.
    </p>

    <p>
    In what follows, only a brief overview is presented. In addition, video tutorials are provided.
    </p>

    <hr class="divisionline" />
  </div>

  <div class="text_subsection">

    <h3 id="visualization_overview">Visualization</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      The principal object of DAMAST is to visualize the different aspects of the data such as religion, place, time, source, etc. <a href="#data">as described above</a>.
      The presentation is organized in different menus, so-called <em>views</em>, including a map, a timeline, and various lists and tables.
      </p>

      <p>
      Each <em>view</em> is also used for <strong>filtering</strong> based on the different aspects of the data, allowing for a very fine-grained analysis.
      Applying the filters interactively changes the map and the rest of the visualized data (e.g., the figures given in the different views).
      </p>

      <p>
      Apart from filtering the data, individual aspects can be temporarily <strong>brushed and linked,</strong> highlighting related data across all views.
      </p>

      <p>
      In the <em>Settings</em> pane, different <em>modes</em> of the visualization can be switched.
      For instance, instead of only showing data matching the current filters, in <em>All data</em> mode data that has been filtered out is shown as well but in less saturated colors.
      Also, further features can be accessed (such as <a href="#reports">generating reports</a>).
      </p>

    </details>
  </div>

  <div class="text_subsection">

    <h3 id="place_uris">Place URI Pages</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      To provide <strong>all the information collected regarding a specific place</strong>, DAMAST offers a so-called <em>place URI page</em> for each place in the database. These can be accessed via the view <em>Location List</em> or through <em>Places</em> in the top menu.
      </p>

      <p>
      A place URI page contains:
      </p>

      <ul>
        <li>A box with an overview at the right side, including an interactive minimap, showing the position of the place, its main toponym and its geo-coordinates</li>
        <li>A brief general description</li>
        <li><em>Names</em> &ndash; a list of the different toponyms of a town in different languages including Latin transcription</li>
        <li><em>See Also</em> &ndash; a list of external references</li>
        <li><em>Religions</em> &ndash; a list of all religions with their time of presence according to the respective sources</li>
        <li><em>Sources</em> &ndash; a list of these sources</li>
      </ul>

    </details>
  </div>

  <div class="text_subsection">

    <h3 id="reports">Reports</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p>
      In order to <strong>document, share, and reference the results</strong> when using DAMAST, reports can be generated. This is done either via the <em>Settings</em> view or through <em>Docs</em> &gt; <em>Create report from database</em> in the top menu.
      </p>

      <p>
      A report contains:
      </p>

      <ul>
        <li>A description of all the filters applied (<q>Query Description</q>)</li>
        <li>A note on how to cite the report</li>
        <li>Separate lists of all evidences, places, and religions based on the filters</li>
        <li>A representation of the timeline based on the filters</li>
        <li>A list of all Sources underlying the Evidences</li>
      </ul>

      <p>
      After generation, the report is presented as a <strong>static webpage with a permanent link.</strong> Each report has a <em>Universally Unique Identifier</em> (UUID), which is also part of this permanent link.
      </p>

      <p style="text-align: center;">
      <strong>Note that the UUID or permanent link needs to be recorded by the user to access the report later!</strong>
      </p>

      <p>
      From the report’s webpage, several other features are available, such as a <strong><em>PDF</em> for offline use or sharing</strong> and a <em>JSON</em> file that contains the filters and can later be used to recreate the report.</p>

      <p>
      <strong>The report can be re-run</strong> in case the underlying data of the visualization has changed.
      Note that in the case of this public instance of the tool, the data will not be expanded or substantially revised;
      only obvious errors will be corrected.
      </p>

      <p>
      Also, the data underlying the report can be shown in the visualization;
      filters can thus be adapted and, e.g., <strong>a new, slightly altered report can be generated</strong>, based on the original one.
      </p>

    </details>
  </div>

  <div class="text_subsection">

    <h3>Video Tutorials</h3>

    <details>

      <summary>
        <p>
        <span></span>
        </p>
      </summary>

      <p class="tobedone">
      ### content ###
      </p>

    </details>
  </div>
</section>


<div class="logos">
  <a class="logo logo--larger" href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/gmspaet/mittelalterliche-geschichte-ii/personen/prof-dr-dorothea-weltecke">
    <img src="{{ url_for('root-app.static_public', filename='huberlin-logo-white.svg') }}" alt="Logo Humboldt University Berlin">
  </a>
  <a class="logo" href="https://www.geschichte.uni-frankfurt.de/87681539/dhimmis_and_muslims">
    <img src="https://www.geschichte.uni-frankfurt.de/assets/ci/head_logo-3f4b9591169c7a3095f77eb21e4d00649f1ed7bdc00ace2e4eb2c9b5285e07ea.svg" alt="Logo Goethe University">
  </a>
  <a class="logo" href="https://www.vis.uni-stuttgart.de/projekte/dhimmis-and-muslims/">
    <img src="https://www.vis.uni-stuttgart.de/system/modules/de.stuttgart.uni.v3.basics/resources/img/svg/logo-inverted-de.svg" alt="Logo University of Stuttgart">
  </a>
  <a class="logo" href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=93252">
    <img class="white" src="https://www.volkswagenstiftung.de/profiles/vwst/theme/volkswagen/images/logo-white.svg" alt="Logo VolkswagenStiftung">
  </a>
</div>

{% endblock %}
