<span class="footer__links">
  <a class="footer__links__link" href="{{ url_for('root-app.cookie_preferences') }}" id="cookies-prefs">
    <i class="fa fa-sliders"></i>
    Cookie Preferences
  </a>
  <a class="footer__links__link" href="{{ url_for('root-app.impressum') }}" id="impressum">
    <i class="fa fa-question-circle"></i>
    Impressum
  </a>
  <a class="footer__links__link" href="{{ url_for('root-app.datenschutz') }}" id="datenschutz">
    <i class="fa fa-shield"></i>
    Datenschutzerklärung
  </a>
</span>
