{% macro link_list(user, extra=[]) -%}
<nav class="links">
  <ul class="link-list">
    {%- if user -%}
    <li>
      <a href="{{ url_for('root-app.root') }}">
        <i class="fa fa-home"></i>
        Home
      </a>
    </li>
    {%- if 'vis' in user.roles or 'admin' in user.roles -%}
    <li>
      <a href="{{ url_for('vis.root') }}">
        <i class="fa fa-area-chart"></i>
        Visualization
      </a>
    </li>
    {%- endif -%}
    {%- if 'geodb' in user.roles or 'admin' in user.roles -%}
    <li>
      <a href="{{ url_for('geodb_editor.root') }}">
        <i class="fa fa-globe"></i>
        GeoDB-Editor
      </a>
    </li>
    {%- endif -%}
    {%- if 'readdb' in user.roles or 'admin' in user.roles -%}
    <li>
      <a href="{{ url_for('uri.place.root') }}">
        <i class="fa fa-map-marker"></i>
        Places
      </a>
    </li>
    {%- endif -%}
    <li>
      <a href="{{ url_for('docs.index.root') }}">
        <i class="fa fa-file-text"></i>
        Docs
      </a>
    </li>
    {%- if 'annotator' in user.roles or 'admin' in user.roles -%}
    <li>
      <a href="{{ url_for('annotator.root') }}">
        <i class="fa fa-pencil"></i>
        Annotator
      </a>
    </li>
    {%- endif -%}
    {%- if 'pgadmin' in user.roles or 'admin' in user.roles -%}
    <li>
      <a href="{{ url_for('root-app.root') }}/pgadmin/">
        <i class="fa fa-database"></i>
        pgAdmin4
      </a>
    </li>
    {%- endif -%}
    {%- endif -%}
    {%- for conditional, endpoint, name, fa_icon in extra -%}
    {%- if conditional -%}
    <li>
      <a href="{{ url_for(endpoint) }}">
        {% if fa_icon -%}
        <i class="fa fa-{{fa_icon}}"></i>
        {%- endif %}
        {{ name }}
      </a>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
{%- endmacro %}
