{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

<p>
  These controls located in the header bar of the page control the <em>interaction history</em> of the visualization.
  This allows users to undo, or redo, interactions.
  Each applied filter counts as an interaction, as do mode changes in the {{ full_documentation_link('settings-pane', 'settings pane') }}, and moving or zooming the map.
</p>

<h3>Buttons</h3>

<p>
  The control bar itself has three buttons:
  The <em>undo button</em> reverts the last interaction (i.e., goes up one level in the history tree).
  The <em>redo button</em> re-applies the last undone interaction (i.e., goes down one level in the history tree).
  It is disabled if there are no recent undone actions.
  The last button opens the <em>history tree</em> in a modal window.
</p>

<h3>History Tree Window</h3>

<p>
  The history tree window shows the interaction tree as a <em>node-link diagram.</em>
  Each state is represented by a circle, next to which the age of the state is written.
  Child states are connected to their parent by a link, which is straight for the first child, and makes a step for subsequent children.
  Children are placed to the right of their parent.
  The current state's node is filled.
  Clicking on a node will put the visualization in the respective state.
  Hovering over a node will give additional information in a tooltip.
</p>

<p>
  Three additional buttons in the history tree window allow to manage the visualization:
</p>

<dl>
  <dt>Clear:</dt>
  <dd>This will remove all states but the initial state from the tree, and revert the visualization to the initial state.</dd>
  <dt>Prune:</dt>
  <dd>
    This will prune all states from the history tree that are not the current state, or direct ancestors thereof.
    The result is a linear history from the initial state to the current state.
  </dd>
  <dt>Prune and condense:</dt>
  <dd>
    This will prune all states from the history tree but the initial state and the current state.
    The current state is then the direct child of the initial state, and no other states exist.
    If the current state is the initial state, the result will be the same as if clicking <strong>Clear.</strong>
  </dd>
</dl>
