{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

{% if show_figures %}
<figure id="fig-location-list-1">
  <img src="{{ url_for('docs.vis.static', filename='location-list-1.png') }}">
  <figcaption>
    The location list.
    The <em>location confidence</em> is indicated by a colored marker behind the place name.
    Places that match the search term at the top are highlighted in orange if their primary name matches, or in yellow if an alternative name matches.
    Names are shown in italics, darker, and desaturated if their location confidence level is not currently checked.
  </figcaption>
</figure>
{% endif %}

<p>
In this view, <strong>all locations</strong> in the data are listed, using their <em>main toponym</em> as place name.
Places can be searched, selected and filtered.
</p>

<article id="location-list-contents">
<h3>Contents</h3>

<p>
  The view consists of several sections:
  </p>
  <ul>
    <li>a <em>search</em> field;</li>
    <li>a <em>place filter;</em> and</li>
    <li>the actual <em>location list,</em> consisting of two lists, <em>Placed</em> and <em>Unplaced,</em> representing locations with and without geo-coordinates, respectively.</li>
  </ul>
<p>
  Detailed descriptions how to use the <em>search</em> field and the <em>place filter</em> are found below under <em>{{ full_documentation_link('location-list-interaction', 'Interaction', true) }}.</em>
  In what follows, the two lists are described.
</p>

<p id="location-list-unplaced">
  The list <em>Placed</em> contains all locations for which a geographical position is known.
  The list <em>Unplaced</em> contains all locations for which a geographical position is not (yet) known;
  in this case, <em>location confidence</em> is attributed with <em>no value</em> and colored accordingly.
</p>

<p>
  <em>Note:</em> Missing data is normal during research and while entering data is still in progress.
  However, missing data can severly affect confidence in the visualization if not properly communicated.
  We have therefore chosen to make missing geographical locations and time information explicit in separate views of this interface (apart from the section <em>Unplaced</em> in the <em>location list,</em> cf. the view <em>{{ full_documentation_link('untimed-data', 'Untimed Data') }}</em>).
  This also allows for searches directed at data in need of improvement.
</p>

<p>
  The position of the two lists can be swapped by clicking on the <b>⭥</b> swap button.
  The following is true for both lists:
  Each line in the lists represents one location.
  Locations are listed using their <em>main toponym</em> as place name.
  Accordingly, looking through the lists with a specific place name in mind, if this place name is not the <em>main toponym,</em> the location is not found and should be searched in the <em>Search field.</em>
  There, <em>alternative names</em> are considered as well (cf. {{ full_documentation_link('location-list-search-toponyms', 'further below', same=true) }}).
</p>
<p>
  The place names are sorted alphabetically, disregarding a prefix of apostrophes (e.g., for the letter <i>ʿain</i>) or Arabic definite articles;
  for instance, <q>Amid</q> comes before <q>'Amman</q>, and <q>Jubayl</q> comes before <q>al-Juma</q>.
</p>
<p>
  In <em>only active</em> mode (cf. the <em>{{ full_documentation_link('settings-all-data-only-active', 'Settings pane') }}</em>), only places with evidences matching the current filters are listed.
</p>
<p>
  When <em>hovering</em> over the line with the mouse, a <em>tooltip</em> (see {{ full_documentation_link('fig-location-list-2', 'this figure') }}) with additional information is shown, that is:
</p>
<ul>
  <li>place type,</li>
  <li>geographical location (i.e., coordinates),</li>
  <li>location confidence,</li>
  <li>alternative names,</li>
  <li>external URIs referencing the same place.</li>
</ul>

<p>
  Also, while hovering, a <i class="fa fa-fw fa-external-link"></i> link symbol appears at the very end of the line (see {{ full_documentation_link('fig-location-list-2', 'this figure') }}).
  Clicking the symbol opens an overview for this place, the so-called <em>place URI page</em> (cf. ###). <!-- Where will these place pages be described? -->
  <em>Note:</em> If the user has rights to edit the database, clicking the symbol leads to the respective entry of the location in the database instead.
</p>

<p>
  Behind the place name, the <em>location confidence</em> of each place is shown as a small, colored circle.
  The color scale is the same as in the <em>confidence view.</em>
  In <em>all data</em> mode (cf. the <em>{{ full_documentation_link('settings-all-data-only-active', 'Settings pane') }}</em>), when the filter set for <em>location confidence</em> does not match the place’s location confidence, this confidence circle is not filled.
  Also, the name is displayed <span style="font-style:italic;color:#d61;font-weight:700;filter:brightness(90%)saturate(60%)">in italics, darker, and in less saturated colors</span> in that case.
</p>

{% if show_figures %}
<figure id="fig-location-list-2">
  <img src="{{ url_for('docs.vis.static', filename='location-list-2.png') }}">
  <figcaption>
    A tooltip in the location list, for the place Antioch.
  </figcaption>
</figure>
{% endif %}

</article>


<section id="location-list-interaction">
<h3>Interaction</h3>

<h4>Selection</h4>

<p>
  Individual locations can be selected by clicking on the respective line of the list.
  This will highlight the location, bring it to the top of the list and show a short vertical line to the left of the place name.
  Data related to the selected location will be <em>linked</em> in all other views, while non-selected data will be displayed in less-saturated colors.
</p>

<article id="location-list-search-toponyms">
<h4>Searching for Toponyms</h4>
<p>
  It is possible to <strong>search for a specific place using different toponyms</strong> in the search field at the top.
  Non-Latin scripts can be used for searching, too.
</p>
<p>
  Typing a search query in that field will highlight the search results in <span style="color:#d61;font-weight:700">bold orange</span> and sort them to the top of the list.
  The search matches not only the <em>main toponym</em> but also <em>alternative names;</em>
  for example, <q>Edessa</q> will find the respective place under its <em>main toponym</em> <q>al-Ruha</q>.
  Matches to <em>alternative names</em> that do not match the <em>main toponym</em> are sorted after <em>main toponym</em> matches and highlighted in <span style="color:#dc1;font-weight:700">bold yellow.</span>
</p>
<p>
  Apart from toponyms, <strong>external URIs</strong> can be entered in the <em>search field.</em>
  For example, <code>syriaca:10</code> or <code>syriaca.org/place/10</code> finds Antioch.
</p>
<p>
  The search is partially case-sensitive:
  <code>ask</code> finds both <q>Daskara</q> as well as <q>al-Askar Mukram</q>, while <code>Ask</code> only finds <q>al-Askar Mukram</q>.
  The search field additionally supports JavaScript-style <strong>regular expressions.</strong>
  For example, searching for <code>Bagh?dad</code> would find <q>Bagdad</q> as well as <q>Baghdad</q>, because <code>h</code> followed by <code>?</code> matches no <q>h</q> or exactly one <q>h</q>.
  For further reference, refer to the documentation <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions">here</a>.
</p>
</article>

<h4>Filtering</h4>

<p>
  The expandable section <em>Place Filter</em> at the top of the view allows to <strong>filter evidences by place.</strong>
  When expanded, a list of all places in the database is shown.
  If, however, something has been entered into the <em>search field,</em> only places matching the search are listed.
</p>
<p>
  This list is used to include or exclude places from the so-called <em>place set,</em>
  that is, the set of places currently active.
  For instance, if Baghdad is excluded from the <em>place set,</em> all evidences attributed to Baghdad are filtered out.
  Keep in mind that, when <em>all data</em> mode is active, evidences attributed to places excluded from the <em>place set</em> are visible but displayed in less saturated colors.
</p>
<p>
  A place can be removed from the place set by clicking on the <em>red minus</em> on its right, or added to the place set by clicking on the <em>green plus.</em>
  Note that the selection is not applied until the <em>Apply</em> button is clicked.
  This button is disabled if the selected filters are matching the data currently visualized.
</p>
</p>
  A symbol to the left of the place name indicates the current state of the place:
</p>
<ul>
  <li>a <span style="color:#8fbcbb"><i class="fa fa-check"></i></span> turquoise check mark if the place is in the currently active <em>place set;</em></li>
  <li>no mark if the place is not in the currently active <em>place set;</em></li>
  <li>a <span style="color:#666"><i class="fa fa-times"></i></span> grey cross if it will be excluded from a new <em>place set</em> which has not been applied yet; and</li>
  <li>a <span style="color:#7c5"><i class="fa fa-check"></i></span> green check mark if it will be added to a <em>new place</em> set which has not been applied yet.</li>
</ul>
<p>
  <strong>Place sets can be saved</strong> using the <em>Save</em> button under the list.
  For users with access to the database, this will store a place set in the database under the name entered by the user.
  For users without access to the database, the place set will only be saved to <code>localStorage</code>.
  This feature is only available if the option <em>all cookies</em> is accepted in the <em>cookie preferences</em> (accessible through the menu bar on top).
  By clicking the <em>Load</em> button, a saved <em>place set</em> can be loaded back into the filter.
  <em>Note:</em>: Depending on your browser settings, cookies may be deleted after closing the browser, which leads to the loss of the saved <em>place sets.</em>
</p>

<h5>Buttons Facilitating Creating <em>Place Sets</em></h5>

<p>
  Buttons in the top left corner help in editing the <em>place set</em> on a larger scale:
</p>

<dl>
  <dt>The <i class="fa fa-history"></i> revert button</dt>
  <dd>
    will <em>revert</em> the changes to the <em>place set;</em>
    that is, the <em>place set</em> will match the current filters.
    <br>
    <em>Note:</em> Because of the functionalities detailed below, the <em>place set</em> will <strong>not</strong> update from the database when other filters change;
    it changes only with the initial load and loads of the visualization state (cf. this feature in the <em>{{ full_documentation_link('settings-persist-state', 'Settings') }}</em>).
    Instead, resetting the <em>place set</em> is left to the user, which allows to build up a place set incrementally as illustrated by the example below.
  </dd>
<dl>
  <dt>The <i class="fa fa-circle-o"></i> empty circle button</dt>
  <dd>
    will <em>uncheck</em> all places;
    that is, no place would be included in the intended <em>place set</em> after application.
  </dd>
  <dt>The <i class="fa fa-rotate-90 fa-exchange"></i> exchange button</dt>
  <dd>
    will <em>invert</em> the current marks;
    that is, all places that were marked are unmarked, and vice versa.
  </dd>
  <dt>The <i class="fa fa-dot-circle-o"></i> button with dot inside</dt>
  <dd>
    will <em>check</em> all places;
    that is, all places would be included in the intended <em>place set</em> after application.
  </dd>
  <dt>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <circle cx="14" cy="8" r="6" fill="currentColor" />
      <circle cx="8" cy="8" r="6" fill="currentColor" />
    </svg>
    set union button
  </dt>
  <dd>
    will <em>extend</em> the <em>place set</em> (PS) by all places currently shown in the <em>location list</em> (LL) (cf. {{ full_documentation_link('location-list-contents', 'the description above', true) }}).
    That is, all places that were in the <em>place set</em> before are still there, and <em>additionally</em> all places from the <em>location list</em> are checked.
    The result is the <em>set union</em> of the previous <em>place set</em> and the current <em>location list:</em>

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x222A; LL </p>
  </dd>
  <dt>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <clipPath id="circle2-clip">
        <circle cx="14" cy="8" r="6" />
      </clipPath>
      <circle cx="14" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="6" fill="currentColor" clip-path="url(#circle2-clip)" />
    </svg>
    set intersection button
  </dt>
  <dd>
    will <em>restrict</em> the <em>place set</em> to contain only a subset of its current contents, namely those places that are <em>also</em> in the <em>location list.</em>
    The result is the <em>set intersection</em> of the <em>place set</em> set and the current <em>location list:</em>

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x2229; LL </p>
  </dd>
  <dt>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <mask id="circle2-mask">
        <circle cx="8" cy="8" r="6" fill="white" />
        <circle cx="14" cy="8" r="6" fill="black" />
      </mask>
      <circle cx="14" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="6" fill="currentColor" mask="url(#circle2-mask)" />
    </svg>
    set subtraction button
  </dt>
  <dd>will <em>remove</em> all places currently in the <em>location list</em> from the <em>place set.</em>
    The result is the <em>set difference</em> of the previous <em>place set</em> and the current <em>location list:</em>

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x2216; LL </p>
  </dd>
</dl>

<p>
  These last three operations can be used to quickly create a complex <em>place set</em> from a number of criteria.
  <em>Note:</em> Since they use the contents of the <em>location list,</em> they only make sense when the <em>only active</em> visualization mode is active.
</p>
<p>
  To illustrate the possibilities provided by these operations, consider the following case:
  We want to explore all evidences of <em>Christianity</em> in cities between 800 and 900, where there are evidences for <em>Muslims</em> but <strong>not</strong> for <em>Jews:</em>
</p>

<ol>
  <li><em>Clear</em> all filters (everything is visible).</li>
  <li><em>Filter</em> by time range (800&ndash;900) in the time line.</li>
  <li><em>Filter</em> by religion using the <em>religion view,</em> choosing <em>Islamic</em> groups only, then click <em>Apply.</em></li>
  <li>
    <em>Restrict</em> the <em>place set</em> to only those places currently displayed by clicking the <em>set intersection</em> button.
    The <em>place set</em> now contains all places where there are evidences of Islam between 800 and 900.
    <br>
    <strong>Important:</strong> Do <em>not yet</em> apply the <em>place set.</em>
    This would affect the other views.
  </li>
  <li><em>Filter</em> by religion using the <em>religion view,</em> choosing <em>Jewish</em> groups only, then click <em>Apply.</em></li>
  <li>
    <em>Remove</em> the shown places from the <em>place set</em> by clicking the <em>set subtraction</em> button.
    The <em>place set</em> now only shows places where there are evidences of Islam between 800 and 900, but <em>not</em> of Judaism.
  </li>
  <li>
    <em>Apply</em> the place filter by clicking on the <em>Apply</em> button.
    <em>Note:</em> The map is blank;
    this is normal as you have just filtered out all places with presence of Judaism while the <em>religion view</em> is still set to show Judaism only.
  </li>
  <li><em>Filter</em> by religion using the <em>religion view,</em> choosing <em>Christian</em> groups only, then click <em>Apply.</em></li>
</ol>
</section>
