{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

{% if show_figures %}
<figure id="fig-source">
  <img src="{{ url_for('docs.vis.static', filename='source.png') }}">
  <figcaption>
    The source view.
  </figcaption>
</figure>
{% endif %}

<p>
  This view shows the <strong>sources</strong> from which the pieces of evidence (i.e., sets of data concerning a place, religious group, time span, and the respective confidences) were gathered.
</p>

<h3>Contents</h3>
<p>
  The view consists of a table, in which each row represents one source.
  The rows are sorted by descending number of pieces of evidence.
  Note that a piece of evidence can stem from more than one source;
  therefore, the sum total of all references to sources can be larger than the sum total of pieces of evidence.
  In what follows, the respective columns of one given row are described.
</p>

<h4>Checkboxes</h4>
<p>
  The first column contains a <em>checkbox</em> that toggles the visibility of evidence from a source.
  Keep in mind that a piece of evidence can stem from more than one source:
  as long as <em>any</em> source associated with a piece of evidence is checked in this view, the piece of evidence will be active.
</p>

<h4>Short Names</h4>
<p>
  The second column shows the <strong>short name</strong> of the source, generally an abbreviation.
  The full name of the source with bibliographical details is available via a tooltip;
  that is, when hovering over the name with the mouse.
</p>

<h4>Religion/Confidence Segmentation Visualization</h4>
<p>
  The third column visualizes the segmentation of the pieces of evidence on the religions or on the levels of confidence, depending on the chosen <em>display mode</em> (cf. {{ full_documentation_link('settings-display-mode', 'Display mode') }} in the <em>settings pane</em>;
  in <em>confidence mode,</em> instead of religion, the currently selected aspect of confidence is used.)
  The visualization used is a normalized stacked bar chart.
  Because the total width of the bars is the same regardless of the amount of pieces of evidence, the width of each segment signifies the number of pieces of evidence with that religion or confidence level <em>in relation to</em> the total evidence count for that source.
</p>

<h4>Evidence Count Visualization</h4>
<p>
  The fourth column visualizes the count of pieces of evidence for each source.
  This column uses the same scaling in all rows:
  the longer the bar, the more pieces of evidence stem from the respective source.
  This effectively creates a vertical histogram across the rows.
</p>

<h3>Interaction</h3>

<h4>Selection</h4>
<p>
  Clicking on a row will <em>select</em> the source, <em>brush</em> the represented data, and <em>link</em> related data in all views.
  For instance, locations in the <em>map</em> with pieces of evidence from the selected source will be highlighted, other locations will be represented by less saturated colors.
  Clicking on the same row again will reset the selection.
  Selecting a different row, or an element in a different view, will replace the selection;
  that is, only one source can be selected at a time.
</p>

<h4>Filtering</h4>
<p>
  A source can be filtered out from the visualized data in all views by (un-)checking the respective checkbox.
  Note that the new filter is not applied until the <em>Apply</em> button is clicked.
  This button is disabled if the selected filters are matching the data currently visualized.
</p>
<p>
  Checking multiple (or all) sources works as a <em>logical disjunction:</em>
  a piece of evidence is matched if it stems from <em>any</em> of the checked sources.
</p>
<p>
  The source filter works together with filters from other views in <em>logical conjunction;</em>
  for instance, if only source X and religion Y are set active in the respective views, only pieces of evidence with source X <em>and</em> religion Y are matched.
</p>

<p>
  Three additional buttons in the top left corner make filtering more convenient:
</p>
<dl>
  <dt><i class="fa fa-fw fa-lg fa-circle-o"></i> Uncheck all</dt>
  <dd>Uncheck all checkboxes.</dd>
  <dt><i class="fa fa-fw fa-lg fa-rotate-90 fa-exchange"></i> Invert</dt>
  <dd>
    Invert all checkboxes.
    Checked boxes are unchecked, unchecked boxes are checked.
  </dd>
  <dt><i class="fa fa-fw fa-lg fa-dot-circle-o"></i> Check all</dt>
  <dd>Check all checkboxes.</dd>
</dl>

<h4>Sorting</h4>

<p>
  The order of the shown sources can be changed using the sorting options switch in the center of the header of the view.
  The two options are:
</p>

<dl>
  <dt>
    <i class="fa fa-fw fa-lg fa-sort-alpha-asc"></i>
    Name
  </dt>
  <dd>
    Sort the sources first alphabetically, in ascending order, by their short name, which is shown in the second column of the list.
  </dd>

  <dt>
    <i class="fa fa-fw fa-lg fa-sort-numeric-desc"></i>
    Count
  </dt>
  <dd>
    Sort the sources first in descending order by the number of visible pieces of evidence derived from them.
    This is the default.
  </dd>
</dl>

<p>
  For both sorting modes, the other sorting criterion is considered as secondary criterion.
  More specifically, if the sources are ordered by count, and two sources have the same count, the source that would come first alphabetically is listed first of the two.
</p>
