{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

{% if show_figures %}
<figure id="fig-tags">
  <img src="{{ url_for('docs.vis.static', filename='tags.png') }}">
  <figcaption>
    The tags view.
    Three tags were selected.
  </figcaption>
</figure>
{% endif %}

<p>
  This view shows <strong>tags</strong> which are associated with pieces of evidence (i.e., sets of data concerning a place, religious group, time span, and the respective confidences).
  Tags were implemented to include additional information and to make further distinctions possible.
  For instance, the tag <em>Bishopric</em> is attributed to pieces of evidence referring to bishoprics as distinguished from <em>metropolitan sees</em>.
  This way, the visualized data can be filtered according to additional criteria.
  Note that, by default, all tags are <em>selected.</em>
  This means that no filters based on tags are active (cf. {{ full_documentation_link('tags-interaction', 'below', true) }}).
</p>

<h3>Contents</h3>
<p>
  The view consists of a table, in which each row represents one tag.
  The rows are sorted by default by descending number of pieces of evidence.
  In what follows, the respective columns of one given row are described.
</p>

<dl>
  <dt>Checkboxes</dt>
  <dd>
    The first column contains a <em>checkbox</em> used for filtering.
  </dd>

  <dt>Tag Names</dt>
  <dd>
    The second column shows the name of the tag.
    Generally, the name should be self-explanatory.
    Further information is displayed when hovering with the mouse.
  </dd>

  <dt>Evidence Count</dt>
  <dd>
    The third column shows the active number of pieces of evidence with that tag.
  </dd>

  <dt>Evidence Count Visualization</dt>
  <dd>
    The fourth column visualizes the count of pieces of evidence for each source.
    The less saturated part of the bar represents pieces of evidence that are not active (i.e., do not match the current filters).
  </dd>
</dl>

<section id="tags-interaction">
<h3>Interaction</h3>

<h4>Selection</h4>
<p>
  Clicking on a row will <em>select</em> the tag, <em>brush</em> the represented data, and <em>link</em> related data in all views.
  For instance, locations in the <em>map</em> with pieces of evidence with the selected tag will be highlighted, other locations will be represented by less saturated colors.
  Clicking on the same row again will reset the selection.
  Selecting a different row, or an element in a different view, will replace the selection.
  Only one tag at a time can be selected.
</p>

<h4>Filtering</h4>
<p>
  The visualized data can be filtered according to one tag or multiple tags in all views by (un-)checking the appropriate checkbox or checkboxes.
  Keep in mind that a piece of evidence can have no tag, one tag, or multiple tags.
  If, for instance, it has no tag, its visibility is not affected by the checkboxes.
  If, on the other hand, it has multiple tags, its visibility is only affected by (un-)checking all respective checkboxes.
  Note that the selection is not applied until the <em>Apply</em> button is clicked.

  Checking multiple (or all) tags works as a <em>logical disjunction:</em>
  a piece of evidence is matched if it is assigned <em>any</em> of the checked tags.
  The tag filter works together with filters from other views in <em>logical conjunction:</em>
  for instance, if only tag X and religion Y are selected in the respective views, only pieces of evidence with tag X <em>and</em> religion Y are matched.
</p>

<p>
  Three additional buttons in the top left corner make filtering more convenient:
</p>
<dl>
  <dt><i class="fa fa-fw fa-lg fa-circle-o"></i> Uncheck all</dt>
  <dd>Uncheck all checkboxes.</dd>
  <dt><i class="fa fa-fw fa-lg fa-rotate-90 fa-exchange"></i> Invert</dt>
  <dd>
    Invert all checkboxes.
    Checked boxes are unchecked, unchecked boxes are checked.
  </dd>
  <dt><i class="fa fa-fw fa-lg fa-dot-circle-o"></i> Check all</dt>
  <dd>Check all checkboxes.</dd>
</dl>


<h4>Sorting</h4>

<p>
  The order of the shown tags can be changed using the sorting options switch in the center of the header of the view.
  The two options are:
</p>

<dl>
  <dt>
    <i class="fa fa-fw fa-lg fa-sort-alpha-asc"></i>
    Name
  </dt>
  <dd>
    Sort the tags alphabetically, in ascending order, by their short name, which is shown in the second column of the list.
  </dd>

  <dt>
    <i class="fa fa-fw fa-lg fa-sort-numeric-desc"></i>
    Count
  </dt>
  <dd>
    Sort the tags first in descending order by the number of visible pieces of evidence derived from them.
    This is the default.
  </dd>
</dl>

<p>
  For both sorting modes, the other sorting criterion is considered as secondary criterion.
  More specifically, if the sources are ordered by count, and two sources have the same count, the source that would come first alphabetically is listed first of the two.
</p>
</section>
