{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

<p>
  Data with <strong>missing temporal information</strong> cannot be included in the timeline.
  Accordingly, this data is visualized in the <em>Untimed Data view</em> as a stacked bar chart.
</p>

<h3>Content</h3>

<p>
  The chart is divided by the four general religious affiliations along the x-axis.
  All pieces of evidence that have no temporal information and belong to one of these religious affiliations are stacked, with the number of pieces of evidence on the y-axis.
  The pieces of evidence are grouped and colored according to the religious group or the level of confidence, depending on the <em>display mode</em> selected in the <em>settings pane</em> (cf. {{ full_documentation_link('settings-pane', 'the info text there') }}).

<p>
  <em>Note:</em> Missing data is normal during research and while entering data is still in progress.
  However, missing data can severely affect confidence in the visualization if not properly communicated.
  We have therefore chosen to make missing geographical locations and time information explicit in separate views of this interface (apart from <em>untimed data,</em> cf. the <em>{{ full_documentation_link('location-list-unplaced', 'unplaced data') }}</em> in the <em>location list</em>).
  This also allows for searches directed at data in need of improvement.
</p>
