{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

{% if show_figures %}
<figure id="fig-confidence">
  <img src="{{ url_for('docs.vis.static', filename='confidence.png') }}">
  <figcaption>
    The confidence view.
    Aspects of confidence are listed as columns, and confidence levels ordered into rows.
    Checkboxes control which confidence levels should be shown for each aspect, and the number of evidences for each confidence level and aspect are given in numbers.
  </figcaption>
</figure>
{% endif %}


<p>
  This view shows the different <strong>level of confidences</strong> attributed to the different elements of an evidence (i.e., place, religious group, timespan, etc.).
</p>

<h3>Contents</h3>
<p>
  The view consists of a table, in which each row represents one <strong>level of confidence</strong> and each column an <strong>aspect of confidence</strong>.
  For each cell in the table, a checkbox for filtering (cf. {{ full_documentation_link('confidence-filtering', 'further below', true) }}) is displayed as well as the number of evidences with the respective confidence and aspect.
  The rows are sorted by descending level of confidence.
</p>

<h4>Levels of Confidence</h4>
<p>
  Generally, the confidence of any given information was categorized according to these 5 degrees:
</p>
<ul>
  <li><em>certain</em> (blue),</li>
  <li><em>probable</em>,</li>
  <li><em>contested</em>,</li>
  <li><em>uncertain</em>, and</li>
  <li><em>false</em> (red).</li>
</ul>
<p>
  In addition, a confidence can have <em>no value</em> at all (green).
</p>
<p>
  <em>Note</em>: The attribution with <em>no value</em> is used while data is still being collected and usually does not appear in a published instance of this visualization.
  A notable exception are places, especially regions, with no geo-coordinates.
  In that case, no attribution of confidence except <em>no value</em> is suitable.
</p>

<h4>Aspects of Confidence</h4>
<p>
  Confidence is attributed to different aspects of the data:
</p>

<dl>
  <dt><em>Timespan confidence</em></dt>
  <dd>
      signifies the confidence in the veracity of the timespan stored in an evidence.
      Evidences without a time attribute are assigned the confidence <em>no value</em>.
  </dd>
  <dt><em>Location confidence</em></dt>
  <dd>
    signifies the confidence in the geographical location of a place.
    Some places, especially regions, have <em>no value</em> (cf. above).
  </dd>
  <dt><em>Place attribution confidence</em></dt>
  <dd>
    signifies the confidence in assigning a location from the database to a toponym from a source.
  </dd>
  <dt><em>Source confidence</em></dt>
  <dd>
    signifies the confidence in the veracity and objectivity of the source itself regarding an evidence.
  </dd>
  <dt><em>Interpretation confidence</em></dt>
  <dd>
    signifies the confidence in the correct interpretation and recording of the source when entering an evidence into the database.
  </dd>
  <dt><em>Religion confidence</em></dt>
  <dd>
    signifies the confidence in the veracity of the presence of a particular religious group at a given time and place.
  </dd>
</dl>

<h3>Interaction</h3>

<article id="confidence-filtering">
<h4>Filtering</h4>

<p>
  For each aspect of confidence and each confidence level, a checkbox is shown in the respective cell.
  Unchecking a checkbox will filter out evidences with this confidence level for that aspect of confidence.
  This allows for a very fine-grained control over what data to visualize.
</p>
<p>
  Note that the selection is not applied until the <em>Apply</em> button is clicked.
  This button is disabled if the selected filters are matching the data currently visualized.
</p>

<p>
  The filters work in <em>logical conjunction</em> across different aspects of confidence;
  that is, having filters in place for multiple aspects of confidence will only show evidences that match <em>all</em> filters.
</p>

<p>
  Four additional buttons in the top left corner make filtering more convenient:
  <dl>
    <dt><i class="fa fa-fw fa-lg fa-circle-o"></i> Uncheck all</dt>
    <dd>Uncheck all checkboxes.</dd>
    <dt><i class="fa fa-fw fa-lg fa-rotate-90 fa-exchange"></i> Invert</dt>
    <dd>
      Invert all checkboxes.
      Checked boxes are unchecked, unchecked boxes are checked.
    </dd>
    <dt><i class="fa fa-fw fa-lg fa-dot-circle-o"></i> Check all</dt>
    <dd>Check all checkboxes.</dd>
    <dt><i class="fa fa-fw fa-lg fa-undo"></i> Default</dt>
    <dd>
      Revert the selection of checkboxes to the default.
      By default, <em>all</em> confidence levels are selected for location confidence, and only <em>certain</em> and <em>probable</em> for the other confidence aspects.
    </dd>
  </dl>
</p>

<p>
  In addition, entire <em>rows</em> or <em>columns</em> of checkboxes can be set to either checked or unchecked by clicking the <em>row header</em> (the confidence levels) or the <em>column header</em> (the aspects of confidence).
  Here, the new value for the new row (or column) is the inverse of what the majority of values (3 or more) was before;
  for example, if 4 checkboxes were checked, and 2 unchecked, for the <em>uncertain</em> row, clicking on the row header would <em>uncheck</em> all checkboxes in the row.
</p>
</article>

<h4>Visualized Aspect of Confidence</h4>

<p>
  By clicking on the <i class="fa fa-eye fa-lg"></i> eye in the bottom row of each column, the aspect of confidence that is visualized in <em>Confidence</em> mode (cf. <em>{{ full_documentation_link('settings-display-mode', 'Display mode') }}</em> in the pane <em>Settings</em>) can be selected.
  The currently selected aspect is indicated by a colored <i class="fa fa-eye fa-lg"></i> eye.
  By default, <em>Religion confidence</em> is used.
</p>
