<p>
This view shows the different level of confidences attributed to different data of an evidence tuple (i.e., a set of data concerning a place, religion, time span and the respective confidences).
</p>

<h1>Contents</h1>
<p>
  The view consists of a table in which each row represents one level of certainty and each column a certain category of data.
  The rows are sorted by descending level of certainty.
</p>

<h2>Levels of Confidence</h2>
<p>
  Generally, the confidence of any given information was categorized according to these 5 degrees: <em>false</em> (red), <em>uncertain</em>, <em>contested</em>, <em>probable</em>, and <em>certain</em> (blue).
  In addition, a confidence can have no value at all (green), e.g. when ###.
  <p>
    Each level of confidence is represented by one line in the controls.
    The number of evidence tuples with the respective confidence level is given as a number in the respective column.
  </p>
</p>

<h2>Aspects of Confidence</h2>
<p>
  <em>Time span confidence</em> signifies the confidence in the veracity of the time interval stored in an evidence tuple.
  Evidence tuples without a time attribute are assigned the lowest level of confidence.
</p>

<p>
  <em>Location confidence</em> signifies the confidence in the geographical location of a city.
  <em>Place attribution confidence</em> signifies the confidence in assigning a location from the database to a toponym from a historical source.
  Note the difference in these two kind of confidences regarding places.
</p>

<p>
  <em>Source confidence</em> signifies the confidence in the veracity and objectivity of the historical source of a piece of evidence. ###explain
  <em>Interpretation confidence</em> signifies the confidence in the interpretation of the source when entering a piece of historical evidence into the database. ###explain
</p>

<p>
  <em>Religion confidence</em> is the confidence in the veracity of a piece of evidence regarding the religion. ###explain
</p>

<h2>Interaction</h2>

<p>
For each aspect of confidence and each confidence level, a checkbox is shown in the respective cell.
Unchecking a checkbox will filter out evidence tuples with that confidence level for that aspect of confidence.
This allows for a very fine-grained control over what data to visualize.
</p>

<p>
The filters are <em>conjunctive</em> across different aspects of confidence;
that is, having filters in place for multiple aspects of confidence will only show evidence tuples that match <em>all</em> filters.
Filtering will happen only after the <em>Apply</em> button is pressed.
That button is disabled if the selected filters are up to date with the visualized data.
</p>

<p>
Three additional buttons in the top left corner make filtering more convenient:
<dl>
  <dt><i class="fa fa-fw fa-lg fa-circle-o"></i> Uncheck all</dt>
  <dd>Uncheck all checkboxes.</dd>
  <dt><i class="fa fa-fw fa-lg fa-rotate-90 fa-exchange"></i> Invert</dt>
  <dd>
    Invert all checkboxes.
    Checked boxes are unchecked, unchecked boxes are checked.
  </dd>
  <dt><i class="fa fa-fw fa-lg fa-dot-circle-o"></i> Check all</dt>
  <dd>Check all checkboxes.</dd>
</dl>
</p>

<p>
In addition, entire <em>rows</em> or <em>columns</em> of checkboxes can be set to either checked or unchecked by clicking on the <em>row header</em> (the confidence levels) or the <em>column header</em> (the aspects of confidence).
Here, the new value for the new row (or column) is the inverse of what the majority of values (3 or more) was before;
for example, if 4 checkboxes were selected, and 2 deselected, for the <em>uncertain</em> row, clicking on the row header would <em>uncheck</em> all checkboxes in the row.
</p>

<h2>Visualized Aspect of Confidence</h2>

<p>
By clicking on the <i class="fa fa-eye fa-lg"></i> eye in the bottom row of each column, the aspect of confidence that is visualized in <em>Confidence Mode</em> (cf. "Display mode" in the <em>Settings view</em>) can be selected.
The currently selected aspect is indicated by a colored <i class="fa fa-eye fa-lg"></i> eye.
By default, <em>religion confidence</em> is used.
</p>
