<p>
In this view, all locations in the data are listed by their main toponym. Places can be searched, selected and filtered.
</p>

<h3>Contents</h3>

<p>
  The view consists of several sections: a <em>Search field</em>, a <em>Place Filter</em>, and two lists showing <em>placed</em> and <em>unplaced</em> evidences, respectively.
  The position of the two lists can be swapped by clicking on the <b>⭥</b> swap button.
  Detailed descriptions how to use the <em>Search field</em> and the <em>Place Filter</em> are found below under <em>Interaction</em>.
</p>

<p>
  In what follows, the two lists for <em>placed</em> and <em>unplaced</em> evidences are described.
  First, features pertaining to both lists are introduced.
</p>

<p>
  Each line in the lists represents one location.
  Locations are listed with their <em>main toponym</em>.
  Accordingly, looking through the lists with a specific place name in mind, if this place name is not the <em>main toponym</em>, the location is not found and should be searched in the <em>Search field</em>.
  Here, <em>Alternative names</em> are considered, too (cf. further below).
  The place names are sorted alphabetically by locale, disregarding a prefix of apostrophes and arabic definite articles (i.e., <em><q>Amid</q></em> comes before <em><q>'Amman</q></em>, and <em><q>Jubayl</q></em> comes before <em><q>a-Juma</q></em>.
  In <em>Only active</em> mode (cf. the <em>Settings pane</em>), only the brushed locations are listed.
  When <em>hovering</em> over the line with the mouse, a <em>tooltip</em> with additional information is shown:
</p>
<ul>
  <li>place type,</li>
  <li>geographical location (i.e., coordinates),</li>
  <li>location confidence,</li>
  <li>alternative names,</li>
  <li>external URIs referencing the same place.</li>
</ul>
<p>
  Also, while hovering, an URI symbol appears at the very end of the line.
  Clicking the symbol opens the respective overview page of that place (cf. ###).
  (If the user has rights to edit the database, clicking the symbol leads to the respective entry of the location in the database instead.)
</p>

<p>
  Behind the place name, the <em>location confidence</em> of each place is shown as a small, colored circle.
  The color scale is the same as in the <em>Confidence view</em>.
  Additionally, when the <em>Location Confidence Filter</em> does not match the location's location confidence, the name is displayed <span style="font-style:italic;color:#d61;font-weight:700;filter:brightness(90%)saturate(60%)">in italics, darker, and desaturated</span>.
  The confidence circle is also not filled in that case.
  Keep in mind that this can only happen when the <em>All data</em> display mode is active, otherwise locations with non-matching location confidence will be hidden.
</p>

<p>
  The list <em>Placed</em> locations contains all locations for which a geographical position is known.
</p>

<p>
  The list <em>Unplaced</em> contains all locations for which a geographical position is not (yet) known.
  Note that in this case, <em>location confidence</em> is attributed with <em>no value</em> and colored accordingly.
  <em>Note:</em> Missing data is normal while entering data is still in progress.
  However, missing data can severly affect confidence in the visualization if not properly communicated.
  We have therefore chosen to make missing geographical locations and time information explicit in separate views of this interface (apart from the section <em>Unplaced</em> in the <em>Location List</em>, cf. the view <em>Untimed Data</em>).
  This also allows for searches directed at data in need of improvement.
</p>

<h3>Interaction</h3>

<h4>Searching for Toponyms</h4>

<h4>Selection</h4>

<p>
  Individual locations can be selected by clicking on the respective line of the list.
  This will highlight the location and bring it to the top of the list.
  Data related to the selected location will be <em>linked</em> in all other views, while non-selected data will be displayed in less-saturated colors.
</p>

<h4>Searching for Toponyms</h4>
<p>
It is possible to search for location names in the search field at the top.
Typing a search query in that field will highlight the search results in <span style="color:#d61;font-weight:700">bold orange</span> and sort them to the top of the list.
The search also matches alternative names.
Matches to alternative names that do not match the main name are sorted after main name matches and highlighted in <span style="color:#dc1;font-weight:700">bold yellow</span>.
</p>

<p>
The search field supports JavaScript-style regular expressions.
For example, to search for locations with an Arabic definite article, the query
</p>

<pre><code>  \ba([tdrzsṣḍṭẓln]|[tds]h)-
</code></pre>

<p>
can be used.
<b>Explanation</b>:
<code>\b</code> searches for the beginning of a word.
After, an <code>a</code> is required, and then any of <code>tdrzsṣḍṭẓln</code>, or <code>dh</code>, <code>th</code>, or <code>sh</code>.
After any of those, a dash <code>-</code> is required.
This will, for example, match <em>Marw <span style="color:#d61">ar-</span>Rudh</em>.
</p>

<h4>Filter by Place</h4>

<p>
The expandable <em>Place Filter</em> section at the top allows to filter evidence by attributed place.
When expanded, it shows a list of all places in the database.
A <i class="fa fa-check"></i> check mark beside the place name indicates that it is selected (i.e., part of the place set).
The check mark (or <i class="fa fa-times"></i> cross for removed places that are still part of the active filter) is colored dependent on the state between the visible place set and the active place filter:
no mark if the place is in neither;
a <span style="color:#8fbcbb"><i class="fa fa-check"></i></span> turquoise check mark if it is in both;
a <span style="color:#666"><i class="fa fa-times"></i></span> grey cross if it was removed, but has not been applied yet;
and a <span style="color:#7c5"><i class="fa fa-check"></i></span> check mark if it was added, but has not been applied yet.
A selected place can be removed from the place set by clicking on the <em>red minus</em> on its right, or added to the place set by clicking on the <em>green plus.</em>
By clicking on the <em>Apply</em> button, the place filter is applied to the dataset, and only evidences from the contained places are visualized.
</p>

<p>
Place sets can be saved using the <em>Save</em> button under the list.
This will store them under a unique name in the database.
By clicking the <em>Load</em> button, a saved place set can be loaded back into the filter.
Independently, the place sets are also stored when saving the entire visualization state.
</p>

<p>
A few buttons at the top help in selecting places on a larger scale:
</p>

<ul>
  <li>
    The <i class="fa fa-history"></i> revert button will <em>revert</em> the changes to the place set;
    i.e., the place set will match the current filters.
    Because of the functionalities detailed below, the place set will not update from the database when other filters change, only with the initial load and visualization state loads.
    Instead, resetting is left to the user, which allows to build up a place set incrementally.
  </li>
  <li>
    The <i class="fa fa-circle-o"></i> empty circle button will <em>deselect</em> all places;
    i.e., no place is selected.
  </li>
  <li>
    The <i class="fa fa-rotate-90 fa-exchange"></i> exchange button will <em>invert</em> the selection;
    i.e., all places that were selected are not any more, and vice versa.
  </li>
  <li>
    The <i class="fa fa-dot-circle-o"></i> dotted circle button will <em>select</em> all places;
    i.e., all places are selected.
  </li>
  <li>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <circle cx="14" cy="8" r="6" fill="currentColor" />
      <circle cx="8" cy="8" r="6" fill="currentColor" />
    </svg>
    set union button will <em>extend</em> the place set (PS) by all places currently shown in the location list (LL).
    The location list starts <em>below</em> the save and load buttons, and is affected by other filters.
    The result of clicking this button is that all places that were in the place set before are still there, and <em>additionally</em> all places from the location list are selected.
    The result is the <em>set union</em> of the previous place set and the location list:

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x222A; LL </p>
  </li>
  <li>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <clipPath id="circle2-clip">
        <circle cx="14" cy="8" r="6" />
      </clipPath>
      <circle cx="14" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="6" fill="currentColor" clip-path="url(#circle2-clip)" />
    </svg>
    set intersection button will <em>restrict</em> the place set to contain only a subset of its current contents, namely those places that are <em>also</em> in the location list.
    The result is the <em>set intersection</em> of the previous place set and the location list:

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x2229; LL </p>
  </li>
  <li>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <mask id="circle2-mask">
        <circle cx="8" cy="8" r="6" fill="white" />
        <circle cx="14" cy="8" r="6" fill="black" />
      </mask>
      <circle cx="14" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="6" fill="currentColor" mask="url(#circle2-mask)" />
    </svg>
    set subtraction button will <em>remove</em> all places currently in the location list from the place set.
    The result is the <em>set difference</em> of the previous place set and the location list:

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x2216; LL </p>
  </li>
</ul>

<p>
The last three operations can be used to quickly create a complex place sets from a number of criteria.
However, since they use the contents of the location list, they only make sense when the <em>Only active</em> visualization mode is active.
For an exemplary analysis, say you want to explore evidence of <em>Christianity</em> in cities between 800 and 900, but only for cities where we have evidence for <em>Muslims,</em> but <strong>not</strong> for <em>Jews:</em>
</p>

<ol>
  <li><em>Clear</em> all filters (everything is visible).</li>
  <li><em>Select</em> the time range (800&ndash;900) in the time line.</li>
  <li><em>Select</em> only the Islamic religious denominations in the religion hierarchy view, then click <em>Apply.</em></li>
  <li>
    <em>Restrict</em> the place set to only the places shown by clicking the <em>set intersection</em> button.
    The place set now contains all places where we have evidences of Islam between 800 and 900.
    <br /><strong>Important:</strong> Do <em>not yet</em> apply the place set. That would affect the other views.
  </li>
  <li><em>Select</em> only the Jewish religious denominations in the religion hierarchy view, then click <em>Apply.</em></li>
  <li>
    <em>Remove</em> the shown places from the place set by clicking the <em>set subtraction</em> button.
    The place set now only shows places where we have evidence of Islam between 800 and 900, but <em>not</em> of Judaism.
  </li>
  <li><em>Apply</em> the place filter by clicking on the <em>Apply</em> button.</li>
  <li><em>Select</em> only the Christian religious denominations in the religion hierarchy view, then click <em>Apply.</em></li>
</ol>
