{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

{% if show_figures %}
<figure id="fig-location-list-1">
  <img src="{{ url_for('docs.vis.static', filename='location-list-1.png') }}">
  <figcaption>
    The location list.
    The <em>location confidence</em> is indicated by a colored marker behind the place name.
    Places that match the search term at the top are highlighted in orange if their primary name matches, or in yellow if an alternative name matches.
    Names are shown in italics, darker, and desaturated if their location confidence level is not currently checked.
  </figcaption>
</figure>
{% endif %}

<p>
In this view, <strong>all locations</strong> in the data are listed, using their main toponym as place name.
Places can be searched, selected and filtered.
</p>

<h3>Contents</h3>

<p>
  The view consists of several sections:
  </p>
  <ul>
    <li>a <em>Search</em> field,</li>
    <li>a <em>Place Filter</em>, and</li>
    <li>two lists, <em>Placed</em> and <em>Unplaced</em>, representing locations with and without geo-coordinates, respectively.</li>
  </ul>
<p>
  The position of the two lists can be swapped by clicking on the <b>⭥</b> swap button.
  Detailed descriptions how to use the <em>Search</em> field and the <em>Place Filter</em> are found below under <em>Interaction</em>.
</p>

<p>
  The list <em>Placed</em> contains all locations for which a geographical position is known.
</p>

<p id="location-list-unplaced">
  The list <em>Unplaced</em> contains all locations for which a geographical position is not (yet) known.
  In this case, <em>location confidence</em> is attributed with <em>no value</em> and colored accordingly.
</p>
<p>
  <em>Note:</em> Missing data is normal during research and while entering data is still in progress.
  However, missing data can severly affect confidence in the visualization if not properly communicated.
  We have therefore chosen to make missing geographical locations and time information explicit in separate views of this interface (apart from the section <em>Unplaced</em> in the <em>Location List</em>, cf. the view <em>{{ full_documentation_link('untimed-data', 'Untimed Data') }}</em>).
  This also allows for searches directed at data in need of improvement.
</p>

<p>
  The following is true for both lists:
  Each line in the lists represents one location.
  Locations are listed using their <em>main toponym</em> as place name.
  Accordingly, looking through the lists with a specific place name in mind, if this place name is not the <em>main toponym</em>, the location is not found and should be searched in the <em>Search field</em>.
  There, <em>Alternative names</em> are considered as well (cf. {{ full_documentation_link('location-list-search-toponyms', 'further below', same=true) }}).
</p>
<p>
  The place names are sorted alphabetically, disregarding a prefix of apostrophes (e.g., for the letter <i>ʿain</i>) or Arabic definite articles;
  for instance, <q>Amid</q> comes before <q>'Amman</q>, and <q>Jubayl</q> comes before <q>al-Juma</q>.
</p>
<p>
  In <em>Only active</em> mode (cf. the <em>{{ full_documentation_link('settings-all-data-only-active', 'Settings pane') }}</em>), only places with evidences matching the current filters are listed.
</p>
<p>
  When <em>hovering</em> over the line with the mouse, a <em>tooltip</em> (see {{ full_documentation_link('fig-location-list-2', 'this figure') }}) with additional information is shown:
</p>
<ul>
  <li>place type,</li>
  <li>geographical location (i.e., coordinates),</li>
  <li>location confidence,</li>
  <li>alternative names,</li>
  <li>external URIs referencing the same place.</li>
</ul>

<p>
  Also, while hovering, a <i class="fa fa-fw fa-external-link"></i> link symbol appears at the very end of the line (see {{ full_documentation_link('fig-location-list-2', 'this figure') }}).
  Clicking the symbol opens an overview for this place, the so-called <em>place URI page</em> (cf. ###). <!-- Where will these place pages be described? -->
  (If the user has rights to edit the database, clicking the symbol leads to the respective entry of the location in the database instead.)
</p>

<p>
  Behind the place name, the <em>Location confidence</em> of each place is shown as a small, colored circle.
  The color scale is the same as in the view <em>Confidence</em>.
</p>
<p>
  In <em>All data</em> mode (cf. ###), when the filter set for <em>Location confidence</em> does not match the place's location confidence, the name is displayed <span style="font-style:italic;color:#d61;font-weight:700;filter:brightness(90%)saturate(60%)">in italics, darker, and in less saturated colors</span>.
  Also, the confidence circle is not filled in that case.
</p>

{% if show_figures %}
<figure id="fig-location-list-2">
  <img src="{{ url_for('docs.vis.static', filename='location-list-2.png') }}">
  <figcaption>
    A tooltip in the location list, for the place Antioch.
  </figcaption>
</figure>
{% endif %}


<h3>Interaction</h3>

<h4>Selection</h4>

<p>
  Individual locations can be selected by clicking on the respective line of the list.
  This will highlight the location, bring it to the top of the list and show a short vertical line to the left of the place name.
  Data related to the selected location will be <em>linked</em> in all other views, while non-selected data will be displayed in less-saturated colors.
</p>

<article id="location-list-search-toponyms">
<h4>Searching for Toponyms</h4>
<p>
  It is possible to <strong>search for a specific place using different toponyms</strong> in the search field at the top.
  Typing a search query in that field will highlight the search results in <span style="color:#d61;font-weight:700">bold orange</span> and sort them to the top of the list.
  The search matches not only the <em>main toponym</em> but also <em>alternative names</em>;
  for example, <q>Edessa</q> will find the respective place under its <em>main toponym</em> <q>al-Ruha</q>
  Matches to alternative names that do not match the main name are sorted after main name matches and highlighted in <span style="color:#dc1;font-weight:700">bold yellow</span>.
</p>
<p>
  Apart from toponyms, external URIs can be entered in the <em>Search field</em>.
  For example, <code>syriaca:10</code> or <code>syriaca.org/place/10</code> finds Antioch.
</p>
<p>
  The search is partially case-sensitive:
  <code>ask</code> finds both <q>Daskara</q> as well as <q>al-Askar Mukram</q>, while <code>Ask</code> only finds <q>al-Askar Mukram</q>.
  What is more, the search field supports JavaScript-style <strong>regular expressions</strong>.
  For example, searching for <code>Bagh?dad</code> would find <q>Bagdad</q> as well as <q>Baghdad</q>, because <code>h</code> followed by <code>?</code> matches no <q>h</q> or exactly one <q>h</q>.
  (For further reference, refer to the documentation <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions">here</a>.)
</p>
</article>

<h4>Filtering</h4>

<p>
  The expandable section <em>Place Filter</em> at the top of the view allows to <strong>filter evidences by place</strong>.
  When expanded, a list of all places in the database is shown.
  If, however, something has been entered into the <em>Search field</em>, only places matching the search are listed.
</p>
<p>
  This list is used to include or exclude places from the so-called <em>place set</em>, that is, the set of places currently active;
  for instance, if Baghdad is excluded from the <em>place set</em>, all evidences attributed to Baghdad are filtered out.
  Keep in mind that, when <em>All data</em> mode is active, evidences attributed to places excluded from the <em>place set</em> are visible but displayed in less saturated colors.
</p>
<p>
  A place can be removed from the place set by clicking on the <em>red minus</em> on its right, or added to the place set by clicking on the <em>green plus</em>.
  Note that the selection is not applied until the <em>Apply</em> button is clicked.
  This button is disabled if the selected filters are matching the data currently visualized.
</p>
</p>
  A symbol to the left of the place name indicates the current state of the place:
</p>
<ul>
  <li>a <span style="color:#8fbcbb"><i class="fa fa-check"></i></span> turquoise check mark, if the place is in the currently active place set;</li>
  <li>no mark, if the place is not in the currently active place set;</li>
  <li>a <span style="color:#666"><i class="fa fa-times"></i></span> grey cross if it will be excluded from a new place set which has not been applied yet; and</li>
  <li>a <span style="color:#7c5"><i class="fa fa-check"></i></span> green check mark if it will be added to a new place set which has not been applied yet.</li>
</ul>
<p>
  <strong>Place sets can be saved</strong> using the <em>Save</em> button under the list.
  This will store them under a unique name in the database.
  By clicking the <em>Load</em> button, a saved place set can be loaded back into the filter.
  Independently, the place sets are also stored when using the feature <em>Persist State</em> in the pane <em>Settings</em>.
</p>
<!-- proceed with rephrasing from here -->
<p>
  Buttons in the top left corner help in selecting places on a larger scale:
</p>

<ul>
  <li>
    The <i class="fa fa-history"></i> revert button will <em>revert</em> the changes to the place set;
    that <is></is>, the place set will match the current filters.
    Because of the functionalities detailed below, the place set will not update from the database when other filters change, only with the initial load and visualization state loads.
    Instead, resetting is left to the user, which allows to build up a place set incrementally.
  </li>
  <li>
    The <i class="fa fa-circle-o"></i> empty circle button will <em>deselect</em> all places;
    that is, no place is selected.
  </li>
  <li>
    The <i class="fa fa-rotate-90 fa-exchange"></i> exchange button will <em>invert</em> the selection;
    i.e., all places that were selected are not any more, and vice versa.
  </li>
  <li>
    The <i class="fa fa-dot-circle-o"></i> dotted circle button will <em>select</em> all places;
    i.e., all places are selected.
  </li>
  <li>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <circle cx="14" cy="8" r="6" fill="currentColor" />
      <circle cx="8" cy="8" r="6" fill="currentColor" />
    </svg>
    set union button will <em>extend</em> the place set (PS) by all places currently shown in the location list (LL).
    The location list starts <em>below</em> the save and load buttons, and is affected by other filters.
    The result of clicking this button is that all places that were in the place set before are still there, and <em>additionally</em> all places from the location list are selected.
    The result is the <em>set union</em> of the previous place set and the location list:

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x222A; LL </p>
  </li>
  <li>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <clipPath id="circle2-clip">
        <circle cx="14" cy="8" r="6" />
      </clipPath>
      <circle cx="14" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="6" fill="currentColor" clip-path="url(#circle2-clip)" />
    </svg>
    set intersection button will <em>restrict</em> the place set to contain only a subset of its current contents, namely those places that are <em>also</em> in the location list.
    The result is the <em>set intersection</em> of the previous place set and the location list:

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x2229; LL </p>
  </li>
  <li>
    The
    <svg width="22" height="12" viewBox="0 2 22 12">
      <mask id="circle2-mask">
        <circle cx="8" cy="8" r="6" fill="white" />
        <circle cx="14" cy="8" r="6" fill="black" />
      </mask>
      <circle cx="14" cy="8" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="1" fill-opacity="0.2" />
      <circle cx="8" cy="8" r="6" fill="currentColor" mask="url(#circle2-mask)" />
    </svg>
    set subtraction button will <em>remove</em> all places currently in the location list from the place set.
    The result is the <em>set difference</em> of the previous place set and the location list:

    <p> PS<sub>new</sub> = PS<sub>old</sub> &#x2216; LL </p>
  </li>
</ul>

<p>
  The last three operations can be used to quickly create a complex place set from a number of criteria.
  However, since they use the contents of the location list, they only make sense when the <em>Only active</em> visualization mode is active.
  For an exemplary analysis, say you want to explore evidence of <em>Christianity</em> in cities between 800 and 900, but only for cities where we have evidence for <em>Muslims,</em> but <strong>not</strong> for <em>Jews:</em>
</p>

<ol>
  <li><em>Clear</em> all filters (everything is visible).</li>
  <li><em>Select</em> the time range (800&ndash;900) in the time line.</li>
  <li><em>Select</em> only the Islamic religious denominations in the religion hierarchy view, then click <em>Apply.</em></li>
  <li>
    <em>Restrict</em> the place set to only the places shown by clicking the <em>set intersection</em> button.
    The place set now contains all places where we have evidences of Islam between 800 and 900.
    <br /><strong>Important:</strong> Do <em>not yet</em> apply the place set. That would affect the other views.
  </li>
  <li><em>Select</em> only the Jewish religious denominations in the religion hierarchy view, then click <em>Apply.</em></li>
  <li>
    <em>Remove</em> the shown places from the place set by clicking the <em>set subtraction</em> button.
    The place set now only shows places where we have evidence of Islam between 800 and 900, but <em>not</em> of Judaism.
  </li>
  <li><em>Apply</em> the place filter by clicking on the <em>Apply</em> button.</li>
  <li><em>Select</em> only the Christian religious denominations in the religion hierarchy view, then click <em>Apply.</em></li>
</ol>
