{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

<p>
  The <strong><em>Map</em></strong> visualizes the geographical aspect of the data, i.e., the evidences of institutionalized religious presence at different locations.
</p>

<h3>Content</h3>

<h4>Map Glyphs</h4>

<p>
  The locations are <em>aggregated</em> to eliminate overlap, and so, by default, each map glyph represents <em>one or more</em> cities, depending on the zoom level.
  (This so-called <em>Clustered</em> <em>Map mode</em> is the default and can be changed in the settings; cf. the info text below and the info text of the <em>Settings pane</em>.)
  When <em>hovering</em> over a glyph, it loses opacity and the aggregated locations are indicated on the map as small turquoise dots (maybe partially covered by the glyph).
  What is more, while hovering a tooltip is shown which provides information on the number of evidences, of religions, and of places related to the glyph. If the glyph does not aggregate more than ### places, for each place the toponym, the geo-coordinates, and more information on the evidences belonging to that place are provided.
</p>

<p>
  The map glyphs consist of up to four circles each representing one of the general religious affiliations.
  For example, Judaism is represented by a circle with a Star of David inside.
  All religions other than Islam, Judaism, and Christianity are pragmatically summarized under <q>Other</q>.
  In <em>Religion mode</em> (set by default), a circle functions like a pie chart where each piece represents a different religious group in its respective color and the piece’s size shows the amount of evidences of that religious group relative to the overall evidences of its general religious affiliation.
  In <em>Confidence mode</em>, the division of the circle or pie chart is based on the evidences attributed with different levels of confidence and is colored accordingly.
</p>

<p>
  In <em>Only active</em> mode, data that is filtered out disappears from the map.
  Note that this can lead to glyphs having less circles, if, e.g., all Christian data of a glyph is filtered out.
  In <em>All data</em> mode, the data that is filtered out is indicated by less saturated colours.
</p>

<p>
  If <em>in all shown map glyphs</em>, no more than four nodes of a lower part in the religion hierarchy would be present, the data is aggregated on that lower level.
  For example, if the map would only show two glyphs; one with the Latin Church, the Coptic Church, and the Georgian Orthodox Church; and the other with the Latin Church and the Rabbanites; each of these religious denominations could be represented by an individual circle.
  This will only happen if it is possible in all glyphs, as doing otherwise would skew the perceived variety of religions.
</p>

<h4>Unclustered Mode</h4>

<p>
  The aggregation or clustering of places can be turned off in the <em>Settings pane</em>.
  In <em>Unclustered mode</em>, each location is represented by an individual glyph.
  Here, the glyphs consist of smaller circles, one for each religious group.
  These circles are arranged in a hexagonal pattern.
  Overlap can and will happen in this mode, even when zooming out to a relative small scale.
  <em>Z</em>-ordering of the glyphs ensures that glyphs with fewer religious groups appear in front of larger glyphs with more religious groups.
  This mode should be used with due caution when interpreting the results.
</p>

<h4>Layers</h4>

<p>
  The map provides multiple layers, which can be controlled from the layer control in the upper right corner.
  One of two <em>base layers</em> is always selected and shown:
  By default, a layer based on a custom map from <a href="https://www.mapbox.com/about/maps">MapBox</a> is selected, which shows topological features but no geopolitical borders (e.g., borders of modern nation states).
  As an alternative, a map provided by the <a href="https://imperium.ahlfeldt.se/">Digital Atlas of the Roman Empire (DARE)</a> can be selected as the base layer.
</p>

<p>
  In addition, one or more overlay layers can be shown:
</p>
  <dl>
    <dt><em>Markers</em></dt>
    <dd>consists of the clustered or unclustered map glyphs. It is shown by default.</dd>
    <dt><em>Diversity Markers</em></dt>
    <dd>displays all locations, without clustering, each colored according to its religious diversity (i.e., the number of distinct religions present in each place). The color scale <a href="https://github.com/d3/d3-scale-chromatic#interpolateViridis">Viridis</a> is used, where low values are mapped to violet, and high values to yellow.</dd>
    <dt><em>Diversity Distribution</em></dt>
    <dd>shows an additional heatmap which approximates the religious diversity and is colored according to the same scale as the <em>Diversity Markers</em>.</dd>
    <dt><em>Distribution</em></dt>
    <dd>shows an additional heatmap which approximates the density of evidences.</dd>
  </dl>
<p><!-- This should be adapted to the terms used in the dl above. -->
  The density and marker layers for diversity are alternative representations for the same thing and should not be shown together, as they interfere.
  Similarly, the default marker layer and the diversity marker layer should not be shown together.
</p>

<h4>What the map is <em>not</em> Showing</h4>

<p>
  The map does <em>not</em> depict a representation of the population density in the medieval Middle East.
  In other words, an area with no or little map glyphs is not necesarrily less populated than other areas.
  What is more, the map makes no claim to be complete, nor does it show the general distribution of religions in a given area.
</p>

<p>
  The goal is explicitly to visualize <em>coexistence</em> of institutionalized religion.
</p>

<p>
  Empty areas on the map can have multiple reasons:
  <ul>
    <li>The area is outside the region of interest of the project, e.g., Europe.</li>
    <li>We have collected no data for a city.</li>
    <li>The city in question was purely Muslim, with no other religious communities.
      The existence of institutionalized Islam in that place or region and during that time period is more or less given but not the main focus of the project.
    </li>
  </ul>
</p>

<p>
  <!-- This paragraph needs to be checked and rephrased accordingly.-->
  Furthermore, in <em>Clustered mode</em>, the scaling of the map glyphs does <em>not</em> encode number of data points.
  The glyphs are only scaled such that they occupy the same space regardless of number of circles.
  The fixed radius is an artifact of the non-overlapping property.
</p>

<h3>Interaction</h3>

<p>
  The map can be interactively zoomed and panned (<q>moved</q>).
</p>

<h4>Selection</h4>

<p>
  Clicking on a map glyph will <em>select</em> the represented places and <em>link</em> the respective data in the rest of the views.
  Likewise, selecting data somewhere else will link the respective places in the map.
  Also, selecting a place in the location list will pan the map to center on that place.
  Map glyphs that are not selected will be displayed in less saturated colours.
  Linking persists when zooming, even if clustered glyphs split up or merge.
  Note, however, that a map glyph often represents more than one location.
  In this case, <em>all</em> of the circles belonging to the glyph are highlighted, even if the linking only refers to part of the evidences.
  For instance, a place may be selected from the <em>Location List</em> which only has evidences of the general religious affiliation <q>Christian</q>.
  If this place is aggregated with other places which also have, e.g., Islamic evidences, both the circle with the crescent as well as the one with the cross are highlighted.
</p>

<h4>Geographical Filtering</h4>
<p>
  Evidences can be filtered by geographical location.
  This is done by drawing the respective bounding shapes into the map.
  <!-- Is this information relevant for the users? -->
  For this, the Leaflet plugin for <a href="https://geoman.io/leaflet-geoman">Geoman</a> is used.
  The respective tools to control the filters are available by clicking on the button with the <i class="fa fa-filter"></i> funnel in the upper left corner of the map, below the zoom buttons.
  The button then expands to a set of controls, arranged in three blocks:
  the first block for adding elements, the second for editing them, and the third to apply, remove or revert the filters.
  These are described in detail below.
  Tooltips are also shown when hovering over the individual buttons.
</p>

<p>
  The first block is for <em>adding</em> new elements to the bounds.
  <ul>
    <li>A rectangular area can be added, where you first click in the map to select one corner, then move the mouse, and click again to select the opposite corner.</li>
    <li>The second option is to add a polygon.
      Here, a new point is appended to the polygon each time you click in the map.
      To complete the polygon, click on the first node.</li>
    <li>The last option is to add a circle.
    Click once to select the center, move the mouse, then click again once the circle has the appropriate radius.
    Keep in mind that the circle is converted to a GeoJSON when saving.</li>
  </ul>
</p>

<p>
  The second block contains controls for <em>editing</em> existing elements.
  It is possible to
  <ul>
    <li>move points on existing shapes,</li>
    <li>move entire shapes,</li>
    <li>cut (subtract) a polygon from an existing shape, and</li>
    <li>remove entire shapes.</li>
  </ul>
  Note that polygons can only be moved or removed individually before they have been applied as filters.
</p>

<p>
  The last block contains controls to <em>apply</em> the created bounds to the dataset filter.
  <ul>
    <li>The <i class="fa fa-trash"></i> trash can button removes all existing shapes.</li>
    <li>The <i class="fa fa-undo"></i> undo button reverts the bounds back to the state of the currently active filter, i.e., the geographical filters applied last. It then collapses the menu.</li>
    <li>The <i class="fa fa-save"></i> save button applies the new bounds to the dataset filter, and then closes the editor.</li>
  </ul>
</p>
