<p>
  This view shows all religious groups contained in the database and allows for selecting and filtering the data according to religion.
</p>

<h3>Content</h3>

<p>
  The list of religious groups is hierarchical and represented by an indented tree visualization:
  each religious group occupies a line, which is indented according to its rank in the hierarchy.
  Each line consists of an <em>abbreviation</em> for the religious group, a <em>node</em> (displayed as a bar) with the colour associated with the group, and a checkbox used for filtering.
  Hovering with the mouse over the line displays a tooltip with the full name of the religious group and the number of evidences for the group based on the currently applied filters.
</p>

<p>
  The general religious affiliation (e.g., Christianity) is on the first level of the hierarchy.
  For other religions beside Christianity, Islam and Judaism, we made the pragmatic choice to group them under the category <em>Other</em>;
  the main reason is that those are not the focus, and that this grouping allows symbols in the map view with no more than four subelements.
</p>

<p>
  The religious groups each have a distinct color.
  For Christianity (red), Islam (green), and Judaism (blue), the religious groups belonging to that general religious affiliation do have hues of the same colour.
  (However, the difference between colors is limited because of the amount of denominations.)
  In <em>Confidence mode</em> (cf. the info text of the <em>Settings pane</em>), the bars of the groups are colored based on the average confidence of the represented data.
</p>

<h3>Interaction</h3>

<h4>Selection</h4>

<p>
  Clicking on a line will <em>select</em> and the religous group.
  This group will be highlighted, other groups will be displayed in less saturated colors.
  The selection is <em>linked</em> to related data in all views.
  For instance, locations in the map with evidences from the selected source will be highlighted, other locations will be represented by less saturated colors.
</p>


<h4>Partial Highlighting</h4>

<p>
  The color of the nodes is modified based on how much of the data for the node is filtered out.
  In <em>only active</em> mode, a node is entirely colorful if <em>any</em> data with that religious denomination is not filtered out, and less colorful otherwise.
  In <em>all data</em> mode, the node is split up into two areas, showing the ratio of filtered-out data.
  The amount of filtered-out data is represented by an area with lower saturation.
</p>

<p>
  In <em>Confidence Mode</em>, each node is split up into more areas:
  One for each <em>active</em> confidence value, and one for each <em>inactive</em> confidence value.
  Inactive values again have a lower saturation.
  The aspect of confidence shown depends on which one is selected as visible in the confidence pane.
</p>


<h4>Filtering</h4>

<p>
  The checkbox of a religious group can be unchecked and thus be filtered out of the data throughout the entire visualization.
  Depending on whether <em>Only active</em> or <em>All data</em> mode is selected in the <em>Settings pane</em>, data that is filtered out is either hidden or displayed in less saturated colours.
</p>
<p>
  There are two basic modes for filtering by religion (more details further below):
  In <em>Simple mode</em>, evidences matching any of the checked religions is shown.
  In <em>Advanced mode</em>, only evidences from cities where checked <em>combinations</em> of religions exist are shown.
  Note that the selection is not applied until the <em>Apply</em> button is clicked, which is enabled once there are changes to the filter.
</p>


<h5>Simple Mode</h5>

<p>
  In <em>Simple</em> mode, all data on any checked religion is filtered.
  Initially, all religions are checked.
  To filter out a religion, it can be unchecked in the checkbox column.
  The new filter then needs to be applied clicking the <em>Apply</em> button.
</p>


<h5>Advanced Mode</h5>

<p>
  In <em>Advanced</em> mode, it is possible to filter not individual religious groups but different <em>sets</em> of religious groups.
  For instance, analysis may require to show places where two or more of the following three religious groups exist together: the Syriac Orthodox Church (SYR), the Armenian Church (ARM), and the Church of the East (COE) coexist, but not those where only one of the three is present.
  In this case, evidences are active if, for any set, all religious groups of that set are present at a place.
</p>

<p>
  Different from <em>Simple</em> mode, there are multiple columns of checkboxes.
  Each column represents a set of religious groups as described above.
  To <em>control</em> the filters in <em>Advanced</em> mode, columns can be added by using the <strong>&plus;</strong> plus button above each column.
  Every column (except the last remaining one) can be deleted by pressing the <strong>&times;</strong> cross button above the column.
  The column's checkbox selection can be <em>inverted</em> using the <strong>!</strong> exclamation sign button.
</p>

<p>
  The following procedure creates a filter corresponding to the analysis described above:
</p>
  <ul>
    <li>Switch to <em>advanced</em> mode.</li>
    <li>Create two additional columns by pressing the &plus; plus button.</li>
    <li>In the first column, activate SYR and ARM.</li>
    <li>In the second column, activate SYR and COE.</li>
    <li>In the third column, activate ARM and COE.</li>
    <li>Press <em>apply.</em></li>
  </ul>
<p>
  Note: If only places should match the filter where <em>all</em> of these three religious groups are present, only one column in <em>Advanced</em> mode is necessary with all three groups checked.
  This must be understood as <q>evidences with COE <strong>and</strong> ARM <strong>and</strong> SYR.</q>
  In turn, this differs from checking the three religious groups in <em>Simple</em> mode, which equals <q>evidences with COE <strong>or</strong> ARM <strong>or</strong> SYR.</q>
</p>
