{#- vim: set ft=htmldjango : -#}
{% from 'docs/vis-documentation-macros.html' import full_documentation_link with context %}

{% if show_figures %}
<figure id="fig-settings">
  <img src="{{ url_for('docs.vis.static', filename='settings.png') }}">
  <figcaption>
    The settings pane.
  </figcaption>
</figure>
{% endif %}

<p>
  This view shows different <strong>settings and features.</strong>
</p>

<section id="settings-vis-settings">
<h3>Visualization Settings</h3>

<p>
  These are settings that directly affect the visualization.
  In particular, they control which data is shown and in what way.
</p>


<article id="settings-all-data-only-active">
<h4>Show filtered data</h4>

<p>
  This switch controls if data is visualized although it does not match the currently applied filters.
  If <em>All data</em> is selected, non-matched data is represented by less saturated colors.
</p>
</article>

<article id="settings-display-mode">
<h4>Display mode</h4>

<p>
  This switch controls which aspect of the data is mapped to color.
  If <em>Religion</em> is selected, religion is used for coloring, using the color scheme in the view <em>Religion</em>.
  If <em>Confidence</em> is selected, the level of confidence is used, using the color scheme in the view <em>Confidence</em>.
  The <em>aspect of confidence</em> used for the visualization can be selected in the view <em>Confidence</em>;
  there, the currently used aspect is indicated with an <i class="fa fa-eye"></i> eye symbol below the column.
</p>
</article>

<h4>Timeline mode</h4>

<p>
  This switch controls whether the <em>Timeline</em> shows a qualitative summary or quantitative information.
  If <em>Quantitative</em> is selected, the number of evidences of that type in that year is represented by the height of the area.
  The timeline then looks like a <em>stacked area chart</em>.
  If <em>Qualitative</em> is selected, the timeline only shows <em>whether</em> there are evidences of that type each year.
  The timeline then looks like a <em>Gantt chart</em>.
</p>

<article id="settings-map-mode">
<h4>Map mode</h4>

<p>
  This switch controls whether map glyphs are <em>clustered</em> or <em>unclustered</em>.
  By default, glyphs are clustered:
  zooming out will lead to religions attributed to different places being <q>summarized</q>.
  (Note that for these <q>summaries</q>, all places are treated equally;
  for example, the distribution of religions of place A and place B is combined without taking into account any further aspects of A or B.)
</p>
<p>
  If glyphs are unclustered, one small symbol per place and religion is shown.
  <em>Note</em>: This mode may lead to overlap of symbols when zooming out even to a relative small scale and should thus be used with due caution when interpreting the results.
</p>
</article>
</section>


<h3>Generate Report</h3>

<p>
  With this feature, a detailed <strong>text report</strong> can be generated, which presents all data according to the applied filters.
  The report will also contain information on the filter criteria that led to the selection of data.
  After clicking <em>Generate report</em>, a new tab in the browser will open. A report can also be created by uploading a <em>visualization state</em> that was safed and downloaded beforehand (see below).
  More about reports can be found on the <a href="{{ url_for('root-app.root') }}" target="_blank">start page</a>.
</p>
<p>
  <em>Note:</em> It is discouraged to create a report with very broad filter criteria, as it will become very long and thus difficult to handle.
</p>

<p>
  This section also has a button labeled <em>Describe filters</em>.
  Clicking this button will open a small window (a so-called modal window) within the visualization that describes the currently active filters in text form.
  This description is the same as the one at the top of a report.
</p>


<h3>Layout Settings</h3>

<p>
  The current layout of the visualization, i.e. the arrangement of the views, can be saved.
  This feature is only available if the option <em>All cookies</em> is accepted in the <em>Cookie preferences</em> (accessible through the menu bar on top).
  The <em>Layout settings</em> will only persist for the currently used browser and computer (using <code>localStorage</code>).
  You can also reset the layout to the initial state. Note that this will reload the page.
</p>
<p>
  <em>Note</em>: Depending on your browser settings, cookies may be deleted after closing the browser, which leads to the loss of the saved <em>Layout settings</em>.
  In this case, the <em>Persist state</em> feature (see below) can be used as an alternative.
</p>


<h3>Persist State</h3>

<p>
  With this feature, the current <strong>overall state</strong> of the visualization can be saved.
  In particular, this will save
</p>

<ul>
  <li>the <em>filters</em> that are currently applied,</li>
  <li>the center point, zoom level, and visible layers of the <em>Map</em>, and</li>
  <li>the <em>Visualization settings</em> (cf. {{ full_documentation_link('settings-vis-settings', 'above', true) }}).</li>
</ul>

<p>
  These settings are <span class="no-break"><i class="fa fa-download"></i> <em>downloaded</em></span> as a file to the computer.
  Later, such a file can be <span class="no-break"><i class="fa fa-upload"></i> <em>uploaded</em></span> to restore the state.
  What is more, the file can be shared to either present your results or to (re-)generate a report based on the filters.
</p>
