<p>
  This view shows the <strong>sources</strong> from which the evidences (i.e., a set of data concerning a place, religious group, time span, and the respective confidences) were gathered.
</p>

<h3>Contents</h3>
<p>
  The view consists of a table, in which each row represents one source.
  The rows are sorted by descending number of evidences.
  (Note that an evidence can stem from more than one source.
  Therefore, the sum total of all references to sources can be larger than the sum total of evidences.)
  In what follows, the respective columns of one given row are described.
</p>

<h4>Checkboxes</h4>
<p>
  The first column contains a <em>checkbox</em> that toggles the visibility of evidences of a source.
  Keep in mind that an evidence can stem from more than one source:
  as long as <em>any</em> source associated with an evidence is checked in this view, the evidence will be active.
</p>

<h4>Short Names</h4>
<p>
  The second column shows the <strong>short name</strong> of the source, generally an abbreviation.
  The full name of the source with bibliographical details is available via a tooltip, i.e., when hovering over the name with the mouse.
</p>

<h4>Religion/Confidence Segmentation Visualization</h4>
<p>
  The third column visualizes the segmentation of the evidences on the religions or on the levels of confidence, depending on the <em>mode</em> (cf. "Display mode" in the <em>Settings pane</em>.
  In <em>Confidence Mode</em>, instead of religion, the currently selected aspect of confidence is used.)
  The visualization used is a normalized stacked barchart.
  Because the total width of the bars is the same regardless of the amount of evidences, the width of each segment signifies the number of evidences with that religion or confidence level <em>in relation to</em> the total evidence count for that source.
</p>

<h4>Evidence Count Visualization</h4>
<p>
  The fourth column visualizes the count of evidences for each source.
  This column uses the same scaling in all rows:
  the longer the bar, the more evidences stem from the respective source.
  This effectively creates a vertical histogram across the rows.
</p>

<h3>Interaction</h3>

<h4>Selection</h4>
<p>
  Clicking on a row will <em>select</em> the source and <em>link</em> related data in all views.
  For instance, locations in the <em>Map</em> with evidences from the selected source will be highlighted, other locations will be represented by less saturated colors.
  Clicking on the same row again will reset the selection.
  Selecting a different row, or an element in a different view, will replace the selection.
  Only one source can be selected at a time.
</p>

<h4>Filtering</h4>
<p>
  A source can be filtered out from the visualized data in all views by (un-)checking the respective checkbox.
  Note that the selection is not applied until the <em>Apply</em> button is clicked.
</p>
<p>
  Checking multiple (or all) sources works as a <em>logical disjunction</em>:
  an evidence is matched if it stems from <em>any</em> of the checked sources.
  The source filter works together with filters from other views in <em>logical conjunction</em>;
  for instance, if only source X and religion Y are selected in the respective views, only evidences with source X <em>and</em> religion Y are matched.
</p>

<p>
  Three additional buttons in the top left corner make filtering more convenient:
</p>
  <dl>
    <dt><i class="fa fa-fw fa-lg fa-circle-o"></i> Uncheck all</dt>
    <dd>Uncheck all checkboxes.</dd>
    <dt><i class="fa fa-fw fa-lg fa-rotate-90 fa-exchange"></i> Invert</dt>
    <dd>
      Invert all checkboxes.
      Checked boxes are unchecked, unchecked boxes are checked.
    </dd>
    <dt><i class="fa fa-fw fa-lg fa-dot-circle-o"></i> Check all</dt>
    <dd>Check all checkboxes.</dd>
  </dl>
