<p>
This view shows tags that are associated with evidence tuples, and how many evidence tuples are currently active for each tag.
An evidence tuple can have no tags, or one or multiple tags.
By default, all tags are <em>deselected.</em>
This means that no filters are active.
Selecting one or more tags, and applying that selection, adds a filter that matches evidence tuples with <em>one or more</em> of the selected tags.
</p>

<p>
All tag filters can be <em>cleared</em> by clicking the <strong><i class="fa fa-fw fa-trash"></i></strong> trash bin icon.
If there were active filters beforehand, this action must also be <em>applied.</em>
The tag selection can be <em>reverted</em> to the applied (i.e., active) selection by clicking the <strong><i class="fa fa-fw fa-history"></i></strong> revert icon.
</p>
