<p>
  The <strong><em>Timeline</em></strong> shows the distribution of the different religious groups along the overall time period focused in DhiMu, i.e., 700–1500. In <em>Confidence mode</em>, the level of confidence is shown instead of religious groups (cf. the info texts of the <em>Confidence view</em> and of the <em>Settings pane</em>, respectively).
</p>

<h2>Content</h2>

<p>
  The <em>Timeline</em> consists of two graphs, an upper and a lower one, described below.
</p>
<p>
  When <strong>hovering</strong> over the timeline, a tooltip with a summary of evidences for that year is displayed. When selecting data in other views, through <em>brushing and linking</em>, only the selected data shows in the timeline.
</p>
<p>
  Also, the view changes depending on the choice of <em>Show filtered data</em> in the <em>Settings pane</em>: in <em>All data</em> mode, data that is filtered out is indicated by less saturated colours. However, the filters do not influence the timeline itself. In <em>Only active</em> mode, data that is filtered out is hidden from the visualization in all views, including the timeline.
</p>

<h3>Upper graph</h3>
<p>
  The bigger <em>upper graph</em> shows either a qualitative summary or quantitative information, depending on <em>Timeline mode</em> selected in the <em>Settings pane</em>. If <q>quantitative</q> is selected, the number of evidences of that type in that year is encoded into the height of the area. If <q>qualitative</q> is selected, the timeline only shows whether there are evidences of that type each year.
  The colours used in the graph match the ones used in the <em>Religion view</em> or <em>Confidenc view</em>, depending on the <em>Display mode</em> selected in the <em>Settings pane</em>.
</p>

<p>
  Importantly, the upper graph can be used to filter the data according to time (cf. the section on <em>filtering</em> below).
</p>

<h3>Lower graph</h3>
<p>
  The smaller <em>lower graph</em> shows all data currently visualized according to the filters of other views. It serves as an overview that does not change while zooming or selecting data (cf. the info texts of other views, such as the <em>Source view</em>, dealing with <em>selection</em>).
</p>

<p>
  Also, the lower graph serves as a <q>minimap</q> for the larger <em>upper graph</em>: if a section from the lower graph is selected by clicking and dragging, the upper graph shows only the selected timespan. Vice versa, if the data is filtered by clicking and dragging in the upper graph, the selected range is indicated as a thick bar below the lower graph.
</p>

<h2>Interaction</h2>

<h3>Filtering</h3>

<p>
  By <em>clicking and dragging</em> the upper graph, a time range can be selected.
  This is indicated by a rectangle, and the area outside that rectangle is displayed in less saturated colours.
  This time range serves as a time filter for the data in the entire visualization.
  Clicking anywhere in the upper graph resets the filter.
</p>
