<p>
  Data with missing temporal information cannot be included in the timeline.
  Accordingly, this data is visualized in <em>Untimed Data view</em> as a chart.
</p>

<h2>Content</h2>

<p>
  The chart is divided by the four general religious affiliations along the x-axis.
  All evidences with no temporal information belonging to one of these religions are stacked, with the number of evidences on the y-axis.
  The evidences are grouped and colored according to the religious group or level of confidence, depending on the <em>Display mode</em> selected in the <em>Settings pane</em>.

<p>
  <em>Note:</em> Missing data is normal while entering data is still in progress.
  However, missing data can severly affect confidence in the visualization if not properly communicated.
  We have therefore chosen to make missing geographical locations and time information explicit in separate views of this interface (apart from <em>Untimed Data</em>, cf. the section <em>Unplaced</em> in the <em>Location List</em>).
  This also allows for searches directed at data in need of improvement.
</p>
