@use 'colors' as *;
@use 'vis-variables' as *;
@use 'mixins';

:root {
  font-family: sans-serif;
}

.environment-label {
  @include mixins.fixedLabel();
}

body {
  background: $clr-bg-root;
  color: $clr-fg;
  margin: 0em;
  padding: 0em;
}

.section {
  box-sizing: border-box;
  background: $clr-bg;
  margin: $margin;
  padding: $padding;
  display: flex;
  box-shadow: $box-shadow;
}

.container {
  height: #{calc(100vh - #{3 * $margin} - #{$header-height})};
  box-sizing: border-box;
  margin-inline: $margin;

  .map-container,
  .timeline-container,
  .untimed-container {
    display: grid;
  }

  .location-list-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .confidence-container,
  .religion-container,
  .source-container,
  .tags-container {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 1fr;
  }

  .religion-container > .svg-container {
    overflow-y: auto;
  }

  & h1 {
    font-size: 1rem;
    margin: 0.2rem;
    margin-bottom: 0.5rem;
    padding: 0;
  }

  & h2 {
    font-size: 0.8rem;
    margin: 0.1rem;
    margin-bottom: 0.3rem;
    padding: 0;
  }
}

.confidence__header {
  display: grid;
  grid-template-columns: repeat(4, max-content) auto;

  & > button:last-of-type {
    margin-left: auto;
  }
}

.source__header {
  display: grid;
  grid-template-columns: repeat(3, max-content) auto;

  & > button:last-of-type {
    margin-left: auto;
  }
}

.hierarchy__header {
  display: grid;
  grid-template-columns: repeat(2, max-content) auto;

  & > button:last-of-type {
    margin-left: auto;
  }
}

.tags__header {
  display: grid;
  grid-template-columns: repeat(2, max-content) auto;

  & > button:last-of-type {
    margin-left: auto;
  }
}

div#map {
  // new stacking context
  position: relative;
  z-index: 0;
}


.location-list__scrollarea {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.navbar {
  width: calc(100% - #{$margin * 2});
  height: $header-height;
  display: flex;
  flex-align: center;

  &__links {
    margin-left: 2rem;
  }

  &__link {
    text-decoration: none;
    color: $clr-link;
    padding-left: 1rem;
  }

  &__controls {
    margin-left: 5rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: columns;
  }
}

.messages {
  margin-left: auto;
}

svg#timeline,
svg#untimed,
svg#uncertainty,
svg#hierarchy {
  width: 100%;
  height: 100%;
}

svg#hierarchy {
  // fixes scrollbar showing because 100% seems to be too much...
  height: clamp(500px, calc(100% - 4px), 1200px);
}

svg#untimed {
  max-width: 700px;
  max-height: 600px;
}

svg rect {
  mix-blend-mode: normal;
}

.svg-defs {
  // must be visible for SVG <filter>s to work, but should not be part of grid, and have no displacement
  position: fixed;
}

.timeline__controls,
.hierarchy__controls {
  position: relative;
  padding: 2px 5px;
  border-radius: 2px;
  background: $clr-bg;
  margin: 0px 0.5rem;
}

.timeline__controls--narrow {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px 5px;
}

.confidence__controls {
  margin-right: 2px;
}
