@use 'common/colors' as *;
@use 'common/mixins';

@forward 'common/headings';
@forward 'common/links';
@forward 'common/flashes';
@forward 'common/cookies';
@forward 'common/header';
@forward 'common/misc';
@forward 'common/buttons';
@forward 'common/accessibility';

// main body

:root {
  background: $clr-bg-root;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-areas: "header"
                       "content"
                       "footer";
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto max-content;

  margin: 0;
  height: 100vh;
  width: 100vw;
}

header { grid-area: header }
footer { grid-area: footer }

header,
footer {
  @include mixins.baseFlexBlock();

  padding: 1em;
  font-size: 0.8rem;
}

// content

.content {
  grid-area: content;
  overflow: auto;
}

.environment-label {
  @include mixins.fixedLabel();
}
