@use 'common/colors' as *;
@use 'common/mixins';

@forward 'common/headings';
@forward 'common/links';
@forward 'common/flashes';
@forward 'common/cookies';
@forward 'common/header';
@forward 'common/misc';
@forward 'common/buttons';
@forward 'common/accessibility';

// main body

:root {
  background: $clr-bg-root;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  @include mixins.baseFlexBlock();

  padding: 1em;
  font-size: 0.8rem;
}

// content

.content {
  min-height: 50vh;
}

.environment-label {
  @include mixins.fixedLabel();
}
