@use 'common/colors' as *;
@use 'common/mixins';

.content {
  @include mixins.baseFlexBlock();
  color: $clr-fg;

  display: flex;
  justify-content: center;
}

pre {
  font-size: 0.8rem;
  width: max-content;

  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
}

.changelog-wrapper {
  max-width: 65ch;
}

h2 {
  padding-inline: 0;
  padding-block: 1rem 0.5rem;
}

h2 + p {
  margin-top: 0.2rem;
}
