@use 'common/colors' as *;
@use 'common/mixins';

.content {
  @include mixins.baseFlexBlock();
  color: $clr-fg;

  display: flex;
  justify-content: center;
}

pre {
  font-size: 0.8rem;
  width: max-content;

  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
}

.changelog-wrapper {
  max-width: 65ch;
}
