@use 'common/colors' as *;
@use 'common/mixins';

.content {
  @include mixins.baseFlexBlock();
  padding-block: 4rem;
}

h1, h2, h3, h4, h5, h6,
p,
ul,
.content__block {
  max-width: 1200px;
  margin: auto;
}

table {
  margin: auto;
  min-width: 50%;
  padding-top: 1rem;
}

.td-first {
  font-weight: 800;
}

p, h2, h3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

p {
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  line-height: 1.5;
}

.emph {
  color: $clr-accent;
  font-style: italic;
}

.code {
  color: $clr-red;
  font-family: monospace;
  font-size: 1.1em;
  padding: 3px;
}

ul, ol{
  margin-block: 1em;
}
