@use 'common/colors' as *;
@use 'vis/variables' as *;
@use 'common/mixins';

@forward 'common/target-highlight';
@forward 'common/leaflet-mapbox-attribution';
@forward 'common/place-uri-report-layout';

.info-box {
  float: right;
  width: 400px;
  font-size: 0.8rem;

  .map {
    height: 200px;

    &--none {
      display: flex;
      align-items: center;
      justify-content: center;

      background: $clr-gray;
      color: $clr-lightgray;

      font-size-adjust: smaller;
      font-variant: small-caps;
    }
  }

  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid $clr-gray;
    border-collapse: collapse;
  }
}

li[data-footnote-number]::marker {
  content: attr(data-footnote-number) " ";
  color: $clr-gray;
}
