@use 'common/colors' as *;
@use 'vis/variables' as *;
@use 'common/mixins';

@forward 'common/target-highlight';
@forward 'common/leaflet-mapbox-attribution';
@forward 'common/place-uri-report-layout';

.info-box {
  font-size: 0.8rem;

  .map {
    height: 200px;

    &--none {
      display: flex;
      align-items: center;
      justify-content: center;

      background: $clr-gray;
      color: $clr-lightgray;

      font-size-adjust: smaller;
      font-variant: small-caps;
    }
  }

  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid $clr-gray;
    border-collapse: collapse;
  }
}

li[data-footnote-number]::marker {
  content: attr(data-footnote-number) " ";
  color: $clr-gray;
}

h1 {
  margin-block: 3rem;
}

h1 + h2.subtitle {
  text-align: center;
  margin-block: -3rem 3rem;
}

h2 + a.under-header-link {
  font-size: small;
  margin-block-start: calc(-1.2rem + 0.1em);
  display: block;
}

